.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text_nowrap {
  white-space: nowrap !important;
}

.form-control {
  margin: 0;
  width: 100%;
  outline: none;
  color: #3a3636;
  padding: 4px 12px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  display: inline-block;
  background: #fff;
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.form-control::-moz-placeholder {
  color: #3a3636;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #3a3636;
}
.form-control::-webkit-input-placeholder {
  color: #3a3636;
}
.form-control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form-control:focus {
  border-color: #B9B9B9;
}
.form-control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form-control:focus:-ms-input-placeholder {
  color: transparent;
}
.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-select {
  margin: 0;
  width: 100%;
  outline: none;
  color: #3a3636;
  padding: 4px 12px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  display: inline-block;
  background: #fff;
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  background-image: url("../img/icon_select.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  -ms-appearance: none;
  appearance: none !important;
}
.form-select::-moz-placeholder {
  color: #3a3636;
  opacity: 1;
}
.form-select:-ms-input-placeholder {
  color: #3a3636;
}
.form-select::-webkit-input-placeholder {
  color: #3a3636;
}
.form-select::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form-select::-ms-expand {
  display: none;
}

.form-control-white {
  border-color: #fff;
}
.form-control-white:focus {
  border-color: #fff;
}

.form-radio {
  font-size: 0;
  font-weight: 400;
  line-height: 0;
  display: inline-block;
}
.form-radio input {
  display: none !important;
}
.form-radio .form-radio-text {
  color: #333333;
  font-size: 15px;
  cursor: pointer;
  line-height: 20px;
  position: relative;
  padding-left: 30px;
  display: inline-block;
}
.form-radio .form-radio-text:before {
  left: 0;
  top: 2px;
  z-index: 5;
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  display: inline-block;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.form-radio .form-radio-text:after {
  top: 7px;
  left: 5px;
  z-index: 5;
  width: 8px;
  height: 8px;
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  background: #30ad40;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.form-radio input:checked + .form-radio-text:after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.form-group {
  margin-bottom: 10px;
}

.btn {
  border: none;
  outline: none;
  color: #3b73b4;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 5px 15px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #f4f4f4;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #3b73b4;
  background: #AAAAAA;
  text-decoration: none;
}
.btn:active {
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26);
}

.btn-green {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #31a64d 0%, #2fb532 100%);
  background-image: -o-linear-gradient(top, #31a64d 0%, #2fb532 100%);
  background-image: linear-gradient(to bottom, #31a64d 0%, #2fb532 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF31A64D", endColorstr="#FF2FB532", GradientType=0);
}
.btn-green:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #2fb532 0%, #31a64d 100%);
  background-image: -o-linear-gradient(top, #2fb532 0%, #31a64d 100%);
  background-image: linear-gradient(to bottom, #2fb532 0%, #31a64d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF2FB532", endColorstr="#FF31A64D", GradientType=0);
}

.btn-blue {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #2073dc 0%, #1a83f0 100%);
  background-image: -o-linear-gradient(top, #2073dc 0%, #1a83f0 100%);
  background-image: linear-gradient(to bottom, #2073dc 0%, #1a83f0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF2073DC", endColorstr="#FF1A83F0", GradientType=0);
}
.btn-blue:hover {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #1a83f0 0%, #2073dc 100%);
  background-image: -o-linear-gradient(top, #1a83f0 0%, #2073dc 100%);
  background-image: linear-gradient(to bottom, #1a83f0 0%, #2073dc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF1A83F0", endColorstr="#FF2073DC", GradientType=0);
}

.btn-red {
  color: #fff;
  background: #c33d26;
}
.btn-red:hover {
  color: #fff;
  background: #fa3311;
}

.btn-white {
  background: #fff;
}
.btn-white:hover {
  color: #fff;
  background: #3b73b4;
}

.btn-md {
  padding: 9px 45px;
  text-transform: uppercase;
}

.btn-still {
  outline: none;
  display: block;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  margin-top: 4px;
  color: #506a94;
  text-align: center;
  padding: 4px 10px;
  user-select: none;
  white-space: nowrap;
  background: #f5f5f5;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn-still .btn-still-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding-right: 35px;
  position: relative;
  display: inline-block;
}
.btn-still i {
  top: 0;
  right: 0;
  font-size: 0;
  line-height: 0;
  width: 24px;
  height: 100%;
  position: absolute;
  background: #506a94;
  display: inline-block;
}
.btn-still i:after, .btn-still i:before {
  top: 11px;
  z-index: 10;
  width: 10px;
  height: 1px;
  content: "";
  background: #fff;
  position: absolute;
  display: inline-block;
}
.btn-still i:after {
  right: 4px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn-still i:before {
  left: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-still:hover {
  color: #3b73b4;
  background: #f3f8fe;
  text-decoration: none;
}

.btn-text {
  border: none;
  outline: none;
  color: #3b73b4;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 1px 35px 1px 0;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  position: relative;
  background: transparent;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn-text i {
  top: 0;
  right: 0;
  font-size: 0;
  line-height: 0;
  width: 25px;
  height: 100%;
  position: absolute;
  background: #506a94;
  display: inline-block;
}
.btn-text i:after, .btn-text i:before {
  top: 11px;
  z-index: 10;
  width: 10px;
  height: 1px;
  content: "";
  background: #fff;
  position: absolute;
  display: inline-block;
}
.btn-text i:after {
  right: 4px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn-text i:before {
  left: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-text:hover {
  color: #3b73b4;
  background: transparent;
  text-decoration: none;
}
.btn-wrap {
  padding: 10px;
  margin-top: 3px;
  background: #f5f5f5;
}

.btn-group {
  padding: 0;
  list-style: none;
  margin: 0 -8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  -webkit-justify-content: left;
  -moz-justify-content: left;
  justify-content: left;
}
.btn-group li {
  padding: 0 8px;
  margin-bottom: 10px;
}
.btn-group.centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.table {
  width: 100%;
  padding: 5px;
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.table th {
  padding: 5px;
  color: #2c558d;
  background: #dae7f1;
  border: 1px solid #e6edf2;
}
.table td {
  padding: 5px;
  border: 1px solid #e6edf2;
}

.predict_table {
  margin-bottom: 15px;
}
.predict_table td {
  text-align: center;
}

@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive .table_prognos {
    width: 700px;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page__box {
  padding: 6px;
  margin: 0 auto 6px auto;
  border: 1px solid #dadada;
  background-color: #fdfdfd;
}
.page__box_wrap {
  padding: 5px;
}
.page__box_title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}

.forecast_nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.forecast_nav li {
  width: 25%;
  border-right: 1px solid #8d8d97;
}
.forecast_nav li:last-child {
  border-right: none;
}
.forecast_nav li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #E2E9EE;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  background: #696972;
  text-decoration: none;
  padding: 0 5px 20px 5px;
  text-shadow: 0px 1px 0px rgba(54, 54, 57, 0.75);
}
.forecast_nav li a:hover {
  color: #E2E9EE;
}
.forecast_nav li a:hover {
  background: #4C4C54;
  -webkit-box-shadow: inset 0px 0px 10px rgba(46, 46, 48, 0.75);
  box-shadow: inset 0px 0px 10px rgba(46, 46, 48, 0.75);
}
.forecast_nav li a span {
  padding-top: 45px;
  position: relative;
  display: inline-block;
}
.forecast_nav li a span:before {
  top: 0;
  left: 50%;
  content: "";
  width: 24px;
  height: 45px;
  margin-left: -12px;
  position: absolute;
  background: url("../img/sprite_menu_icons.png") no-repeat;
}
.forecast_nav li:nth-child(1) a span:before {
  background-position: 0 0;
}
.forecast_nav li:nth-child(2) a span:before {
  background-position: 0 -45px;
}
.forecast_nav li:nth-child(3) a span:before {
  background-position: 0 -90px;
}
.forecast_nav li:nth-child(4) a span:before {
  background-position: 0 -135px;
}
@media (min-width: 768px) {
  .forecast_nav li a {
    font-size: 12px;
    padding: 0 5px;
  }
  .forecast_nav li a span {
    height: 45px;
    line-height: 45px;
    padding: 0 0 0 30px;
  }
  .forecast_nav li a span:before {
    left: 0;
    margin-left: 0;
  }
}
@media (min-width: 900px) {
  .forecast_nav li a {
    font-size: 12px;
    padding: 0 5px 20px 5px;
  }
  .forecast_nav li a span {
    height: auto;
    line-height: 16px;
    padding: 45px 0 0 0;
  }
  .forecast_nav li a span:before {
    left: 50%;
    margin-left: -12px;
  }
}
@media (min-width: 1100px) {
  .forecast_nav li a {
    font-size: 12px;
    padding: 0 5px;
  }
  .forecast_nav li a span {
    height: 45px;
    line-height: 45px;
    padding: 0 0 0 30px;
  }
  .forecast_nav li a span:before {
    left: 0;
    margin-left: 0;
  }
}

.forecaster {
  margin-top: 19px;
  margin-bottom: 10px;
  background: #f1f1f1;
  padding: 15px 10px;
}
.forecaster__subscribe {
  padding-left: 105px;
  position: relative;
  margin-bottom: 10px;
}
.forecaster__avatar {
  top: 0;
  left: 0;
  width: 85px;
  height: 85px;
  display: block;
  overflow: hidden;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.forecaster__name {
  color: #3b73b4;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.forecaster__status {
  color: #3a3636;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 10px;
}
.forecaster__info_label {
  color: #3a3636;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}
.forecaster__info_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.forecaster__info_input {
  padding-right: 10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .forecaster {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .forecaster__subscribe {
    width: 455px;
    margin-bottom: 0;
  }
  .forecaster__info {
    padding-top: 22px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 900px) {
  .forecaster {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .forecaster__subscribe {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .forecaster {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .forecaster__subscribe {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .forecaster__info {
    width: 250px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
@media (min-width: 1250px) {
  .forecaster__subscribe {
    padding-left: 115px;
  }
  .forecaster__avatar {
    top: -24px;
    width: 104px;
    height: 104px;
  }
}

.indicators {
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #e5e5e6;
  border-top: none;
  border-bottom: none;
}
.indicators__body {
  display: none;
}
.indicators__heading {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 9px 50px;
  color: #506a94;
  position: relative;
  text-align: center;
  border-top: 1px solid #e5e5e6;
  border-bottom: 1px solid #e5e5e6;
}
.indicators__toggle {
  top: -1px;
  left: -1px;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  background: #506a94;
}
.indicators__toggle:after, .indicators__toggle:before {
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  content: "";
  z-index: 10;
  display: block;
  background: #fff;
  position: absolute;
  margin: -1px 0 0 -9px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.indicators__toggle:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.indicators__content {
  padding: 10px 12px;
  margin-bottom: 15px;
}
.indicators__elem {
  position: relative;
}
.indicators__elem:first-child {
  margin-bottom: 30px;
}
.indicators__title {
  color: #3a3636;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background: #f5f5f5;
  margin-bottom: 10px;
  padding: 5px 25px;
}
.indicators__table {
  margin-bottom: 20px;
}
.indicators__table > ul {
  margin: 0;
  padding: 3px 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.indicators__table > ul > li {
  font-size: 15px;
  line-height: 17px;
  border-bottom: 2px dotted #d0d0d0;
}
.indicators__table > ul > li:first-child {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.indicators__table > ul > li:last-child {
  text-align: center;
}
.indicators__table > ul > li span,
.indicators__table > ul > li strong {
  padding: 2px;
  background: #fff;
  display: inline-block;
  margin-bottom: -2px;
}
.indicators__footer {
  cursor: pointer;
  padding: 4px 5px;
  color: #3a3636;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  position: relative;
  background: #e5e5e6;
  margin-bottom: 10px;
  border-bottom: 2px solid #e5e5e6;
}
.indicators__footer:before {
  top: 50%;
  right: 14px;
  width: 10px;
  height: 8px;
  content: "";
  margin-top: -4px;
  display: block;
  position: absolute;
  background: url("../img/icon_arrow.png") 0 0 no-repeat;
}
.indicators__footer.open {
  background: #f5f5f5;
}
.indicators__footer.open:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.indicators.open {
  border-bottom: 1px solid #e5e5e6;
}
.indicators.open .indicators__toggle:after {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.indicators.open .indicators__body {
  display: block;
}
@media (min-width: 768px) {
  .indicators__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .indicators__elem {
    width: 50%;
  }
  .indicators__elem:first-child {
    margin-bottom: 0;
  }
  .indicators__elem:first-child .indicators__elem_wrap {
    padding-right: 20px;
  }
  .indicators__elem:last-child .indicators__elem_wrap {
    padding-left: 20px;
  }
}

.form-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.form-flex .form-flex-item {
  padding: 0 3px;
  margin-bottom: 10px;
  display: inline-block;
}
@media (min-width: 768px) {
  .form-flex {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
}

.spoiler-head {
  width: auto !important;
}

.table-responsive {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  border: 1px solid #ddd;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive .myTable {
  width: 700px;
}
.table-responsive .table_prognos {
  width: 700px;
}
@media (min-width: 768px) {
  .table-responsive {
    overflow-x: hidden;
    border: none;
  }
  .table-responsive .table_prognos {
    width: 100%;
  }
  .table-responsive .myTable {
    width: 100%;
  }
}

.myTable {
  width: 100%;
  border-collapse: collapse;
}
.myTable .myTable_header {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  background: #506a94;
}
.myTable .myTable_header td {
  background: #506a94;
}
.myTable .myTable_header:hover td {
  background: #506a94 !important;
}
.myTable th {
  padding: 7px 10px;
  font-size: 13px;
  line-height: 16px;
  color: #506a94;
  font-weight: 700;
  background: #c7d6e9;
  text-align: center;
  border: 2px solid #fff;
}
.myTable th:first-child {
  border-left: none;
}
.myTable th:first-child {
  border-right: none;
}
.myTable td {
  padding: 7px 10px;
  font-size: 13px;
  line-height: 16px;
  background: #f3f8fe;
  text-align: center;
  border: 2px solid #fff;
}
.myTable td:first-child {
  border-left: none;
}
.myTable td:last-child {
  border-right: none;
}
.myTable tr:nth-child(even) td {
  background: #f5f5f5;
}
.myTable tr:hover td {
  background: #ffeea9 !important;
}

.table-forecast tr td:nth-child(3) {
  text-align: left;
}
.table-forecast tr td.table-forecast-dropdown {
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}
.table-forecast tr td.table-forecast-dropdown:before {
  z-index: 10;
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  height: 6px;
  width: 8px;
  margin-top: -3px;
  text-align: center;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNiMmIyYjIiPjxwYXRoIGQ9Ik03LjE5Ny42MDRsLTMuMTk4IDMuMTk2LTMuMTk3LTMuMTk2LS43OTkuNzk5IDMuOTk2IDMuOTk0IDMuOTk2LTMuOTk0LS43OTgtLjc5OXoiLz48L3N2Zz4K");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.table-forecast .game_name {
  font-weight: 700;
  display: block;
}
.table-forecast .game_info {
  display: block;
}

.subscribeBlock {
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.subscribeBlock * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.subscribeBlock__heading {
  color: #3a3636;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
}
.subscribeBlock__row {
  margin: 0 -8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.subscribeBlock__item {
  width: 121px;
  margin: 0 8px 20px 8px;
  border: 1px solid #ccc;
  border-bottom: 3px solid #3b73b4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.subscribeBlock__item_title {
  color: #fff;
  margin: -1px -1px 0 -1px;
  padding: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  background: #3b73b4;
}
.subscribeBlock__item_content {
  min-height: 55px;
  padding: 8px 9px;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.subscribeBlock__item_price {
  color: #3b73b4;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}
.subscribeBlock__item_sale {
  color: #e30613;
  font-size: 12px;
  line-height: 20px;
}
.subscribeBlock__item_button {
  padding: 0 9px 16px 9px;
}
.subscribeBlock__item_button .btn {
  width: 100%;
  padding: 5px 10px;
}

.box_heading {
  color: #3a3636;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.box_wrap {
  padding-top: 20px;
  padding-bottom: 10px;
}

.paymentMethod {
  margin: 0 -9px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.paymentMethod__elem {
  width: 80px;
  display: block;
  overflow: hidden;
  margin: 0 9px 15px 9px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media (min-width: 576px) {
  .paymentMethod__elem {
    width: 98px;
  }
}

.list-check {
  margin: 0 0 20px 5px;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}
.list-check li {
  margin-bottom: 6px;
  padding: 2px 0 2px 35px;
  background: url("../img/icon-check.png") 0 0 no-repeat;
}
.list-check li strong {
  color: #3b73b4;
}

.forecast {
  margin: 0 -10px;
  list-style: none;
  padding: 10px 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.forecast * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.forecast li {
  color: #3a3636;
  font-size: 15px;
  text-align: center;
  margin-bottom: 40px;
  padding: 90px 10px 0 10px;
}
.forecast li:nth-child(1) {
  background: url("../img/forecast_icon_01.png") 50% 0 no-repeat;
}
.forecast li:nth-child(2) {
  background: url("../img/forecast_icon_02.png") 50% 0 no-repeat;
}
.forecast li:nth-child(3) {
  background: url("../img/forecast_icon_03.png") 50% 0 no-repeat;
}
.forecast li:nth-child(4) {
  background: url("../img/forecast_icon_04.png") 50% 0 no-repeat;
}
.forecast li:nth-child(5) {
  background: url("../img/forecast_icon_05.png") 50% 0 no-repeat;
}
.forecast li:nth-child(6) {
  background: url("../img/forecast_icon_06.png") 50% 0 no-repeat;
}
@media (min-width: 576px) {
  .forecast li {
    width: 50%;
  }
}
@media (min-width: 1100px) {
  .forecast li {
    width: 33.33%;
  }
}

.warning {
  margin: 0 auto 35px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.warning__alert {
  margin-bottom: 10px;
  display: inline-block;
}
.warning__alert span {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  padding: 6px 10px;
  background: #3b73b4;
  display: inline-block;
}
.warning__text {
  color: #3a3636;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .warning {
    max-width: 600px;
    margin: 0 auto 35px auto;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .warning__alert {
    padding-right: 10px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .warning__alert span {
    margin: auto 0;
  }
}

.site_contact {
  position: relative;
  padding-top: 17px;
  text-align: center;
  margin-bottom: 25px;
}
.site_contact:before {
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 768px) {
  .site_contact:before {
    left: 50%;
    width: 414px;
    margin-left: -207px;
  }
}

.myModal {
  padding: 0;
  max-width: 360px;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.myModal__header {
  text-align: center;
  padding: 35px 25px 15px 25px;
}
.myModal__title {
  color: #000;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 15px;
}
.myModal__text {
  color: #999;
  font-size: 15px;
  line-height: 22px;
}
.myModal__content {
  padding: 0 25px 20px 25px;
}
.myModal__form {
  padding-top: 12px;
  margin-bottom: 17px;
  padding-bottom: 5px;
  border-top: 1px solid #e5e5e6;
  border-bottom: 1px solid #e5e5e6;
}
.myModal__footer {
  color: #999;
  font-size: 13px;
  line-height: 16px;
  padding: 15px 25px;
  background: #f5f5f5;
}
@media (min-width: 768px) {
  .myModal {
    width: 534px;
    max-width: 534px;
  }
  .myModal__header {
    padding: 35px 80px 15px 80px;
  }
  .myModal__content {
    padding: 0 90px 20px 90px;
  }
  .myModal__form {
    padding-left: 53px;
  }
}

.fancybox-close-small {
  top: 0;
  right: 0;
  z-index: 10;
  outline: none;
  font-size: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background: transparent;
}
.fancybox-close-small:after, .fancybox-close-small:before {
  top: 50%;
  left: 50%;
  right: auto;
  width: 17px;
  height: 1px;
  content: "";
  font-size: 0;
  line-height: 0;
  outline: none;
  display: block;
  background: #000;
  position: absolute;
  margin: -1px 0 0 -9px;
}
.fancybox-close-small:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fancybox-close-small:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.fancybox-close-small:hover:after, .fancybox-close-small:hover:before {
  background: #ff0000;
}

.text-blue {
  color: #506a94;
}

.text-green {
  color: #008000;
}

.text-red {
  color: #ff0000;
}

.color-green {
  background: #8af78d !important;
}

.color-blue {
  background: #c8efff !important;
}

.color-red {
  background: #ff0000 !important;
}

.block_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.block_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.tabs .tabs_item {
  display: none;
}
.tabs .tabs_item.active {
  display: block;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 20px;
}

.game {
  padding: 5px;
}
.game__heading {
  padding: 11px;
  margin: -11px -11px 10px -11px;
  font-size: 12px;
  line-height: 20px;
  background: #eaeaea;
}
.game__heading_name {
  color: #000;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
}
.game__heading_name h1 {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.game__heading_date {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
}
.game__meta {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 -6px 5px -6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.game__meta > li {
  padding: 0 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.game__meta > li > a {
  margin: auto 0;
  display: inline-block;
}
.game__info {
  padding-top: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.game__info_player_wrap {
  width: 100px;
}
.game__info_player_flag {
  width: 100px;
  min-width: 90px;
  font-size: 0;
  line-height: 0;
  margin-bottom: 5px;
  border: 1px solid #f5f5f5;
}
.game__info_player_flag img {
  display: inline-block;
}
.game__info_player_name {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
.game__info_data {
  padding: 0 10px;
}
.game__info_data_time {
  color: #24a56d;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin-bottom: 12px;
}
.game__info_data_result {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.game__info_data_result span {
  position: relative;
  display: inline-block;
}
.game__info_data_result span:first-child {
  margin-right: 18px;
}
.game__info_data_result span:first-child:before {
  top: 50%;
  left: 100%;
  width: 20px;
  height: 2px;
  content: "";
  position: absolute;
  background: #bfbfbf;
  margin: -1px 0 0 8px;
}
.game__info_data_result span:last-child {
  margin-left: 18px;
}
.game__info_data_link {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.game__info_data_link > li {
  padding: 0 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.game__info_data_link > li a {
  margin: auto 0;
  display: inline-block;
}
.game__stats {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
.game__stats_row {
  padding: 4px 0;
}
.game__stats_row.row_left .game__stats_icon {
  margin: 0 10px 0 3px;
}
.game__stats_row.row_right .game__stats_elem {
  margin-left: 30px;
}
.game__stats_row.row_right .game__stats_icon {
  margin: 0 10px 0 3px;
}
.game__stats_elem {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.game__stats_elem span {
  margin: auto 0;
  display: inline-block;
}
.game__stats_elem a {
  margin: auto 0;
  display: inline-block;
}
.game__stats_icon {
  font-size: 0;
  line-height: 0;
}
.game__stats_time {
  width: 28px;
}
.game__analytics_nav {
  margin: 0 -9px 35px -9px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.game__analytics_nav:before {
  left: 9px;
  right: 9px;
  bottom: 0;
  content: "";
  height: 2px;
  display: block;
  position: absolute;
  background: #d9d9d9;
}
.game__analytics_nav > li {
  padding: 0 9px;
  position: relative;
  text-align: center;
  display: inline-block;
}
.game__analytics_nav > li:last-child {
  padding-right: 0;
}
.game__analytics_nav > li > a {
  color: #999;
  padding: 10px 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  position: relative;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.game__analytics_nav > li.active > a {
  color: #3b73b4;
  border-bottom-color: #3b73b4;
}
@media (min-width: 768px) {
  .game__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .game__heading_name {
    margin-bottom: 0;
  }
  .game__info {
    max-width: 600px;
    margin: 0 auto 10px auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .game__info_player_wrap {
    width: auto;
  }
  .game__info_player_flag {
    width: 130px;
  }
  .game__info_data {
    width: 160px;
  }
  .game__info_data span {
    width: 44px;
    height: 44px;
    padding: 5px 0;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #f2f2f2;
  }
  .game__stats {
    margin-bottom: 25px;
  }
  .game__stats_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .game__stats_row.row_left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
  }
  .game__stats_row.row_left .game__stats_elem {
    right: -13px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .game__stats_row.row_left .game__stats_elem .game__stats_time {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -moz-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .game__stats_row.row_left .game__stats_elem .game__stats_icon {
    margin: 0 8px 0 12px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .game__stats_row.row_left .game__stats_elem .game__stats_name {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .game__stats_row.row_right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .game__stats_row.row_right .game__stats_elem {
    left: -13px;
    margin-left: 0;
  }
  .game__stats_row.row_right .game__stats_icon {
    margin: 0 12px 0 8px;
  }
  .game__stats_elem {
    width: 50%;
    min-width: 50%;
    max-width: 50%;
  }
  .game__stats_time {
    text-align: center;
  }
  .game__analytics_nav > li > a {
    padding-left: 27px;
  }
  .game__analytics_nav > li > a:before {
    left: 0;
    top: 50%;
    content: "";
    width: 21px;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    display: inline-block;
    background: url("../img/stats_icons.png") no-repeat;
  }
  .game__analytics_nav > li:nth-child(1) > a:before {
    background-position: 0 0;
  }
  .game__analytics_nav > li:nth-child(2) > a:before {
    background-position: -21px 0;
  }
  .game__analytics_nav > li:nth-child(3) > a:before {
    background-position: -42px 0;
  }
  .game__analytics_nav > li.active:nth-child(1) > a:before {
    background-position: 0 -20px;
  }
  .game__analytics_nav > li.active:nth-child(2) > a:before {
    background-position: -21px -20px;
  }
  .game__analytics_nav > li.active:nth-child(3) > a:before {
    background-position: -42px -20px;
  }
}
.analytics_table {
  width: 100%;
  border-collapse: collapse;
}
.analytics_table tr:nth-child(odd) {
  background: #f5f5f5;
}
.analytics_table td {
  padding: 5px 3px;
  font-size: 11px;
  line-height: 18px;
  vertical-align: middle;
  border: 1px solid #dbdbdb;
}
.analytics_table td:nth-child(1) {
  width: 35%;
  text-align: center;
  white-space: nowrap;
}
.analytics_table td:nth-child(1) .analytics_line_value {
  right: 0;
}
.analytics_table td:nth-child(3) {
  width: 35%;
  text-align: center;
  white-space: nowrap;
}
.analytics_table td:nth-child(3) .analytics_line_value {
  left: 0;
}
.analytics_table td:nth-child(2) {
  text-align: center;
  white-space: nowrap;
}
.analytics_table .analytics_value {
  width: 20%;
  display: inline-block;
}
.analytics_table .analytics_line {
  width: 75%;
  height: 12px;
  position: relative;
  display: inline-block;
  background: #fff;
  border: 1px solid #dadada;
}
.analytics_table .analytics_line_value {
  top: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
}
.analytics_table .analytics_line_value.analytics_line_gray {
  background: #686565;
}
.analytics_table .analytics_line_value.analytics_line_red {
  background: #f24e4e;
}

.forecast_poll {
  padding: 15px 5px;
}
.forecast_poll .poll_title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.forecast_poll .poll_legend {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
}
.forecast_poll .poll_legend span {
  padding: 0 0 5px 0;
  margin-bottom: -1px;
  display: inline-block;
  border-bottom: 1px solid #000;
}
.forecast_poll .poll_buttons {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  text-align: center;
}
.forecast_poll .poll_buttons > li {
  padding: 0 10px;
  display: inline-block;
}
.forecast_poll .poll_buttons .btn {
  width: 110px;
}
.forecast_poll .poll_elem {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.forecast_poll .poll_elem .poll_elem_value {
  width: 70px;
  min-width: 70px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.forecast_poll .poll_elem .poll_elem_result {
  font-size: 0;
  line-height: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.forecast_poll .poll_elem .poll_elem_line {
  height: 3px;
  width: 100%;
  margin: auto 0 auto;
  position: relative;
  background: #dbdbdb;
}
.forecast_poll .poll_elem .poll_elem_line .poll_elem_line_value {
  top: 0;
  left: 0;
  padding-left: 20px;
  height: 100%;
  display: block;
  position: absolute;
}
.forecast_poll .poll_elem .poll_elem_line .poll_elem_line_value span {
  right: 0;
  top: -9px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  padding: 2px 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  position: absolute;
  display: inline-block;
}
.forecast_poll .poll_elem.poll_elem_green .poll_elem_line .poll_elem_line_value {
  background: #2e8048;
}
.forecast_poll .poll_elem.poll_elem_green .poll_elem_line .poll_elem_line_value span {
  background: #2e8048;
}
.forecast_poll .poll_elem.poll_elem_red .poll_elem_line_value {
  background: #c33d26;
}
.forecast_poll .poll_elem.poll_elem_red .poll_elem_line_value span {
  background: #c33d26;
}
.forecast_poll .poll_elem .poll_elem_user {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 10px -2px 0 -1px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.forecast_poll .poll_elem .poll_elem_user li {
  margin: 0 2px 0 1px;
}
.forecast_poll .poll_elem .poll_elem_user li a {
  width: 18px;
  height: 18px;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.forecast_poll .poll_number {
  color: #000;
  opacity: 0.75;
  font-size: 12px;
}
@media (min-width: 768px) {
  .forecast_poll .poll_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .forecast_poll .poll_content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .forecast_poll .poll_buttons {
    width: 130px;
    min-width: 130px;
    text-align: right;
    margin-bottom: 0;
  }
  .forecast_poll .poll_buttons > li {
    padding: 0;
  }
  .forecast_poll .poll_buttons > li:first-child {
    margin-bottom: 15px;
  }
}

.alike {
  padding: 0;
  margin: 0 -6px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.alike > li {
  width: 50%;
  padding: 0 6px;
  text-align: center;
  margin-bottom: 10px;
}
.alike > li a {
  color: #000;
  width: 100%;
  height: 84px;
  display: table;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 10px;
  background: #d9e6f2;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.alike > li a span {
  display: table-cell;
  vertical-align: middle;
}
.alike > li a:hover {
  background: #9dd0ff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .alike > li {
    width: 25%;
  }
}

.predict_info {
  padding: 0;
  margin: 0 -10px 10px -10px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.predict_info > li {
  padding: 0 10px;
  font-size: 13px;
  line-height: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.predict_info > li span {
  display: inline-block;
}
.predict_info > li .predict_info_text {
  color: #000;
  margin-right: 5px;
  border: 1px solid transparent;
}
.predict_info > li .predict_info_value {
  color: #000;
  padding: 0 3px;
  font-weight: 700;
  background: #F0FFF0;
  border: 1px solid #F2F2F2;
}
.predict_info_v2 {
  padding: 0;
  margin: 0 -10px 30px 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.predict_info_v2 > li {
  padding: 0 10px;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.predict_info_v2 > li span {
  display: inline-block;
}
.predict_info_v2 > li .predict_info_text {
  color: #000;
  padding: 4px 10px 4px 0;
}
.predict_info_v2 > li .predict_info_value {
  color: #fff;
  padding: 4px 5px;
  background: #24a56d;
}
.predict_data {
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  margin: 0 -10px 20px -10px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.predict_data > li {
  padding: 0 10px;
}
.predict_data > li:last-child {
  color: #F80004;
  font-weight: 700;
}
.predict_meta {
  margin: 0 -10px 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.predict_meta ul {
  margin: 0;
  padding: 0 5px;
  font-size: 0;
  line-height: 0;
  list-style: none;
}
.predict_meta ul > li {
  padding: 3px 5px;
  font-size: 13px;
  line-height: 13px;
  display: inline-block;
}
.predict_meta ul > li a {
  color: #4b89c2;
  text-decoration: navajowhite;
}
.predict_meta ul > li a i {
  color: #cdd4db;
}
.predict_meta ul > li a span {
  text-decoration: underline;
}
.predict_meta ul > li a:hover i {
  color: #63aaf1;
}
.predict_meta ul > li a:hover span {
  text-decoration: none;
}

.table_vendor_logo {
  font-size: 0;
  margin: 0 auto;
  line-height: 0;
  max-width: 50px;
  display: block;
}
.table_vendor_logo .img-fluid {
  display: inline-block;
}

.comments_link {
  color: #000;
  text-decoration: none;
}
.comments_link span {
  font-weight: 700;
}
.comments_link:hover {
  color: #506a94;
  text-decoration: none;
}

.game_result {
  color: #fff;
  width: 18px;
  height: 18px;
  padding: 2px 0;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.game_result.result_win {
  background: #00ac5b;
}
.game_result.result_draw {
  background: #065dff;
}
.game_result.result_defeat {
  background: #dc2121;
}

.games .games_nav {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  border-bottom: 4px solid #3B73B4;
}
.games .games_nav > li {
  margin: 0 5px;
  display: inline-block;
}
.games .games_nav > li:last-child {
  margin-right: 0;
}
.games .games_nav > li a {
  padding: 5px 10px;
  color: #484848;
  font-size: 13px;
  line-height: 20px;
  background: #e6e6e6;
  text-decoration: none;
  display: inline-block;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.games .games_nav > li a:hover {
  color: #da0a0a;
  text-decoration: none;
}
.games .games_nav > li a span {
  display: none;
}
.games .games_nav > li.active a {
  color: #fff;
  background: #3B73B4;
}
.games .games_nav > li.active a:hover {
  color: #fff;
  background: #3B73B4;
}
@media (min-width: 576px) {
  .games .games_nav > li a span {
    display: inline;
  }
}

.post_info {
  padding: 7px;
  color: #484848;
  font-size: 12px;
  line-height: 14px;
  background: #f6f6f6;
  margin-bottom: 10px;
  border: 1px solid #d4d4d4;
}
.post_info i {
  font-size: 14px;
}
.post_info a {
  color: #484848;
  text-decoration: none;
}
.post_info a:hover span {
  text-decoration: underline;
}
.post_info > ul {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
}
.post_info > ul:before, .post_info > ul:after {
  content: " ";
  display: table;
}
.post_info > ul:after {
  clear: both;
}
.post_info > ul > li {
  float: left;
  padding: 0 5px;
}
.post_info > ul > li:last-child {
  float: right;
}

.event {
  border: 1px solid #dadada;
}
.event__heading {
  color: #fff;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.event__heading_blue {
  background: #3c73b4;
}
.event__heading_gray {
  color: #454545;
  background: #eaeaea;
}
.event__heading_elem {
  display: inline-block;
}
.event__meta {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 5px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
.event__meta > li {
  padding: 0 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.event__meta > li > a {
  margin: auto 0;
  display: inline-block;
}
.event__date {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 5px;
}
.event__info {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.event__info_player {
  width: 90px;
}
.event__info_player__logo {
  width: 90px;
  height: 90px;
}
.event__info_player__name {
  color: #000;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
.event__info_data {
  padding: 30px 10px 0 10px;
}
.event__info_data__result {
  color: #17850e;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 5px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.event__info_data__result span {
  position: relative;
  display: inline-block;
}
.event__info_data__result span:first-child {
  margin-right: 18px;
}
.event__info_data__result span:first-child:before {
  top: 50%;
  left: 100%;
  width: 20px;
  height: 2px;
  content: "";
  position: absolute;
  background: #bfbfbf;
  margin: -1px 0 0 8px;
}
.event__info_data__result span:last-child {
  margin-left: 18px;
}
.event__info_data__stat {
  color: #17850e;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
.event__wrap {
  padding: 13px 10px 8px 10px;
}
@media (min-width: 576px) {
  .event__info {
    max-width: 600px;
    margin: 0 auto 30px auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .event__info_player {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .event__info_player__logo {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .event__info_player__name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .event__info_player__name span {
    margin: auto 0;
    display: inline-block;
  }
  .event__info_data {
    padding-top: 25px;
  }
  .event__info_data__result span {
    width: 70px;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid #f2f2f2;
  }
  .event__info_left .event__info_player__name {
    padding-left: 10px;
  }
  .event__info_right .event__info_player__logo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .event__info_right .event__info_player__name {
    padding-right: 10px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

.text_red {
  color: #ff0000;
}

.text_uppercase {
  text-transform: uppercase;
}

.mb_10 {
  margin-bottom: 10px;
}

/*# sourceMappingURL=main.css.map */
