// Reset (Временно)

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.page {
	@include box-sizing(border-box);

	* {
		@include box-sizing(border-box);
	}

	&__box {
		padding: 6px;
		margin: 0 auto 6px auto;
		border: 1px solid rgb(218, 218, 218);
		background-color: rgb(253, 253, 253);

		&_wrap {
			padding: 5px;
		}

		&_title {
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 15px;
		}
	}
}

.forecast_nav {
	margin: 0;
	padding: 0;
	list-style: none;
	@include flexbox();

	li {
		width: 25%;
		border-right: 1px solid #8d8d97;

		&:last-child {
			border-right: none;
		}

		a {
			width: 100%;
			height: 100%;
			display: block;
			color: #E2E9EE;
			font-size: 11px;
			line-height: 14px;
			text-align: center;
			background: #696972;
			text-decoration: none;
			padding: 0 5px 20px 5px;
			text-shadow: 0px 1px 0px rgba(54,54,57,0.75);

			&:hover {
				color: #E2E9EE;
			}

			&:hover {
				background: #4C4C54;
				@include box-shadow(inset 0px 0px 10px rgba(46,46,48,0.75));
			}

			span {
				padding-top: 45px;
				position: relative;
				display: inline-block;

				&:before {
					top: 0;
					left: 50%;
					content: '';
					width: 24px;
					height: 45px;
					margin-left: -12px;
					position: absolute;
					background: url('../img/sprite_menu_icons.png') no-repeat;
				}
			}
		}

		&:nth-child(1) {

			a {

				span {

					&:before {
						background-position: 0 0;
					}

				}
			}
		}

		&:nth-child(2) {

			a {

				span {

					&:before {
						background-position: 0 -45px;
					}

				}
			}
		}

		&:nth-child(3) {

			a {

				span {

					&:before {
						background-position: 0 -90px;
					}

				}
			}
		}

		&:nth-child(4) {

			a {

				span {

					&:before {
						background-position: 0 -135px;
					}

				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		li {

			a {
				font-size: 12px;
				padding: 0 5px;

				span {
					height: 45px;
					line-height: 45px;
					padding: 0 0 0 30px;

					&:before {
						left: 0;
						margin-left: 0;
					}
				}
			}
		}
	}

	@media (min-width: 900px) {

		li {

			a {
				font-size: 12px;
				padding: 0 5px 20px 5px;

				span {
					height: auto;
					line-height: 16px;
					padding: 45px 0 0 0;

					&:before {
						left: 50%;
						margin-left: -12px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		li {

			a {
				font-size: 12px;
				padding: 0 5px;

				span {
					height: 45px;
					line-height: 45px;
					padding: 0 0 0 30px;

					&:before {
						left: 0;
						margin-left: 0;
					}
				}
			}
		}
	}
}

.forecaster {
	margin-top: 19px;
	margin-bottom: 10px;
	background: #f1f1f1;
	padding: 15px 10px;

	&__subscribe {
		padding-left: 105px;
		position: relative;
		margin-bottom: 10px;
	}

	&__avatar {
		top: 0;
		left: 0;
		width: 85px;
		height: 85px;
		display: block;
		overflow: hidden;
		position: absolute;
		@include border-radius(5px);
	}

	&__name {
		color: #3b73b4;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
	}

	&__status {
		color: #3a3636;
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	&__info {

		&_label {
			color: #3a3636;
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 8px;
		}

		&_row {
			@include flexbox();
		}

		&_input {
			padding-right: 10px;
			@include flex-grow(1);
		}

		&_button {

		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__subscribe {
			width: 455px;
			margin-bottom: 0;
		}

		&__info {
			padding-top: 22px;
			@include flex-grow(1);
		}
	}

	@media (min-width: 900px) {
		@include flex-direction(column);

		&__subscribe {
			width: auto;
		}
	}

	@media (min-width: 1200px) {
		@include flex-direction(row);

		&__subscribe {
			width: auto;
			@include flex-grow(1);
		}
		&__info {
			width: 250px;
			@include flex-grow (0);
		}
	}

	@media (min-width: 1250px) {

		&__subscribe {
			padding-left: 115px;
		}

		&__avatar {
			top: -24px;
			width: 104px;
			height: 104px;
		}
	}
}

.indicators {
	background: #fff;
	margin-bottom: 20px;
	border: 1px solid #e5e5e6;
	border-top: none;
	border-bottom: none;

	&__body {
		display: none;
	}

	&__heading {
		cursor: pointer;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		padding: 9px 50px;
		color: $color-blue;
		position: relative;
		text-align: center;
		border-top: 1px solid #e5e5e6;
		border-bottom: 1px solid #e5e5e6;
	}

	&__toggle {
		top: -1px;
		left: -1px;
		width: 40px;
		height: 40px;
		display: block;
		position: absolute;
		background: $color-blue;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			width: 18px;
			height: 2px;
			content: '';
			z-index: 10;
			display: block;
			background: #fff;
			position: absolute;
			margin: -1px 0 0 -9px;
			@include transition(.3s);
		}

		&:after {
			@include rotate(90deg);
		}
	}

	&__content {
		padding: 10px 12px;
		margin-bottom: 15px;
	}

	&__elem {
		position: relative;

		&:first-child {
			margin-bottom: 30px;
		}
	}

	&__title {
		color: #3a3636;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		background: #f5f5f5;
		margin-bottom: 10px;
		padding: 5px 25px;
	}

	&__table {
		margin-bottom: 20px;

		> ul {
			margin: 0;
			padding: 3px 0;
			list-style: none;
			@include flexbox();

			> li {
				font-size: 15px;
				line-height: 17px;
				border-bottom: 2px dotted #d0d0d0;

				&:first-child {
					@include flex-grow(1);
				}

				&:last-child {
					text-align: center;
				}

				span,
				strong {
					padding: 2px;
					background: #fff;
					display: inline-block;
					margin-bottom: -2px;
				}
			}
		}
	}

	&__footer {
		cursor: pointer;
		padding: 4px 5px;
		color: #3a3636;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		text-align: center;
		position: relative;
		background: #e5e5e6;
		margin-bottom: 10px;
		border-bottom: 2px solid #e5e5e6;

		&:before {
			top: 50%;
			right: 14px;
			width: 10px;
			height: 8px;
			content: '';
			margin-top: -4px;
			display: block;
			position: absolute;
			background: url("../img/icon_arrow.png") 0 0 no-repeat;
		}

		&.open {
			background: #f5f5f5;

			&:before {
				@include rotate(180deg);
			}
		}
	}

	&.open {
		border-bottom: 1px solid #e5e5e6;

		.indicators__toggle {

			&:after {
				@include rotate(0deg);
				@include transition(.3s);
			}
		}

		.indicators__body {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {


		&__content {
			@include flexbox();
		}

		&__elem {
			width: 50%;

			&:first-child {
				margin-bottom: 0;

				.indicators__elem_wrap {
					padding-right: 20px;
				}
			}

			&:last-child {

				.indicators__elem_wrap {
					padding-left: 20px;
				}
			}
		}
	}
}

.form-flex {
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(center);

	.form-flex-item {
		padding: 0 3px;
		margin-bottom: 10px;
		display: inline-block;
	}

	@media (min-width: $screen-md-min) {
		@include justify-content(flex-end);
	}
}

.spoiler-head {
	width: auto !important;
}

// Adaptive Tables

.table-responsive {
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	border: 1px solid #ddd;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	.myTable {
		width: 700px;
	}

	.table_prognos {
		width: 700px;
	}

	@media (min-width: $screen-md-min) {
		overflow-x: hidden;
		border: none;

		.table_prognos {
			width: 100%;
		}
		.myTable {
			width: 100%;
		}
	}

}

.myTable {
	width: 100%;
	border-collapse: collapse;

	.myTable_header {
		color: #fff;
		font-size: 15px;
		line-height: 20px;
		text-align: center;
		background: #506a94;

		td {
			background: #506a94;
		}


		&:hover {

			td {
				background: #506a94 !important;
			}
		}
	}

	th {
		padding: 7px 10px;
		font-size: 13px;
		line-height: 16px;
		color: #506a94;
		font-weight: 700;
		background: #c7d6e9;
		text-align: center;
		border: 2px solid #fff;

		&:first-child {
			border-left: none;
		}

		&:first-child {
			border-right: none;
		}
	}

	td {
		padding: 7px 10px;
		font-size: 13px;
		line-height: 16px;
		background: #f3f8fe;
		text-align: center;
		border: 2px solid #fff;

		&:first-child {
			border-left: none;
		}

		&:last-child {
			border-right: none;
		}
	}


	tr {

		&:nth-child(even) {

			td {
				background: #f5f5f5;
			}
		}

		&:hover {

			td {
				background: #ffeea9 !important;
			}
		}
	}
}

.table-forecast {

	tr {

		td {

			&:nth-child(3) {
				text-align: left;
			}

			&.table-forecast-dropdown {
				cursor: pointer;
				position: relative;
				padding-right: 20px;

				&:before {
					z-index: 10;
					content: "";
					position: absolute;
					top: 50%;
					right: 10px;
					height: 6px;
					width: 8px;
					margin-top: -3px;
					text-align: center;
					background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNiMmIyYjIiPjxwYXRoIGQ9Ik03LjE5Ny42MDRsLTMuMTk4IDMuMTk2LTMuMTk3LTMuMTk2LS43OTkuNzk5IDMuOTk2IDMuOTk0IDMuOTk2LTMuOTk0LS43OTgtLjc5OXoiLz48L3N2Zz4K');
					background-position: 50% 50%;
					background-repeat: no-repeat;
					cursor: pointer;
				}
			}
		}
	}


	.game_name {
		font-weight: 700;
		display: block;
	}

	.game_info {
		display: block;
	}
}


// Подписки

.subscribeBlock {
	padding: 20px 0;
	@include box-sizing(border-box);

	* {
		@include box-sizing(border-box);
	}

	&__heading {
		color: #3a3636;
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;
		text-align: center;
		margin-bottom: 15px;
	}

	&__row {
		margin: 0 -8px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(center);
	}

	&__item {
		width: 121px;
		margin: 0 8px 20px 8px;
		border: 1px solid #ccc;
		border-bottom: 3px solid #3b73b4;
		@include flexbox();
		@include flex-direction(column);

		&_title {
			color: #fff;
			margin: -1px -1px 0 -1px;
			padding: 8px;
			font-size: 15px;
			font-weight: 700;
			line-height: 19px;
			text-align: center;
			background: #3b73b4;
		}

		&_content {
			min-height: 55px;
			padding: 8px 9px;
			text-align: center;
			@include flex-grow(1);
		}

		&_price {
			color: #3b73b4;
			font-weight: 700;
			font-size: 15px;
			line-height: 20px;
		}

		&_sale {
			color: #e30613;
			font-size: 12px;
			line-height: 20px;
		}

		&_button {
			padding: 0 9px 16px 9px;

			.btn {
				width: 100%;
				padding: 5px 10px;
			}
		}
	}
}

.box_heading {
	color: #3a3636;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.box_wrap {
	padding-top: 20px;
	padding-bottom: 10px;
}

.paymentMethod {
	margin: 0 -9px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(center);

	&__elem {
		width: 80px;
		display: block;
		overflow: hidden;
		margin: 0 9px 15px 9px;
		border: 1px solid #ccc;
		@include border-radius(4px);
	}

	@media (min-width: $screen-sm-min) {

		&__elem {
			width: 98px;
		}
	}
}

.list-check {
	margin: 0 0 20px 5px;
	padding: 0;
	font-size: 15px;
	line-height: 20px;
	list-style: none;

	li {
		margin-bottom: 6px;
		padding: 2px 0 2px 35px;
		background: url("../img/icon-check.png") 0 0 no-repeat;

		strong {
			color: #3b73b4;
		}
	}
}

.forecast {
	margin: 0 -10px;
	list-style: none;
	padding: 10px 0 0 0;
	@include box-sizing(border-box);
	@include flexbox();
	@include flex-wrap(wrap);
	@include flex-direction(row);

	* {
		@include box-sizing(border-box);
	}

	li {
		color: #3a3636;
		font-size: 15px;
		text-align: center;
		margin-bottom: 40px;
		padding: 90px 10px 0 10px;

		&:nth-child(1) {
			background: url("../img/forecast_icon_01.png") 50% 0 no-repeat;
		}

		&:nth-child(2) {
			background: url("../img/forecast_icon_02.png") 50% 0 no-repeat;
		}

		&:nth-child(3) {
			background: url("../img/forecast_icon_03.png") 50% 0 no-repeat;
		}

		&:nth-child(4) {
			background: url("../img/forecast_icon_04.png") 50% 0 no-repeat;
		}

		&:nth-child(5) {
			background: url("../img/forecast_icon_05.png") 50% 0 no-repeat;
		}

		&:nth-child(6) {
			background: url("../img/forecast_icon_06.png") 50% 0 no-repeat;
		}
	}

	@media (min-width: $screen-sm-min) {

		li {
			width: 50%;
		}
	}

	@media (min-width: $screen-lg-min) {

		li {
			width: 33.33%;
		}
	}
}

.warning {
	margin: 0 auto 35px auto;
	@include flexbox();
	@include flex-direction(column);

	&__alert {
		margin-bottom: 10px;
		display: inline-block;

		span {
			color: #fff;
			font-size: 15px;
			font-weight: 700;
			line-height: 20px;
			padding: 6px 10px;
			background: #3b73b4;
			display: inline-block;
		}
	}

	&__text {
		color: #3a3636;
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		position: relative;
	}

	@media (min-width: $screen-md-min) {
		max-width: 600px;

		margin: 0 auto 35px auto;
		@include flex-direction(row);
		@include justify-content(center);


		&__alert {
			padding-right: 10px;
			margin-bottom: 0;
			@include flexbox();

			span {
				margin: auto 0;
			}
		}

	}
}

.site_contact {
	position: relative;
	padding-top: 17px;
	text-align: center;
	margin-bottom: 25px;


	&:before {
		left: 0;
		top: 0;
		content: '';
		width: 100%;
		position: absolute;
		border-bottom: 1px solid #ccc;
	}

	@media (min-width: $screen-md-min) {

		&:before {
			left: 50%;
			width: 414px;
			margin-left: -207px;
		}
	}
}

.myModal {
	padding: 0;
	max-width: 360px;
	background: #fff;
	overflow: hidden;
	@include border-radius(8px);

	&__header {
		text-align: center;
		padding: 35px 25px 15px 25px;
	}

	&__title {
		color: #000;
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 15px;
	}

	&__text {
		color: #999;
		font-size: 15px;
		line-height: 22px;
	}

	&__content {
		padding: 0 25px 20px 25px;
	}

	&__form {
		padding-top: 12px;
		margin-bottom: 17px;
		padding-bottom: 5px;
		border-top: 1px solid #e5e5e6;
		border-bottom: 1px solid #e5e5e6;
	}

	&__footer {
		color: #999;
		font-size: 13px;
		line-height: 16px;
		padding: 15px 25px;
		background: #f5f5f5;
	}

	@media (min-width: $screen-md-min) {
		width: 534px;
		max-width: 534px;

		&__header {
			padding: 35px 80px 15px 80px;
		}

		&__content {
			padding: 0 90px 20px 90px;
		}

		&__form {
			padding-left: 53px;
		}
	}
}

.fancybox-close-small {
	top: 0;
	right: 0;
	z-index: 10;
	outline: none;
	font-size: 0;
	line-height: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	background: transparent;

	&:after,
	&:before {
		top: 50%;
		left: 50%;
		right: auto;
		width: 17px;
		height: 1px;
		content: '';
		font-size: 0;
		line-height: 0;
		outline: none;
		display: block;
		background: #000;
		position: absolute;
		margin: -1px 0 0 -9px;
	}

	&:after {
		@include rotate(45deg);
	}

	&:before {
		@include rotate(-45deg);
	}

	&:hover {

		&:after,
		&:before {
			background: #ff0000;
		}
	}
}

.text-blue {
	color: $color-blue;
}

.text-green {
	color: $color-green;
}

.text-red {
	color: #ff0000;
}

.color-green {
	background: #8af78d !important;
}

.color-blue {
	background: #c8efff !important;
}

.color-red {
	background: #ff0000 !important;
}