.block_left {
	@include flexbox();
	@include justify-content(flex-start);
}

.block_right {
	@include flexbox();
	@include justify-content(flex-end);
}

.tabs {

	.tabs_item {
		display: none;

		&.active {
			display: block;
		}
	}
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 20px;
}

.game {
	padding: 5px;

	&__heading {
		padding: 11px;
		margin: -11px -11px 10px -11px;
		font-size: 12px;
		line-height: 20px;
		background: #eaeaea;

		&_name {
			color: #000;
			display: block;
			font-size: 12px;
			font-weight: 400;
			line-height: 20px;
			margin-bottom: 5px;

			h1 {
				margin: 0;
				padding: 0;
				color: #000;
				font-size: 12px;
				font-weight: 400;
				line-height: 20px;
			}
		}

		&_date {
			color: #000;
			font-size: 12px;
			font-weight: 400;
			line-height: 20px;
			white-space: nowrap;
		}
	}

	&__meta {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 -6px 5px -6px;
		@include flexbox();
		@include justify-content(flex-end);

		> li {
			padding: 0 6px;
			@include flexbox();

			> a {
				margin: auto 0;
				display: inline-block;
			}
		}
	}

	&__info {
		padding-top: 20px;
		margin-bottom: 10px;
		@include flexbox();
		@include justify-content(center);

		&_player {

			&_wrap {
				width: 100px;
			}

			&_flag {
				width: 100px;
				min-width: 90px;
				font-size: 0;
				line-height: 0;
				margin-bottom: 5px;
				border: 1px solid #f5f5f5;

				img {
					display: inline-block;
				}
			}

			&_name {
				color: #000;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				text-align: center;
			}
		}

		&_data {
			padding: 0 10px;

			&_time {
				color: #24a56d;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				text-align: center;
				margin-bottom: 12px;
			}

			&_result {
				color: #000;
				font-size: 24px;
				font-weight: 700;
				line-height: 30px;
				margin-bottom: 15px;
				position: relative;
				@include flexbox();
				@include justify-content(center);

				span {
					position: relative;
					display: inline-block;

					&:first-child {
						margin-right: 18px;

						&:before {
							top: 50%;
							left: 100%;
							width: 20px;
							height: 2px;
							content: '';
							position: absolute;
							background: #bfbfbf;
							margin: -1px 0 0 8px;
						}
					}

					&:last-child {
						margin-left: 18px;
					}
				}
			}

			&_link {
				margin: 0;
				padding: 0;
				font-size: 0;
				line-height: 0;
				list-style: none;
				@include flexbox();
				@include justify-content(center);

				> li {
					padding: 0 6px;
					@include flexbox();

					a {
						margin: auto 0;
						display: inline-block;
					}
				}
			}
		}
	}

	&__stats {
		font-weight: 700;
		font-size: 12px;
		line-height: 18px;

		&_row {
			padding: 4px 0;

			&.row_left {

				.game__stats_icon {
					margin: 0 10px 0 3px;
				}
			}

			&.row_right {

				.game__stats_elem {
					margin-left: 30px;
				}

				.game__stats_icon {
					margin: 0 10px 0 3px;
				}
			}
		}

		&_elem {
			position: relative;
			@include flexbox();

			span {
				margin: auto 0;
				display: inline-block;
			}

			a {
				margin: auto 0;
				display: inline-block;
			}
		}

		&_icon {
			font-size: 0;
			line-height: 0;
		}

		&_time {
			width: 28px;
		}
	}

	&__analytics {

		&_nav {
			margin: 0 -9px 35px -9px;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			position: relative;
			@include flexbox();

			&:before {
				left: 9px;
				right: 9px;
				bottom: 0;
				content: '';
				height: 2px;
				display: block;
				position: absolute;
				background: #d9d9d9;
			}

			> li {
				padding: 0 9px;
				position: relative;
				text-align: center;
				display: inline-block;

				&:last-child {
					padding-right: 0;
				}

				> a {
					color: #999;
					padding: 10px 0;
					font-size: 13px;
					font-weight: 700;
					line-height: 15px;
					position: relative;
					text-align: left;
					text-decoration: none;
					display: inline-block;
					border-bottom: 2px solid transparent;
				}

				&.active {

					> a {
						color: #3b73b4;
						border-bottom-color: #3b73b4;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			@include flexbox();
			@include justify-content(space-between);

			&_name {
				margin-bottom: 0;
			}
		}

		&__info {
			max-width: 600px;
			margin: 0 auto 10px auto;
			@include justify-content(space-between);

			&_player {

				&_wrap {
					width: auto;
				}

				&_flag {
					width: 130px;
				}
			}

			&_data {
				width: 160px;

				span {
					width: 44px;
					height: 44px;
					padding: 5px 0;
					font-size: 30px;
					line-height: 32px;
					text-align: center;
					border: 1px solid #f2f2f2;
				}
			}
		}

		&__stats {
			margin-bottom: 25px;

			&_row {
				@include flexbox();

				&.row_left {
					@include justify-content(flex-start);

					.game__stats_icon {
					}

					.game__stats_elem {
						right: -13px;
						@include justify-content(flex-end);

						.game__stats_time {
							@include order(3);
						}

						.game__stats_icon {
							margin: 0 8px 0 12px;
							@include order(2);
						}

						.game__stats_name {
							@include order(1);
						}
					}
				}


				&.row_right {
					@include justify-content(flex-end);

					.game__stats_elem {
						left: -13px;
						margin-left: 0;
					}

					.game__stats_time {
					}

					.game__stats_icon {
						margin: 0 12px 0 8px;
					}
				}
			}

			&_elem {
				width: 50%;
				min-width: 50%;
				max-width: 50%;
			}

			&_time {
				text-align: center;
			}
		}

		&__analytics {

			&_nav {

				> li {

					> a {
						padding-left: 27px;

						&:before {
							left: 0;
							top: 50%;
							content: '';
							width: 21px;
							height: 20px;
							margin-top: -10px;
							position: absolute;
							display: inline-block;
							background: url("../img/stats_icons.png") no-repeat;
						}
					}

					&:nth-child(1) {

						> a {

							&:before {
								background-position: 0 0;
							}
						}
					}

					&:nth-child(2) {

						> a {

							&:before {
								background-position: -21px 0;
							}
						}
					}

					&:nth-child(3) {

						> a {

							&:before {
								background-position: -42px 0;
							}
						}
					}

					&.active {

						&:nth-child(1) {

							> a {

								&:before {
									background-position: 0 -20px;
								}
							}
						}

						&:nth-child(2) {

							> a {

								&:before {
									background-position: -21px -20px;
								}
							}
						}

						&:nth-child(3) {

							> a {

								&:before {
									background-position: -42px -20px;
								}
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.analytics_table {
	width: 100%;
	border-collapse: collapse;

	tr {
		&:nth-child(odd) {
			background: #f5f5f5;
		}
	}

	td {
		padding: 5px 3px;
		font-size: 11px;
		line-height: 18px;
		vertical-align: middle;
		border: 1px solid #dbdbdb;

		&:nth-child(1) {
			width: 35%;
			text-align: center;
			white-space: nowrap;

			.analytics_line_value {
				right: 0;
			}
		}

		&:nth-child(3) {
			width: 35%;
			text-align: center;
			white-space: nowrap;

			.analytics_line_value {
				left: 0;
			}
		}

		&:nth-child(2) {
			text-align: center;
			white-space: nowrap;
		}
	}

	.analytics_value {
		width: 20%;
		display: inline-block;
	}

	.analytics_line {
		width: 75%;
		height: 12px;
		position: relative;
		display: inline-block;
		background: #fff;
		border: 1px solid #dadada;
	}

	.analytics_line_value {
		top: 0;
		bottom: 0;
		position: absolute;
		display: inline-block;

		&.analytics_line_gray {
			background: #686565;
		}

		&.analytics_line_red {
			background: #f24e4e;
		}
	}
}

.forecast_poll {
	padding: 15px 5px;

	.poll_title {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 20px;
	}

	.poll_legend {
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #dbdbdb;

		span {
			padding: 0 0 5px 0;
			margin-bottom: -1px;
			display: inline-block;
			border-bottom: 1px solid #000;
		}
	}

	.poll_row {

	}

	.poll_content {

	}

	.poll_buttons {
		margin: 0 0 10px 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;

		> li {
			padding: 0 10px;
			display: inline-block;
		}


		.btn {
			width: 110px;
		}
	}

	.poll_elem {
		margin-bottom: 20px;
		@include flexbox();

		.poll_elem_value {
			width: 70px;
			min-width: 70px;
			font-size: 24px;
			font-weight: 700;
			line-height: 30px;
		}

		.poll_elem_result {
			font-size: 0;
			line-height: 0;
			@include flex-grow(1);
			@include flexbox();
			@include flex-direction(column);
		}

		.poll_elem_line {
			height: 3px;
			width: 100%;
			margin: auto 0 auto;
			position: relative;
			background: #dbdbdb;

			.poll_elem_line_value {
				top: 0;
				left: 0;
				padding-left: 20px;
				height: 100%;
				display: block;
				position: absolute;

				span {
					right: 0;
					top: -9px;
					width: 20px;
					height: 20px;
					color: #ffffff;
					padding: 2px 0;
					font-size: 12px;
					line-height: 16px;
					text-align: center;
					position: absolute;
					display: inline-block;
				}
			}
		}

		&.poll_elem_green {

			.poll_elem_line {

				.poll_elem_line_value {
					background: #2e8048;

					span {
						background: #2e8048;
					}
				}
			}
		}

		&.poll_elem_red {

			.poll_elem_line_value {
				background: #c33d26;

				span {
					background: #c33d26;
				}
			}
		}

		.poll_elem_user {
			padding: 0;
			font-size: 0;
			line-height: 0;
			margin: 10px -2px 0 -1px;
			list-style: none;
			@include flexbox();

			li {
				margin: 0 2px 0 1px;

				a {
					width: 18px;
					height: 18px;
					display: block;
					overflow: hidden;
					@include border-radius(3px);
				}
			}
		}
	}


	.poll_number {
		color: #000;
		opacity: 0.75;
		font-size: 12px;
	}

	@media (min-width: $screen-md-min) {

		.poll_row {
			@include flexbox();
		}

		.poll_content {
			@include flex-grow(1);
		}

		.poll_buttons {
			width: 130px;
			min-width: 130px;
			text-align: right;
			margin-bottom: 0;

			> li {
				padding: 0;

				&:first-child {
					margin-bottom: 15px;
				}
			}
		}
	}
}

.alike {
	padding: 0;
	margin: 0 -6px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		width: 50%;
		padding: 0 6px;
		text-align: center;
		margin-bottom: 10px;

		a {
			color: #000;
			width: 100%;
			height: 84px;
			display: table;
			font-size: 14px;
			line-height: 20px;
			padding: 5px 10px;
			text-align: center;
			margin-bottom: 10px;
			background: #d9e6f2;
			text-decoration: none;
			@include transition(.3s);

			span {
				display: table-cell;
				vertical-align: middle;
			}

			&:hover {
				background: #9dd0ff;
				@include transition(.3s);
			}
		}
	}


	@media (min-width: $screen-md-min) {

		> li {
			width: 25%;
		}
	}
}

.predict {

	&_info {
		padding: 0;
		margin: 0 -10px 10px -10px;
		list-style: none;
		@include flexbox();
	//	@include justify-content(center);

		> li {
			padding: 0 10px;
			font-size: 13px;
			line-height: 19px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(center);

			span {
				display: inline-block;
			}

			.predict_info_text {
				color: #000;
				margin-right: 5px;
				border: 1px solid transparent;
			}

			.predict_info_value {
				color: #000;
				padding: 0 3px;
				font-weight: 700;
				background: #F0FFF0;
				border: 1px solid #F2F2F2;

				&:hover {

				}
			}
		}
	}

	&_info_v2 {
		padding: 0;
		margin: 0 -10px 30px 0;
		list-style: none;
		@include flexbox();
		@include justify-content(center);

		>li {
			padding: 0 10px;
			font-size: 14px;
			line-height: 20px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(center);

			span {
				display: inline-block;
			}

			.predict_info_text {
				color: #000;
				padding: 4px 10px 4px 0;
			}

			.predict_info_value {
				color: #fff;
				padding: 4px 5px;
				background: #24a56d;
			}
		}
	}

	&_data {
		padding: 0;
		font-size: 13px;
		line-height: 20px;
		margin: 0 -10px 20px -10px;
		list-style: none;
		@include flexbox();
		@include justify-content(space-between);

		> li {
			padding: 0 10px;

			&:last-child {
				color: #F80004;
				font-weight: 700;
			}
		}
	}

	&_meta {
		margin: 0 -10px 10px 0;
		@include flexbox();
		@include flex-wrap(wrap);
	//	@include justify-content(space-between);

		ul {
			margin: 0;
			padding: 0 5px;
			font-size: 0;
			line-height: 0;
			list-style: none;

			> li {
				padding: 3px 5px;
				font-size: 13px;
				line-height: 13px;
				display: inline-block;

				a {
					color: #4b89c2;
					text-decoration: navajowhite;

					i {
						color: #cdd4db;
					}

					span {
						text-decoration: underline;
					}

					&:hover {

						i {
							color: #63aaf1;
						}

						span {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

.table_vendor_logo {
	font-size: 0;
	margin: 0 auto;
	line-height: 0;
	max-width: 50px;
	display: block;

	.img-fluid {
		display: inline-block;
	}
}

.comments_link {
	color: #000;
	text-decoration: none;

	span {
		font-weight: 700;
	}

	&:hover {
		color: $color-blue;
		text-decoration: none;
	}
}

.game_result {
	color: #fff;
	width: 18px;
	height: 18px;
	padding: 2px 0;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	display: inline-block;
	@include border-radius(3px);

	&.result_win {
		background: #00ac5b;
	}

	&.result_draw {
		background: #065dff;
	}

	&.result_defeat {
		background: #dc2121;
	}
}

.games {

	.games_nav {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		border-bottom: 4px solid #3B73B4;

		> li {
			margin: 0 5px;
			display: inline-block;

			&:last-child {
				margin-right: 0;
			}

			a {
				padding: 5px 10px;
				color: #484848;
				font-size: 13px;
				line-height: 20px;
				background: #e6e6e6;
				text-decoration: none;
				display: inline-block;
				@include border-radius(4px 4px 0 0);

				&:hover {
					color: #da0a0a;
					text-decoration: none;
				}

				span {
					display: none;
				}
			}


			&.active {

				a {
					color: #fff;
					background: #3B73B4;

					&:hover {
						color: #fff;
						background: #3B73B4;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.games_nav {

			> li {

				a {

					span {
						display: inline;
					}
				}
			}
		}
	}
}

.post_info {
	padding: 7px;
	color: #484848;
	font-size: 12px;
	line-height: 14px;
	background: #f6f6f6;
	margin-bottom: 10px;
	border: 1px solid #d4d4d4;

	i {
		font-size: 14px;
	}

	a {
		color: #484848;
		text-decoration: none;

		&:hover {

			span {
				text-decoration: underline;
			}
		}
	}

	> ul {
		padding: 0;
		margin: 0 -5px;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			padding: 0 5px;

			&:last-child {
				float: right;
			}
		}
	}
}