.event {
	border: 1px solid #dadada;

	&__heading {
		color: #fff;
		padding: 5px 10px;
		font-size: 13px;
		font-weight: 700;
		line-height: 16px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		&_blue {
			background: #3c73b4;
		}

		&_gray {
			color: #454545;
			background: #eaeaea;
		}

		&_elem {
			display: inline-block;
		}
	}

	&__meta {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 0 5px 0;
		@include flexbox();
		@include justify-content(flex-end);

		> li {
			padding: 0 6px;
			@include flexbox();

			> a {
				margin: auto 0;
				display: inline-block;
			}
		}
	}

	&__date {
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		margin-bottom: 5px;
	}

	&__info {
		margin-bottom: 30px;
		@include flexbox();
		@include justify-content(center);

		&_player {
			width: 90px;

			&__logo {
				width: 90px;
				height: 90px;
			}

			&__name {
				color: #000;
				padding: 10px 0;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				text-align: center;
			}
		}

		&_data {
			padding: 30px 10px 0 10px;

			&__result {
				color: #17850e;
				font-size: 24px;
				font-weight: 700;
				line-height: 28px;
				margin-bottom: 5px;
				position: relative;
				@include flexbox();
				@include justify-content(center);

				span {
					position: relative;
					display: inline-block;

					&:first-child {
						margin-right: 18px;

						&:before {
							top: 50%;
							left: 100%;
							width: 20px;
							height: 2px;
							content: "";
							position: absolute;
							background: #bfbfbf;
							margin: -1px 0 0 8px;
						}

					}

					&:last-child {
						margin-left: 18px;
					}
				}
			}

			&__stat {
				color: #17850e;
				font-size: 13px;
				font-weight: 700;
				line-height: 20px;
				text-align: center;
			}
		}
	}

	&__wrap {
		padding: 13px 10px 8px 10px;
	}

	@media (min-width: $screen-sm-min) {

		&__info {
			max-width: 600px;
			margin: 0 auto 30px auto;
			@include justify-content(space-between);

			&_player {
				width: auto;
				@include flexbox();

				&__logo {
					@include flex-grow(1);
				}

				&__name {
					@include flexbox();
					@include flex-direction(column);

					span {
						margin: auto 0;
						display: inline-block;
					}
				}
			}

			&_data {
				padding-top: 25px;

				&__result {

					span {
						width: 70px;
						height: 40px;
						padding: 5px 0;
						text-align: center;
						border: 1px solid #f2f2f2;
					}
				}
			}

			&_left {

				.event__info_player__logo {

				}

				.event__info_player__name {
					padding-left: 10px;
				}
			}

			&_right {

				.event__info_player__logo {
					@include order(2);
				}
				.event__info_player__name {
					padding-right: 10px;
					@include order(1);
				}
			}
		}
	}
}



.text_red {
	color: #ff0000;
}

.text_uppercase {
	text-transform: uppercase;
}

.mb_10 {
	margin-bottom: 10px;
}