.btn {
	border: none;
	outline: none;
	color: #3b73b4;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	padding: 5px 15px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #f4f4f4;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	@include border-radius(3px);
	@include transition(.2s);


	&:hover {
		color: #3b73b4;
		background: #AAAAAA;
		text-decoration: none;
	}

	&:focus,
	&.focus {

	}

	&:active {
		@include box-shadow(inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26));
	}
}

.btn-green {
	color: #fff;
	@include gradient-vertical(#31a64d, #2fb532);

	&:hover {
		color: #fff;
		@include gradient-vertical(#2fb532, #31a64d);
	}
}

.btn-blue {
	color: #fff;
	@include gradient-vertical(#2073dc, #1a83f0);

	&:hover {
		color: #fff;
		@include gradient-vertical(#1a83f0, #2073dc);
	}
}

.btn-red {
	color: #fff;
	background: #c33d26;

	&:hover {
		color: #fff;
		background: #fa3311;
	}
}

.btn-white {
	background: #fff;

	&:hover {
		color: #fff;
		background: #3b73b4;
	}
}

.btn-md {
	padding: 9px 45px;
	text-transform: uppercase;
}

.btn-still {
	outline: none;
	display: block;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	margin-top: 4px;
	color: $color-blue;
	text-align: center;
	padding: 4px 10px;
	user-select: none;
	white-space: nowrap;
	background: #f5f5f5;
	text-decoration: none;
	vertical-align: middle;
	@include transition(.2s);

	.btn-still-text {
		font-size: 12px;
		font-weight: 700;
		line-height: 20px;
		padding-right: 35px;
		position: relative;
		display: inline-block;
	}

	i {
		top: 0;
		right: 0;
		font-size: 0;
		line-height: 0;
		width: 24px;
		height: 100%;
		position: absolute;
		background: #506a94;
		display: inline-block;

		&:after,
		&:before {
			top: 11px;
			z-index: 10;
			width: 10px;
			height: 1px;
			content: '';
			background: #fff;
			position: absolute;
			display: inline-block;
		}

		&:after {
			right: 4px;
			@include rotate(-45deg);
		}

		&:before {
			left: 4px;
			@include rotate(45deg);
		}
	}

	&:hover {
		color: #3b73b4;
		background: #f3f8fe;
		text-decoration: none;
	}
}

.btn-text {
	border: none;
	outline: none;
	color: #3b73b4;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	padding: 1px 35px 1px 0;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	position: relative;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	@include transition(.2s);


	i {
		top: 0;
		right: 0;
		font-size: 0;
		line-height: 0;
		width: 25px;
		height: 100%;
		position: absolute;
		background: #506a94;
		display: inline-block;

		&:after,
		&:before {
			top: 11px;
			z-index: 10;
			width: 10px;
			height: 1px;
			content: '';

			background: #fff;
			position: absolute;
			display: inline-block;
		}

		&:after {
			right: 4px;
			@include rotate(-45deg);
		}

		&:before {
			left: 4px;
			@include rotate(45deg);
		}
	}

	&:hover {
		color: #3b73b4;
		background: transparent;
		text-decoration: none;
	}

	&:focus,
	&.focus {

	}
}

.btn-wrap {
	padding: 10px;
	margin-top: 3px;
	background: #f5f5f5;
}

.btn-group {
	padding: 0;
	list-style: none;
	margin: 0 -8px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(left);

	li {
		padding: 0 8px;
		margin-bottom: 10px;
	}

	&.centered {
		@include justify-content(center);
	}
}
