.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #3a3636;
	padding: 4px 12px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	display: inline-block;
	background: #fff;
	border: 1px solid #f1f1f1;
	@include border-radius(4px);
	@include placeholder(#3a3636);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		border-color: #B9B9B9;
		@include placeholder(transparent);
	}
}

.form-select {
	margin: 0;
	width: 100%;
	outline: none;
	color: #3a3636;
	padding: 4px 12px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	display: inline-block;
	background: #fff;
	border: 1px solid #f1f1f1;
	@include border-radius(4px);
	@include placeholder(#3a3636);

	-webkit-appearance: none;
	background-image: url('../img/icon_select.png');
	background-position: 100% 50%;
	background-repeat: no-repeat;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}
}

.form-control-white {
	border-color: #fff;


	&:focus {
		border-color: #fff;

	}
}

.form-radio {
	font-size: 0;
	font-weight: 400;
	line-height: 0;
	display: inline-block;

	input {
		display: none !important;
	}

	.form-radio-text {
		color: #333333;
		font-size: 15px;
		cursor: pointer;
		line-height: 20px;
		position: relative;
		padding-left: 30px;
		display: inline-block;

		&:before {
			left: 0;
			top: 2px;
			z-index: 5;
			width: 16px;
			height: 16px;
			content: '';
			position: absolute;
			display: inline-block;
			border: 1px solid #cdcdcd;
			@include border-radius(50%);
		}

		&:after {
			top: 7px;
			left: 5px;
			z-index: 5;
			width: 8px;
			height: 8px;
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: #30ad40;
			@include border-radius(50%);
			@include transition(.2s);
		}
	}

	input:checked + .form-radio-text {

		&:after {
			opacity: 1;
			visibility: visible;
			@include transition(.2s);
		}
	}
}

.form-group {
	margin-bottom: 10px;
}

