.table {
    width: 100%;
    padding: 5px;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 20px;
    border-collapse: collapse;

    th {
        padding: 5px;
        color: #2c558d;
        background: #dae7f1;
        border: 1px solid #e6edf2;
    }

    td {
        padding: 5px;
        border: 1px solid #e6edf2;
    }
}

.predict_table {
    margin-bottom: 15px;

    td {
        text-align: center;
    }
}

@media (max-width: 767px) {

    .table-responsive {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-bottom: 25px;
        border: 1px solid #ddd;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        .table_prognos {

            width: 700px;
        }
    }
}


