.selectbox {
	font-size: 12px; vertical-align: top; float: left;
}
.time form {
	font-size: 12px; vertical-align: top; float: left;
}
.selectbox ul {
	list-style: none; margin: 0px; padding: 0px; color: rgb(35, 31, 32);
}
.selectbox .select {
	width: 33px; z-index: 0 !important;
}
.selectbox .select:hover {
	background-position: 0px 0px;
}
.ddselectbox .select:active {
	background: rgb(245, 245, 245); color: rgb(0, 0, 0); box-shadow: inset 0px 1px 3px rgba(0,0,0,0.15);
}
.selectbox.focused .select {
	border: 1px solid rgb(87, 148, 191); border-image: none;
}
.selectbox .select .text {
	height: 20px; color: rgb(153, 153, 153); overflow: hidden; display: block; cursor: pointer; -ms-text-overflow: ellipsis;
}
.selectbox .select .text:hover {
	color: rgb(255, 255, 255);
}
.selectbox .trigger {
	top: 1px; height: 100%; right: -6px; position: absolute;
}
.selectbox .trigger .arrow {
	top: 5px; width: 0px; height: 0px; right: -8px; overflow: hidden; border-top-color: rgb(255, 255, 255); border-right-color: transparent; border-left-color: transparent; border-top-width: 5px; border-right-width: 5px; border-left-width: 5px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; opacity: 0.3;
}
.selectbox .select .text:hover .arrow {
	opacity: 1;
}
.selectbox .dropdown {
	background: 0px 0px rgb(255, 255, 255); font: 10px/9px Arial, Tahoma, sans-serif; margin: 12px 0px 0px; padding: 4px 0px; border-radius: 4px; border: 1px solid rgb(198, 203, 208); border-image: none; left: 0px; top: 10px; width: 160px; overflow: auto; font-size-adjust: none; font-stretch: normal; box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
.selectbox li {
	padding: 5px 10px 6px; color: rgb(35, 31, 32);
}
.selectbox li.selected {
	background: rgb(163, 171, 177); color: rgb(255, 255, 255);
}
.selectbox li:hover {
	background: rgb(0, 136, 204); color: rgb(255, 255, 255);
}
.selectbox li.disabled {
	color: rgb(170, 170, 170);
}
.selectbox li.disabled:hover {
	background: none;
}
