.other_login {
	color: rgb(136, 136, 136); position: relative;
}
.other_login .vk a {
	margin: -12px 0px; transition:0.4s; width: 85px; height: 77px; text-indent: -999em; display: block; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s;
}
.other_login .odnoklassniki a {
	margin: -12px 0px; transition:0.4s; width: 85px; height: 77px; text-indent: -999em; display: block; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s;
}
.other_login .twit a {
	margin: -12px 0px; transition:0.4s; width: 85px; height: 77px; text-indent: -999em; display: block; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s;
}
.other_login .face a {
	margin: -12px 0px; transition:0.4s; width: 85px; height: 77px; text-indent: -999em; display: block; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s;
}
.other_login .vk a:hover {
	cursor: pointer; background-color: rgb(45, 47, 50);
}
.other_login .odnoklassniki a:hover {
	cursor: pointer; background-color: rgb(45, 47, 50);
}
.other_login .twit a:hover {
	cursor: pointer; background-color: rgb(45, 47, 50);
}
.other_login .face a:hover {
	cursor: pointer; background-color: rgb(45, 47, 50);
}
.other_login a {
	margin: 0px 2px !important;
}
.other_login a img {
	background: url("/templates/adaptiv/images/soc_net_ic.png") no-repeat 0px 0px rgba(0, 0, 0, 0); margin: 4px 0px 0px; width: 20px; height: 20px; cursor: pointer; opacity: 0.5;
}
#uLogin4 a img {
	background: url("/templates/adaptiv/images/soc_net_ic.png") no-repeat 0px 0px rgba(0, 0, 0, 0); margin: 4px 0px 0px; width: 20px; height: 20px; cursor: pointer; opacity: 0.5;
}
.other_login a img:hover {
	opacity: 1 !important;
}
.other_login a img:hover {
	opacity: 1 !important;
}
.other_login .face img {
	background-position: 0px 0px !important;
}
.other_login .twit img {
	background-position: -21px 0px !important;
}
.other_login .gplus img {
	background-position: -105px 0px !important;
}
.other_login .ok img {
	background-position: -63px 0px !important;
}
.other_login .vk img {
	background-position: -84px 0px !important;
}
.other_login .mail img {
	background-position: -126px 0px !important;
}
.other_login .yandex img {
	background-position: -147px 0px !important;
}
.c-user-panel__up-button {
	transition:visibility 0ms linear 200ms, opacity 200ms linear; width: 100px; height: 36px; line-height: 36px; padding-left: 30px !important; text-decoration: none; visibility: hidden; position: absolute; box-sizing: border-box; opacity: 0;
}
.c-user-panel__up-button {
	top: 0px; right: 0px; float: right; visibility: visible; position: absolute !important; cursor: pointer; opacity: 0.5; transition-delay: 0ms;
}
.c-user-panel__up-button::before {
	top: -2px; border-right-color: transparent; border-bottom-color: currentColor; border-left-color: transparent; border-right-width: 4px; border-bottom-width: 4px; border-left-width: 4px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: relative; content: "";
}
.c-user-panel__up-button:hover {
	text-decoration: none;
}
.c-user-panel__up-button:hover {
	opacity: 1; background-color: rgb(64, 64, 64);
}
.guest_panel ul {
	
}
.guest_panel ul li.shadow {
	
}
.guest_panel ul li {
	margin: 0px !important; padding: 6px 10px !important; float: left;
}
.guest_panel ul li.auth {
	background: url("/templates/adaptiv/images/log_ico.png") no-repeat 7px rgba(0, 0, 0, 0); padding: 0px !important; border-right-color: rgb(34, 34, 34) !important; border-left-color: rgb(34, 34, 34) !important; border-right-width: 1px !important; border-left-width: 1px !important; border-right-style: solid !important; border-left-style: solid !important;
}
.guest_panel ul li.auth:hover {
	background-color: rgb(64, 64, 64);
}
.guest_panel ul li.reg:hover {
	background-color: rgb(64, 64, 64);
}
#mini_plogo {
	left: 95px; top: 5px; position: absolute;
}
.guest_panel ul li.auth a {
	padding: 6px 18px 6px 33px !important; color: rgb(255, 255, 255) !important; font-size: 12px; font-weight: bold !important; border-bottom-color: transparent !important; border-bottom-width: 1px !important; border-bottom-style: solid !important; display: block !important;
}
.guest_panel ul li.auth:hover a {
	
}
.guest_panel ul li.reg {
	padding: 0px !important; margin-right: 6px !important; border-right-color: rgb(34, 34, 34) !important; border-right-width: 1px !important; border-right-style: solid !important;
}
.guest_panel ul li.reg a {
	padding: 6px 14px !important; color: rgb(255, 255, 255) !important; font-size: 12px; font-weight: bold !important; display: block !important;
}
.guest_panel ul li.auth:hover a {
	border-bottom-color: rgb(153, 153, 153) !important; border-bottom-width: 1px !important; border-bottom-style: dotted !important;
}
.guest_panel ul li.reg:hover a {
	border-bottom-color: rgb(153, 153, 153) !important; border-bottom-width: 1px !important; border-bottom-style: dotted !important;
}
.overley ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
.overley .drop-menu-main a {
	padding: 0px 10px 0px 0px; color: rgb(85, 85, 85); text-decoration: none;
}
.overley .drop-down {
	padding: 0px 10px 0px 0px; color: rgb(85, 85, 85); text-decoration: none;
}
.overley .drop-menu-main-sub .title {
	padding: 0px 10px 0px 0px; color: rgb(85, 85, 85); text-decoration: none;
}
.overley .drop-menu-main {
	padding: 4px; height: 20px; position: relative;
}
.overley .drop-menu-main .ddrop {
	left: -8px; position: relative;
}
.overley .drop-menu-main li {
	margin-right: 40px; float: left;
}
.overley .drop-menu-main-sub {
	margin: -23px 0px 0px -113px !important; padding: 5px 0px !important; width: 130px; display: none; position: absolute; z-index: 100;
}
.overley .drop-menu-main-sub .contentoss {
	background: 0px 0px rgb(34, 34, 34); padding: 5px 20px !important; border-radius: 0px 0px 5px 5px; box-shadow: 0px 2px 8px rgba(0,0,0,0.45);
}
.overley .drop-menu-main-sub .contentoss a {
	margin: 0px 11px 0px 0px !important;
}
.overley .drop-menu-main-sub a {
	padding: 6px 15px; color: rgb(85, 85, 85); font-size: 11px; text-decoration: none; display: block; cursor: pointer;
}
.overley .drop-menu-main-sub .title {
	margin: -8px 0px 0px 106px !important; padding: 0px 0px 7px 7px !important; border-radius: 5px 5px 0px 0px; display: block; cursor: pointer; background-color: rgb(34, 34, 34);
}
.overley li {
	list-style: none; display: block;
}
.overley .drop-down {
	cursor: pointer;
}
.overley span.arrow {
	color: rgb(204, 204, 204); font-size: 11px;
}
.tmz {
	padding: 0px 0px 0px 15px !important; float: left;
}
.tmz #timezone {
	top: -9999px !important; display: none; visibility: hidden; position: absolute !important;
}
.search_but {
	background: url("/templates/vprognoze/images/search_bt.png") no-repeat center rgba(0, 0, 0, 0); margin: 0px !important; padding: 0px !important; width: 43px !important; height: 38px; border-left-color: rgb(0, 0, 0) !important; border-left-width: 1px !important; border-left-style: solid !important; cursor: pointer; opacity: 0.4;
}
.search_but:hover {
	border-left-color: rgb(34, 34, 34) !important; border-left-width: 1px !important; border-left-style: solid !important; opacity: 1;
}
.search_form {
	background: url("/templates/adaptiv/images/search_bg.png") 0px 0px rgba(0, 0, 0, 0); left: 0px; top: 39px; width: 100%; height: 45px; text-align: center; color: rgb(0, 0, 0); overflow: hidden; display: none; position: fixed;
}
.name-search {
	font: 23px/normal Arial, Tahoma; left: 21px; top: 41px; color: rgb(42, 118, 221); visibility: hidden; position: relative; font-size-adjust: none; font-stretch: normal;
}
.hov {
	background: url("/templates/vprognoze/images/search_bt.png") no-repeat 10px rgb(34, 34, 34); padding: 0px 15px 0px 35px !important; opacity: 1;
}
.moremo {
	font: 22px/normal Arial, Tahoma; left: 160px; top: 15px; color: rgb(42, 118, 221); visibility: hidden; position: relative; font-size-adjust: none; font-stretch: normal;
}
.search-form-input {
	left: -10px; top: 7px; width: 75%; height: 29px; display: inline-block; position: relative;
}
.selectbox * {
	white-space: normal !important; box-sizing: inherit !important;
}
.no_tul {
	background: 0px 0px rgba(0, 0, 0, 0) !important; margin: 0px 0px 0px 10px !important; border-radius: 0px !important; border: 0px currentColor !important; border-image: none !important; display: inherit !important; box-shadow: none !important;
}
.no_tul .hov {
	background: url("/templates/vprognoze/images/search_bt.png") no-repeat center rgb(34, 34, 34); padding: 0px 15px 0px 22px !important;
}
.no_tul .search_but {
	padding: 0px 15px 0px 22px !important; width: auto !important; border-right-color: rgb(0, 0, 0) !important; border-right-width: 1px !important; border-right-style: solid !important;
}
.no_tul .search_but:hover {
	border-right-color: rgb(34, 34, 34) !important; border-left-color: rgb(34, 34, 34) !important; border-right-width: 1px !important; border-left-width: 1px !important; border-right-style: solid !important; border-left-style: solid !important;
}
#ed-shortbar ul.ed-user-info {
	margin-right: 13px;
}
@media screen and (max-width:1023px)
{
#ed-shortbar {
	left: 0px; width: 1020px !important; right: 0px; position: absolute;
}
#mini_plogo {
	display: none !important;
}
.search_form {
	width: 1020px !important; position: absolute !important;
}
}
