.bbcode-editor::before {
	display: table; content: "";
}
.bbcode-editor::after {
	display: table; content: "";
}
.bbcode-editor::after {
	clear: both;
}
.bbcode-editor {
	
}
.bbcode-editor .bbcode {
	background: url("/templates/adaptiv/bbcodes/bbcodes.png") no-repeat 0px 0px; margin: 0px 4px 4px 0px; border-radius: 4px; width: 26px; height: 26px; text-align: left; text-indent: -9999px; overflow: hidden; float: left; cursor: pointer; box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1); -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.bbcode-editor .bbcode:hover {
	box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4); background-color: rgb(255, 255, 255); -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.bbcode-editor .bbcode.b-b {
	background-position: 0px -900px;
}
.bbcode-editor .bbcode.b-b:hover {
	background-position: -30px -900px;
}
.bbcode-editor .bbcode.b-i {
	background-position: 0px -570px;
}
.bbcode-editor .bbcode.b-i:hover {
	background-position: -30px -570px;
}
.bbcode-editor .bbcode.b-u {
	background-position: 0px -60px;
}
.bbcode-editor .bbcode.b-u:hover {
	background-position: -30px -60px;
}
.bbcode-editor .bbcode.b-s {
	background-position: 0px -180px;
}
.bbcode-editor .bbcode.b-s:hover {
	background-position: -30px -180px;
}
.bbcode-editor .bbcode.b-separator {
	background-position: 0px -840px; width: 5px; box-shadow: none; background-color: transparent; -moz-box-shadow: none;
}
.bbcode-editor .bbcode.b-emo {
	background-position: 0px -660px;
}
.bbcode-editor .bbcode.b-emo:hover {
	background-position: -30px -660px;
}
.bbcode-editor .bbcode.b-url {
	background-position: 0px -450px;
}
.bbcode-editor .bbcode.b-url:hover {
	background-position: -30px -450px;
}
.bbcode-editor .bbcode.b-leech {
	background-position: 0px -480px;
}
.bbcode-editor .bbcode.b-leech:hover {
	background-position: -30px -480px;
}
.bbcode-editor .bbcode.b-email {
	background-position: 0px -690px;
}
.bbcode-editor .bbcode.b-email:hover {
	background-position: -30px -690px;
}
.bbcode-editor .bbcode.b-video {
	background-position: 0px -390px;
}
.bbcode-editor .bbcode.b-video:hover {
	background-position: -30px -390px;
}
.bbcode-editor .bbcode.b-audio {
	background-position: 0px -360px;
}
.bbcode-editor .bbcode.b-audio:hover {
	background-position: -30px -360px;
}
.bbcode-editor .bbcode.b-hide {
	background-position: 0px -600px;
}
.bbcode-editor .bbcode.b-hide:hover {
	background-position: -30px -600px;
}
.bbcode-editor .bbcode.b-quote {
	background-position: 0px -240px;
}
.bbcode-editor .bbcode.b-quote:hover {
	background-position: -30px -240px;
}
.bbcode-editor .bbcode.b-code {
	background-position: 0px -750px;
}
.bbcode-editor .bbcode.b-code:hover {
	background-position: -30px -750px;
}
.bbcode-editor .bbcode.b-pagebreak {
	background-position: 0px -270px;
}
.bbcode-editor .bbcode.b-pagebreak:hover {
	background-position: -30px -270px;
}
.bbcode-editor .bbcode.b-pagelink {
	background-position: 0px -300px;
}
.bbcode-editor .bbcode.b-pagelink:hover {
	background-position: -30px -300px;
}
.bbcode-editor .bbcode.b-left {
	background-position: 0px -510px;
}
.bbcode-editor .bbcode.b-left:hover {
	background-position: -30px -510px;
}
.bbcode-editor .bbcode.b-center {
	background-position: 0px -810px;
}
.bbcode-editor .bbcode.b-center:hover {
	background-position: -30px -810px;
}
.bbcode-editor .bbcode.b-right {
	background-position: 0px -210px;
}
.bbcode-editor .bbcode.b-right:hover {
	background-position: -30px -210px;
}
.bbcode-editor .bbcode.b-color {
	background-position: 0px -720px;
}
.bbcode-editor .bbcode.b-color:hover {
	background-position: -30px -720px;
}
.bbcode-editor .bbcode.b-spoiler {
	background-position: 0px -150px;
}
.bbcode-editor .bbcode.b-spoiler:hover {
	background-position: -30px -150px;
}
.bbcode-editor .bbcode.b-flash {
	background-position: 0px -630px;
}
.bbcode-editor .bbcode.b-flash:hover {
	background-position: -30px -630px;
}
.bbcode-editor .bbcode.b-youtube {
	background-position: 0px 0px;
}
.bbcode-editor .bbcode.b-youtube:hover {
	background-position: -30px 0px;
}
.bbcode-editor .bbcode.b-typograf {
	background-position: 0px -90px;
}
.bbcode-editor .bbcode.b-typograf:hover {
	background-position: -30px -90px;
}
.bbcode-editor .bbcode.b-list {
	background-position: 0px -420px;
}
.bbcode-editor .bbcode.b-list:hover {
	background-position: -30px -420px;
}
.bbcode-editor .bbcode.b-ol {
	background-position: 0px -330px;
}
.bbcode-editor .bbcode.b-ol:hover {
	background-position: -30px -330px;
}
.bbcode-editor .bbcode.b-upload {
	background-position: 0px -30px;
}
.bbcode-editor .bbcode.b-upload:hover {
	background-position: -30px -30px;
}
.bbcode-editor .bbcode.b-img {
	background-position: 0px -540px;
}
.bbcode-editor .bbcode.b-img:hover {
	background-position: -30px -540px;
}
.bbcode-editor .bbcode.b-translit {
	background-position: 0px -120px;
}
.bbcode-editor .bbcode.b-translit:hover {
	background-position: -30px -120px;
}
.bbcode-editor .b-font {
	margin-right: 4px; float: left;
}
.bbcode-editor .b-size {
	margin-right: 4px; float: left;
}
.bbcode-editor .b-font select {
	margin: 4px 0px 0px; font-size: 100%; vertical-align: baseline;
}
.bbcode-editor .b-size select {
	margin: 4px 0px 0px; font-size: 100%; vertical-align: baseline;
}
.bbcode-editor .tooltip {
	padding: 5px; font-size: 11px; display: block; visibility: visible; position: absolute; z-index: 1030; opacity: 0;
}
.bbcode-editor .tooltip.in {
	opacity: 0.8;
}
.bbcode-editor .tooltip-inner {
	padding: 3px 8px; border-radius: 4px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; max-width: 200px; background-color: rgb(0, 0, 0); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.bbcode-editor .tooltip-arrow {
	border-style: solid; border-color: transparent; width: 0px; height: 0px; position: absolute;
}
.bbcode-editor .tooltip.top .tooltip-arrow {
	border-width: 5px 5px 0px; left: 50%; bottom: 0px; margin-left: -5px; border-top-color: rgb(0, 0, 0);
}
.comments-editor textarea {
	padding: 10px; width: 481px; height: 150px;
}
