.orating {
	position: relative;
}
.ostats {
	background: rgba(0, 0, 0, 0.15); padding: 10px; border-radius: 5px; width: 270px; right: 6px !important; display: none; position: absolute; z-index: 999;
}
.ostats h4 {
	background: url("/templates/adaptiv/dleimages/orating_h4.png") repeat-x rgb(250, 250, 250); font: 13px/35px Tahoma, Arial; margin: 0px; padding: 0px 0px 0px 17px; border-radius: 3px 3px 0px 0px; height: 35px; text-align: left; color: rgb(153, 153, 153); border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; cursor: move; font-size-adjust: none; font-stretch: normal;
}
.ostats_area {
	background: rgb(255, 255, 255); border-radius: 3px; padding-bottom: 1px;
}
.oclose {
	background: url("/templates/adaptiv/dleimages/oclose.png") no-repeat; margin: -3px; border: 0px currentColor; border-image: none; width: 22px; height: 22px; text-decoration: none; float: right;
}
.oclose:hover {
	background-position: 0px -22px;
}
.oclose:active {
	background-position: 0px -44px;
}
.ostats ul {
	list-style: none; margin: 0px; padding: 0px; height: auto; float: none;
}
.ostats ul li {
	background: url("/templates/adaptiv/dleimages/oarrow.png") no-repeat 10px 0px; font: 11px/22px "Trebuchet MS", Tahoma; padding: 0px 10px 0px 32px; height: 22px; overflow: hidden; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dotted; float: none; display: block; position: relative; font-size-adjust: none; font-stretch: normal;
}
.ostats ul li.onoentry {
	background: none; padding: 0px 5px; text-align: center; color: rgb(153, 153, 153);
}
.ostats ul li:hover {
	background-color: rgb(255, 255, 255);
}
.ostats ul li a:hover {
	text-decoration: underline;
}
.ostats ul li.ostat-none {
	background-image: none;
}
.ostats ul li.ostat-none a {
	color: rgb(136, 136, 136);
}
.ostats ul li.ostat-none:hover a {
	color: rgb(85, 85, 85);
}
.ostats ul li.ostat-plus {
	
}
.ostats ul li.ostat-plus a {
	color: rgb(96, 147, 195);
}
.ostats ul li.ostat-plus:hover {
	background-position: 10px -22px;
}
.ostats ul li.ostat-plus:hover a {
	color: rgb(84, 99, 56);
}
.ostats ul li.ostat-minus {
	background-position: 10px -44px;
}
.ostats ul li.ostat-minus a {
	color: rgb(171, 57, 53);
}
.ostats ul li.ostat-minus:hover {
	background-position: 10px -66px;
}
.ostats ul li.ostat-minus:hover a {
	color: rgb(82, 39, 38);
}
.ostats ul li span {
	color: rgb(204, 204, 204); font-family: Arial; float: right;
}
.ostats ul li:hover span {
	color: rgb(119, 119, 119);
}
#ostats-userinfo {
	background: rgba(88, 88, 88, 0.88); left: 0px; top: 0px; width: 100%; height: 22px; text-align: center; display: none; position: absolute;
}
#ostats-userinfo a {
	font: bold 10px/21px Tahoma; padding: 0px 15px; height: 21px; color: rgb(227, 229, 231); display: inline-block; font-size-adjust: none; font-stretch: normal;
}
#ostats-userinfo a:hover {
	background: rgb(0, 0, 0); color: rgb(255, 255, 255); text-decoration: underline;
}
#ostats-userinfo a.close {
	float: right;
}
#okarma {
	padding: 0px 10px; height: 20px; text-align: center; color: rgb(255, 255, 255); float: left;
}
.ostats-uservotes {
	width: 880px;
}
.ostats-uservotes-area {
	margin-right: 610px;
}
#ostats-user-ratings {
	background: rgb(250, 250, 250); border-radius: 4px; width: 600px; padding-bottom: 5px; float: right;
}
#ostats-user-ratings ul {
	overflow: auto;
}
.onavi {
	padding: 10px 0px 0px; width: 100%; position: relative;
}
.onavi .opages {
	margin: 0px 15px; text-align: center;
}
.onavi .opages * {
	font: 11px/22px Arial; margin: 0px 3px 5px; padding: 0px 5px; border-radius: 4px; height: 22px; border-right-color: rgb(238, 238, 238); border-left-color: rgb(238, 238, 238); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: inline-block; font-size-adjust: none; font-stretch: normal;
}
.onavi .opages a {
	color: rgb(130, 172, 52); text-decoration: none;
}
.onavi .opages a:hover {
	color: rgb(255, 255, 255) !important; background-color: rgb(109, 185, 90);
}
.onavi .opages span {
	color: rgb(255, 255, 255); cursor: default; background-color: rgb(221, 221, 221);
}
.usernavistart {
	background: url("/templates/adaptiv/dleimages/ostats.png") no-repeat; margin: -11px 0px 0px; padding: 0px; border: 0px currentColor; border-image: none; top: 50%; width: 22px; height: 22px; display: block; position: absolute;
}
.usernaviend {
	background: url("/templates/adaptiv/dleimages/ostats.png") no-repeat; margin: -11px 0px 0px; padding: 0px; border: 0px currentColor; border-image: none; top: 50%; width: 22px; height: 22px; display: block; position: absolute;
}
.usernavistart {
	left: -10px;
}
a.usernavistart:hover {
	background-position: 0px -22px;
}
a.usernavistart:active {
	background-position: 0px -44px;
}
span.usernavistart {
	background-position: 0px -66px;
}
.usernaviend {
	background-position: -22px 0px; right: -10px;
}
a.usernaviend:hover {
	background-position: -22px -22px;
}
a.usernaviend:active {
	background-position: -22px -44px;
}
span.usernaviend {
	background-position: -22px -66px;
}
#orating-bar {
	background: rgb(204, 204, 204); margin: 5px 2px; padding: 1px 0px 1px 1px; border-radius: 4px; height: 17px; position: relative;
}
#orating-bar div {
	height: 15px; overflow: hidden; float: left;
}
#orating-bar div p {
	font: bold 10px/15px Tahoma; margin: 0px; padding: 0px; text-align: center; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal; text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}
#orating-bar-oplus {
	border-radius: 4px 0px 0px 4px; border-top-color: rgb(81, 131, 184); border-bottom-color: rgb(81, 131, 184); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(130, 172, 52);
}
#orating-bar-ominus {
	border-radius: 0px 4px 4px 0px; border-top-color: rgb(221, 132, 132); border-bottom-color: rgb(161, 53, 53); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(203, 66, 66);
}
#orating-bar-separator {
	width: 3px; margin-left: -2px; border-top-color: rgb(247, 247, 247); border-bottom-color: rgb(222, 222, 222); border-left-color: rgb(247, 247, 247); border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; position: absolute; background-color: rgb(234, 234, 234);
}
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	position: absolute !important; clip: rect(1px, 1px, 1px, 1px);
}
.ui-helper-reset {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; line-height: 1.3; font-size: 100%; text-decoration: none;
}
.ui-helper-clearfix::before {
	display: table; content: "";
}
.ui-helper-clearfix::after {
	display: table; content: "";
}
.ui-helper-clearfix::after {
	clear: both;
}
.ui-helper-clearfix {
	-ms-zoom: 1;
}
.ui-helper-zfix {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; opacity: 0;
}
.ui-state-disabled {
	cursor: default !important;
}
.ui-icon {
	text-indent: -99999px; overflow: hidden; display: block; background-repeat: no-repeat;
}
.ui-widget-overlay {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.ui-widget {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}
.ui-widget input {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1em;
}
.ui-widget select {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1em;
}
.ui-widget textarea {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1em;
}
.ui-widget button {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; font-size: 1em;
}
.ui-widget-content {
	background: url("/templates/adaptiv/css/images/ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x 50% bottom rgb(252, 253, 253); border: 1px solid rgb(166, 201, 226); border-image: none; color: rgb(34, 34, 34);
}
.ui-widget-content a {
	color: rgb(38, 102, 185);
}
.ui-widget-header {
	background: url("/templates/adaptiv/css/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x 50% 50% rgb(92, 156, 204); border: 1px solid rgb(66, 151, 215); border-image: none; color: rgb(255, 255, 255); font-weight: bold;
}
.ui-widget-header a {
	color: rgb(255, 255, 255);
}
@media only screen and (min-width:980px)
{
.ui-widget {
	font-size: 11px;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
}
@media only screen and (max-width:979px)
{
.ui-widget {
	font-size: 14px;
}
.ui-dialog-content.ui-widget-content input {
	width: 100%; height: 30px;
}
.label_allow_subscribe input {
	width: 30px !important; float: left;
}
.label_allow_subscribe label {
	line-height: 30px; font-size: 13px; float: right;
}
}
.ui-state-default {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x 50% 50% rgb(223, 239, 252); border: 1px solid rgb(197, 219, 236); border-image: none; color: rgb(46, 110, 158); font-weight: bold;
}
.ui-widget-content .ui-state-default {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x 50% 50% rgb(223, 239, 252); border: 1px solid rgb(197, 219, 236); border-image: none; color: rgb(46, 110, 158); font-weight: bold;
}
.ui-widget-header .ui-state-default {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x 50% 50% rgb(223, 239, 252); border: 1px solid rgb(197, 219, 236); border-image: none; color: rgb(46, 110, 158); font-weight: bold;
}
.ui-state-default a {
	color: rgb(46, 110, 158); text-decoration: none;
}
.ui-state-default a:link {
	color: rgb(46, 110, 158); text-decoration: none;
}
.ui-state-default a:visited {
	color: rgb(46, 110, 158); text-decoration: none;
}
.ui-state-hover {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_75_d0e5f5_1x400.png") repeat-x 50% 50% rgb(208, 229, 245); border: 1px solid rgb(121, 183, 231); border-image: none; color: rgb(29, 89, 135); font-weight: bold;
}
.ui-widget-content .ui-state-hover {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_75_d0e5f5_1x400.png") repeat-x 50% 50% rgb(208, 229, 245); border: 1px solid rgb(121, 183, 231); border-image: none; color: rgb(29, 89, 135); font-weight: bold;
}
.ui-widget-header .ui-state-hover {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_75_d0e5f5_1x400.png") repeat-x 50% 50% rgb(208, 229, 245); border: 1px solid rgb(121, 183, 231); border-image: none; color: rgb(29, 89, 135); font-weight: bold;
}
.ui-state-focus {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_75_d0e5f5_1x400.png") repeat-x 50% 50% rgb(208, 229, 245); border: 1px solid rgb(121, 183, 231); border-image: none; color: rgb(29, 89, 135); font-weight: bold;
}
.ui-widget-content .ui-state-focus {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_75_d0e5f5_1x400.png") repeat-x 50% 50% rgb(208, 229, 245); border: 1px solid rgb(121, 183, 231); border-image: none; color: rgb(29, 89, 135); font-weight: bold;
}
.ui-widget-header .ui-state-focus {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_75_d0e5f5_1x400.png") repeat-x 50% 50% rgb(208, 229, 245); border: 1px solid rgb(121, 183, 231); border-image: none; color: rgb(29, 89, 135); font-weight: bold;
}
.ui-state-hover a {
	color: rgb(29, 89, 135); text-decoration: none;
}
.ui-state-hover a:hover {
	color: rgb(29, 89, 135); text-decoration: none;
}
.ui-state-active {
	background: url("/templates/adaptiv/css/images/ui-bg_inset-hard_100_f5f8f9_1x100.png") repeat-x 50% 50% rgb(245, 248, 249); border: 1px solid rgb(121, 183, 231); border-image: none; color: rgb(225, 112, 9); font-weight: bold;
}
.ui-widget-content .ui-state-active {
	background: url("/templates/adaptiv/css/images/ui-bg_inset-hard_100_f5f8f9_1x100.png") repeat-x 50% 50% rgb(245, 248, 249); border: 1px solid rgb(121, 183, 231); border-image: none; color: rgb(225, 112, 9); font-weight: bold;
}
.ui-widget-header .ui-state-active {
	background: url("/templates/adaptiv/css/images/ui-bg_inset-hard_100_f5f8f9_1x100.png") repeat-x 50% 50% rgb(245, 248, 249); border: 1px solid rgb(121, 183, 231); border-image: none; color: rgb(225, 112, 9); font-weight: bold;
}
.ui-state-active a {
	color: rgb(225, 112, 9); text-decoration: none;
}
.ui-state-active a:link {
	color: rgb(225, 112, 9); text-decoration: none;
}
.ui-state-active a:visited {
	color: rgb(225, 112, 9); text-decoration: none;
}
.ui-widget :active {
	
}
.ui-state-highlight {
	background: url("/templates/adaptiv/css/images/ui-bg_flat_55_fbec88_40x100.png") repeat-x 50% 50% rgb(251, 236, 136); border: 1px solid rgb(250, 212, 46); border-image: none; color: rgb(54, 54, 54);
}
.ui-widget-content .ui-state-highlight {
	background: url("/templates/adaptiv/css/images/ui-bg_flat_55_fbec88_40x100.png") repeat-x 50% 50% rgb(251, 236, 136); border: 1px solid rgb(250, 212, 46); border-image: none; color: rgb(54, 54, 54);
}
.ui-widget-header .ui-state-highlight {
	background: url("/templates/adaptiv/css/images/ui-bg_flat_55_fbec88_40x100.png") repeat-x 50% 50% rgb(251, 236, 136); border: 1px solid rgb(250, 212, 46); border-image: none; color: rgb(54, 54, 54);
}
.ui-state-highlight a {
	color: rgb(54, 54, 54);
}
.ui-widget-content .ui-state-highlight a {
	color: rgb(54, 54, 54);
}
.ui-widget-header .ui-state-highlight a {
	color: rgb(54, 54, 54);
}
.ui-state-error {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_95_fef1ec_1x400.png") repeat-x 50% 50% rgb(254, 241, 236); border: 1px solid rgb(205, 10, 10); border-image: none; color: rgb(205, 10, 10);
}
.ui-widget-content .ui-state-error {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_95_fef1ec_1x400.png") repeat-x 50% 50% rgb(254, 241, 236); border: 1px solid rgb(205, 10, 10); border-image: none; color: rgb(205, 10, 10);
}
.ui-widget-header .ui-state-error {
	background: url("/templates/adaptiv/css/images/ui-bg_glass_95_fef1ec_1x400.png") repeat-x 50% 50% rgb(254, 241, 236); border: 1px solid rgb(205, 10, 10); border-image: none; color: rgb(205, 10, 10);
}
.ui-state-error a {
	color: rgb(205, 10, 10);
}
.ui-widget-content .ui-state-error a {
	color: rgb(205, 10, 10);
}
.ui-widget-header .ui-state-error a {
	color: rgb(205, 10, 10);
}
.ui-state-error-text {
	color: rgb(205, 10, 10);
}
.ui-widget-content .ui-state-error-text {
	color: rgb(205, 10, 10);
}
.ui-widget-header .ui-state-error-text {
	color: rgb(205, 10, 10);
}
.ui-priority-primary {
	font-weight: bold;
}
.ui-widget-content .ui-priority-primary {
	font-weight: bold;
}
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary {
	font-weight: normal; opacity: 0.7;
}
.ui-widget-content .ui-priority-secondary {
	font-weight: normal; opacity: 0.7;
}
.ui-widget-header .ui-priority-secondary {
	font-weight: normal; opacity: 0.7;
}
.ui-state-disabled {
	opacity: 0.35; background-image: none;
}
.ui-widget-content .ui-state-disabled {
	opacity: 0.35; background-image: none;
}
.ui-widget-header .ui-state-disabled {
	opacity: 0.35; background-image: none;
}
.ui-icon {
	width: 16px; height: 16px; background-image: url("/templates/adaptiv/css/images/ui-icons_469bdd_256x240.png");
}
.ui-widget-content .ui-icon {
	background-image: url("/templates/adaptiv/css/images/ui-icons_469bdd_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("/templates/adaptiv/css/images/ui-icons_d8e7f3_256x240.png");
}
.ui-state-default .ui-icon {
	background-image: url("/templates/adaptiv/css/images/ui-icons_6da8d5_256x240.png");
}
.ui-state-hover .ui-icon {
	background-image: url("/templates/adaptiv/css/images/ui-icons_217bc0_256x240.png");
}
.ui-state-focus .ui-icon {
	background-image: url("/templates/adaptiv/css/images/ui-icons_217bc0_256x240.png");
}
.ui-state-active .ui-icon {
	background-image: url("/templates/adaptiv/css/images/ui-icons_f9bd01_256x240.png");
}
.ui-state-highlight .ui-icon {
	background-image: url("/templates/adaptiv/css/images/ui-icons_2e83ff_256x240.png");
}
.ui-state-error .ui-icon {
	background-image: url("/templates/adaptiv/css/images/ui-icons_cd0a0a_256x240.png");
}
.ui-state-error-text .ui-icon {
	background-image: url("/templates/adaptiv/css/images/ui-icons_cd0a0a_256x240.png");
}
.ui-icon-carat-1-n {
	background-position: 0px 0px;
}
.ui-icon-carat-1-ne {
	background-position: -16px 0px;
}
.ui-icon-carat-1-e {
	background-position: -32px 0px;
}
.ui-icon-carat-1-se {
	background-position: -48px 0px;
}
.ui-icon-carat-1-s {
	background-position: -64px 0px;
}
.ui-icon-carat-1-sw {
	background-position: -80px 0px;
}
.ui-icon-carat-1-w {
	background-position: -96px 0px;
}
.ui-icon-carat-1-nw {
	background-position: -112px 0px;
}
.ui-icon-carat-2-n-s {
	background-position: -128px 0px;
}
.ui-icon-carat-2-e-w {
	background-position: -144px 0px;
}
.ui-icon-triangle-1-n {
	background-position: 0px -16px;
}
.ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}
.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
	background-position: -48px -16px;
}
.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}
.ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}
.ui-icon-triangle-1-w {
	background-position: -96px -16px;
}
.ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}
.ui-icon-arrow-1-n {
	background-position: 0px -32px;
}
.ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}
.ui-icon-arrow-1-e {
	background-position: -32px -32px;
}
.ui-icon-arrow-1-se {
	background-position: -48px -32px;
}
.ui-icon-arrow-1-s {
	background-position: -64px -32px;
}
.ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}
.ui-icon-arrow-1-w {
	background-position: -96px -32px;
}
.ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n {
	background-position: 0px -48px;
}
.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w {
	background-position: 0px -64px;
}
.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}
.ui-icon-arrow-4 {
	background-position: 0px -80px;
}
.ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}
.ui-icon-extlink {
	background-position: -32px -80px;
}
.ui-icon-newwin {
	background-position: -48px -80px;
}
.ui-icon-refresh {
	background-position: -64px -80px;
}
.ui-icon-shuffle {
	background-position: -80px -80px;
}
.ui-icon-transfer-e-w {
	background-position: -96px -80px;
}
.ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}
.ui-icon-folder-collapsed {
	background-position: 0px -96px;
}
.ui-icon-folder-open {
	background-position: -16px -96px;
}
.ui-icon-document {
	background-position: -32px -96px;
}
.ui-icon-document-b {
	background-position: -48px -96px;
}
.ui-icon-note {
	background-position: -64px -96px;
}
.ui-icon-mail-closed {
	background-position: -80px -96px;
}
.ui-icon-mail-open {
	background-position: -96px -96px;
}
.ui-icon-suitcase {
	background-position: -112px -96px;
}
.ui-icon-comment {
	background-position: -128px -96px;
}
.ui-icon-person {
	background-position: -144px -96px;
}
.ui-icon-print {
	background-position: -160px -96px;
}
.ui-icon-trash {
	background-position: -176px -96px;
}
.ui-icon-locked {
	background-position: -192px -96px;
}
.ui-icon-unlocked {
	background-position: -208px -96px;
}
.ui-icon-bookmark {
	background-position: -224px -96px;
}
.ui-icon-tag {
	background-position: -240px -96px;
}
.ui-icon-home {
	background-position: 0px -112px;
}
.ui-icon-flag {
	background-position: -16px -112px;
}
.ui-icon-calendar {
	background-position: -32px -112px;
}
.ui-icon-cart {
	background-position: -48px -112px;
}
.ui-icon-pencil {
	background-position: -64px -112px;
}
.ui-icon-clock {
	background-position: -80px -112px;
}
.ui-icon-disk {
	background-position: -96px -112px;
}
.ui-icon-calculator {
	background-position: -112px -112px;
}
.ui-icon-zoomin {
	background-position: -128px -112px;
}
.ui-icon-zoomout {
	background-position: -144px -112px;
}
.ui-icon-search {
	background-position: -160px -112px;
}
.ui-icon-wrench {
	background-position: -176px -112px;
}
.ui-icon-gear {
	background-position: -192px -112px;
}
.ui-icon-heart {
	background-position: -208px -112px;
}
.ui-icon-star {
	background-position: -224px -112px;
}
.ui-icon-link {
	background-position: -240px -112px;
}
.ui-icon-cancel {
	background-position: 0px -128px;
}
.ui-icon-plus {
	background-position: -16px -128px;
}
.ui-icon-plusthick {
	background-position: -32px -128px;
}
.ui-icon-minus {
	background-position: -48px -128px;
}
.ui-icon-minusthick {
	background-position: -64px -128px;
}
.ui-icon-close {
	background-position: -80px -128px;
}
.ui-icon-closethick {
	background-position: -96px -128px;
}
.ui-icon-key {
	background-position: -112px -128px;
}
.ui-icon-lightbulb {
	background-position: -128px -128px;
}
.ui-icon-scissors {
	background-position: -144px -128px;
}
.ui-icon-clipboard {
	background-position: -160px -128px;
}
.ui-icon-copy {
	background-position: -176px -128px;
}
.ui-icon-contact {
	background-position: -192px -128px;
}
.ui-icon-image {
	background-position: -208px -128px;
}
.ui-icon-video {
	background-position: -224px -128px;
}
.ui-icon-script {
	background-position: -240px -128px;
}
.ui-icon-alert {
	background-position: 0px -144px;
}
.ui-icon-info {
	background-position: -16px -144px;
}
.ui-icon-notice {
	background-position: -32px -144px;
}
.ui-icon-help {
	background-position: -48px -144px;
}
.ui-icon-check {
	background-position: -64px -144px;
}
.ui-icon-bullet {
	background-position: -80px -144px;
}
.ui-icon-radio-off {
	background-position: -96px -144px;
}
.ui-icon-radio-on {
	background-position: -112px -144px;
}
.ui-icon-pin-w {
	background-position: -128px -144px;
}
.ui-icon-pin-s {
	background-position: -144px -144px;
}
.ui-icon-play {
	background-position: 0px -160px;
}
.ui-icon-pause {
	background-position: -16px -160px;
}
.ui-icon-seek-next {
	background-position: -32px -160px;
}
.ui-icon-seek-prev {
	background-position: -48px -160px;
}
.ui-icon-seek-end {
	background-position: -64px -160px;
}
.ui-icon-seek-start {
	background-position: -80px -160px;
}
.ui-icon-seek-first {
	background-position: -80px -160px;
}
.ui-icon-stop {
	background-position: -96px -160px;
}
.ui-icon-eject {
	background-position: -112px -160px;
}
.ui-icon-volume-off {
	background-position: -128px -160px;
}
.ui-icon-volume-on {
	background-position: -144px -160px;
}
.ui-icon-power {
	background-position: 0px -176px;
}
.ui-icon-signal-diag {
	background-position: -16px -176px;
}
.ui-icon-signal {
	background-position: -32px -176px;
}
.ui-icon-battery-0 {
	background-position: -48px -176px;
}
.ui-icon-battery-1 {
	background-position: -64px -176px;
}
.ui-icon-battery-2 {
	background-position: -80px -176px;
}
.ui-icon-battery-3 {
	background-position: -96px -176px;
}
.ui-icon-circle-plus {
	background-position: 0px -192px;
}
.ui-icon-circle-minus {
	background-position: -16px -192px;
}
.ui-icon-circle-close {
	background-position: -32px -192px;
}
.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}
.ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}
.ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}
.ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}
.ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}
.ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}
.ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}
.ui-icon-circle-zoomin {
	background-position: -176px -192px;
}
.ui-icon-circle-zoomout {
	background-position: -192px -192px;
}
.ui-icon-circle-check {
	background-position: -208px -192px;
}
.ui-icon-circlesmall-plus {
	background-position: 0px -208px;
}
.ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}
.ui-icon-circlesmall-close {
	background-position: -32px -208px;
}
.ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}
.ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}
.ui-icon-squaresmall-close {
	background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical {
	background-position: 0px -224px;
}
.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
}
.ui-corner-all {
	border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px;
}
.ui-corner-top {
	border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px;
}
.ui-corner-left {
	border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px;
}
.ui-corner-tl {
	border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px;
}
.ui-corner-all {
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px;
}
.ui-corner-top {
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px;
}
.ui-corner-right {
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px;
}
.ui-corner-tr {
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px;
}
.ui-corner-all {
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px;
}
.ui-corner-bottom {
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px;
}
.ui-corner-left {
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px;
}
.ui-corner-bl {
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px;
}
.ui-corner-all {
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px;
}
.ui-corner-bottom {
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px;
}
.ui-corner-right {
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px;
}
.ui-corner-br {
	border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px;
}
.ui-widget-overlay {
	background: url("/templates/adaptiv/css/images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x 50% 50% rgb(170, 170, 170); opacity: 0.3;
}
.ui-widget-shadow {
	background: url("/templates/adaptiv/css/images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x 50% 50% rgb(170, 170, 170); margin: -8px 0px 0px -8px; padding: 8px; border-radius: 8px; opacity: 0.3; -webkit-border-radius: 8px; -moz-border-radius: 8px; -khtml-border-radius: 8px;
}
.ui-selectable-helper {
	border: 1px dotted black; border-image: none; position: absolute; z-index: 100;
}
.ui-accordion {
	width: 100%;
}
.ui-accordion .ui-accordion-header {
	margin-top: 1px; position: relative; cursor: pointer; -ms-zoom: 1;
}
.ui-accordion .ui-accordion-li-fix {
	display: inline;
}
.ui-accordion .ui-accordion-header-active {
	border-bottom-color: currentColor !important; border-bottom-width: 0px !important; border-bottom-style: none !important;
}
.ui-accordion .ui-accordion-header a {
	padding: 0.5em 0.5em 0.5em 0.7em; font-size: 1em; display: block;
}
.ui-accordion-icons .ui-accordion-header a {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-icon {
	left: 0.5em; top: 50%; margin-top: -8px; position: absolute;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em; top: 1px; overflow: auto; margin-top: -2px; margin-bottom: 2px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; display: none; position: relative; -ms-zoom: 1;
}
.ui-accordion .ui-accordion-content-active {
	display: block;
}
.ui-autocomplete {
	position: absolute; cursor: default;
}
* html .ui-autocomplete {
	width: 1px;
}
.ui-menu {
	list-style: none; margin: 0px; padding: 2px; float: left; display: block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin: 0px; padding: 0px; width: 100%; clear: left; float: left; -ms-zoom: 1;
}
.ui-menu .ui-menu-item a {
	padding: 0.2em 0.4em; line-height: 1.5; text-decoration: none; display: block; -ms-zoom: 1;
}
.ui-menu .ui-menu-item a.ui-state-hover {
	margin: -1px; font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px; font-weight: normal;
}
.ui-button {
	padding: 0px; text-align: center; overflow: visible; text-decoration: none !important; margin-right: 0.1em; display: inline-block; position: relative; cursor: pointer; -ms-zoom: 1;
}
.ui-button-icon-only {
	width: 2.2em;
}
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}
.ui-button .ui-button-text {
	line-height: 1.4; display: block;
}
.ui-button-text-only .ui-button-text {
	padding: 0.3em 0.7em;
}
.ui-button-icon-only .ui-button-text {
	padding: 0.4em; text-indent: -9999999px;
}
.ui-button-icons-only .ui-button-text {
	padding: 0.4em; text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text {
	padding: 0.4em 1em 0.4em 2.1em;
}
.ui-button-text-icons .ui-button-text {
	padding: 0.4em 1em 0.4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text {
	padding: 0.4em 2.1em 0.4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding: 0.4em 2.1em 0.4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-right: 2.1em; padding-left: 2.1em;
}
input.ui-button {
	padding: 0.4em 1em;
}
.ui-button-icon-only .ui-icon {
	top: 50%; margin-top: -8px; position: absolute;
}
.ui-button-text-icon-primary .ui-icon {
	top: 50%; margin-top: -8px; position: absolute;
}
.ui-button-text-icon-secondary .ui-icon {
	top: 50%; margin-top: -8px; position: absolute;
}
.ui-button-text-icons .ui-icon {
	top: 50%; margin-top: -8px; position: absolute;
}
.ui-button-icons-only .ui-icon {
	top: 50%; margin-top: -8px; position: absolute;
}
.ui-button-icon-only .ui-icon {
	left: 50%; margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary {
	left: 0.5em;
}
.ui-button-text-icons .ui-button-icon-primary {
	left: 0.5em;
}
.ui-button-icons-only .ui-button-icon-primary {
	left: 0.5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary {
	right: 0.5em;
}
.ui-button-text-icons .ui-button-icon-secondary {
	right: 0.5em;
}
.ui-button-icons-only .ui-button-icon-secondary {
	right: 0.5em;
}
.ui-button-text-icons .ui-button-icon-secondary {
	right: 0.5em;
}
.ui-button-icons-only .ui-button-icon-secondary {
	right: 0.5em;
}
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-right: -0.3em; margin-left: 0px;
}
.ui-dialog {
	padding: 0.2em; width: 300px; overflow: hidden; position: absolute;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 0.4em 1em; position: relative;
}
.ui-dialog .ui-dialog-title {
	margin: 0.1em 16px 0.1em 0px; float: left;
}
.ui-dialog .ui-dialog-titlebar-close {
	margin: -10px 0px 0px; padding: 1px; top: 50%; width: 19px; height: 18px; right: 0.3em; position: absolute;
}
.ui-dialog .ui-dialog-titlebar-close span {
	margin: 1px; display: block;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
	padding: 0px;
}
.ui-dialog .ui-dialog-titlebar-close:focus {
	padding: 0px;
}
.ui-dialog .ui-dialog-content {
	background: none; padding: 0.5em 1em; border: 0px currentColor; border-image: none; overflow: auto; position: relative; -ms-zoom: 1;
}
.ui-dialog .ui-dialog-buttonpane {
	border-width: 1px 0px 0px; margin: 0.5em 0px 0px; padding: 0.3em 0.4em 0.5em; text-align: left; background-image: none;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	text-align: center; float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: 0.5em 0.4em 0.5em 0px; cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 14px; height: 14px; right: 3px; bottom: 3px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
