form {
	margin: 0px; padding: 0px;
}
#loading-layer {
	background: rgb(0, 0, 0); padding: 10px; border-radius: 5px; border: 1px solid rgb(0, 0, 0); border-image: none; text-align: center; color: rgb(255, 255, 255); font-family: Verdana; font-size: 11px; display: none; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.archives {
	margin-left: 0px;
}
.archives a {
	color: rgb(67, 99, 126);
}
.title_quote {
	border-width: 1px 1px 0px; border-style: dotted dotted none; border-color: rgb(190, 190, 190) rgb(190, 190, 190) currentColor; padding: 5px; border-image: none; color: rgb(84, 84, 84); font-weight: bold; background-color: rgb(251, 203, 60);
}
.quote {
	padding: 5px; border: 1px dotted rgb(216, 216, 216); border-image: none; text-align: justify; color: rgb(84, 84, 84); background-color: rgb(255, 255, 224);
}
.title_spoiler {
	padding: 5px; border: 1px dotted rgb(175, 194, 236); border-image: none; color: rgb(85, 85, 85); font-weight: bold; background-color: rgb(224, 231, 248);
}
.title_spoiler img {
	margin: 0px; padding: 0px;
}
.text_spoiler {
	border-width: 0px 1px 1px; border-style: none dotted dotted; border-color: currentColor rgb(175, 194, 236) rgb(175, 194, 236); padding: 5px; border-image: none; text-align: justify; color: rgb(85, 85, 85); background-color: rgb(224, 231, 248);
}
.scriptcode {
	padding: 5px; border: 1px dotted rgb(190, 190, 190); border-image: none; text-align: left; color: rgb(84, 84, 84); background-color: rgb(255, 255, 224);
}
.weekday-active-v {
	color: rgb(80, 120, 213);
}
.day-active-v {
	color: rgb(80, 120, 213);
}
.calendar {
	color: rgb(85, 85, 85); font-family: verdana; font-size: 11px;
}
.calendar td {
	padding: 4px 3px 3px 4px; font-family: verdana; text-decoration: none;
}
.weekday {
	color: rgb(128, 64, 64); font-family: verdana;
}
.weekday-active {
	color: rgb(128, 64, 64); font-family: verdana;
}
.day-active {
	color: rgb(128, 64, 64); font-family: verdana;
}
.day-active a {
	text-decoration: underline;
}
.weekday-active a {
	text-decoration: underline;
}
.day-active-v a {
	text-decoration: underline;
}
.weekday-active-v a {
	text-decoration: underline;
}
.monthlink {
	color: rgb(231, 50, 49); text-decoration: none;
}
.day-current {
	border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(244, 244, 244);
}
.rating {
	width: 85px; height: 16px; color: rgb(85, 85, 85); font-family: tahoma; font-size: 11px;
}
.unit-rating {
	background-position: left top; list-style: none; margin: 0px; padding: 0px; width: 85px; height: 16px; position: relative; background-image: url("/templates/adaptiv/dleimages/rating.gif"); background-repeat: repeat-x;
}
.unit-rating li {
	margin: 0px; padding: 0px; text-indent: -90000px; float: left;
}
.unit-rating li a {
	padding: 0px; width: 17px; height: 16px; text-indent: -9000px; text-decoration: none; display: block; position: absolute; z-index: 17;
}
.unit-rating li a:hover {
	background-position: left; left: 0px; z-index: 2; background-image: url("/templates/adaptiv/dleimages/rating.gif");
}
.unit-rating a.r1-unit {
	left: 0px;
}
.unit-rating a.r1-unit:hover {
	width: 17px;
}
.unit-rating a.r2-unit {
	left: 17px;
}
.unit-rating a.r2-unit:hover {
	width: 34px;
}
.unit-rating a.r3-unit {
	left: 34px;
}
.unit-rating a.r3-unit:hover {
	width: 51px;
}
.unit-rating a.r4-unit {
	left: 51px;
}
.unit-rating a.r4-unit:hover {
	width: 68px;
}
.unit-rating a.r5-unit {
	left: 68px;
}
.unit-rating a.r5-unit:hover {
	width: 85px;
}
.unit-rating li.current-rating {
	background-position: left bottom; height: 16px; text-indent: -9000px; display: block; position: absolute; z-index: 1; background-image: url("/templates/adaptiv/dleimages/rating.gif");
}
.bbcodes {
	border: 1px solid rgb(20, 52, 176); border-image: none; height: 20px; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px; font-weight: bold; background-image: url("/templates/adaptiv/images/dlet_bttn_bbcodes.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
.editor textarea {
	color: rgb(85, 85, 85); font-family: tahoma; font-size: 11px; background-image: url("/templates/adaptiv/images/dlet_field_o.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
.editor_button input[type='button'] {
	background: rgb(59, 115, 180); margin: 5px auto 0px; padding: 3px 20px; border-radius: 4px; border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); font-family: "PT Sans",sans-serif; font-size: 13px; display: block; cursor: pointer;
}
.editor_button input[type='button']:hover {
	background: rgb(85, 137, 201);
}
.editor_buttoncl {
	padding-right: 1px; padding-left: 1px; border-right-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left; cursor: pointer;
}
.editbclose {
	float: right; cursor: pointer;
}
.editor_button select {
	font-family: tahoma; font-size: 11px;
}
.editor_button img {
	margin: 0px; padding: 0px;
}
.editbclose img {
	margin: 0px; padding: 0px;
}
.editor_button_brk img {
	margin: 0px; padding: 0px;
}
.bbcodes_poll {
	border: 1px solid rgb(20, 52, 176); border-image: none; width: 100px; height: 20px; color: rgb(255, 255, 255); font-family: tahoma; font-size: 11px; font-weight: bold; background-image: url("/templates/adaptiv/images/dlet_bttn_bbcodes.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
.xfields {
	padding-top: 5px;
}
.xfields textarea {
	margin: 0px 1px 0px 0px; padding: 0px; border: 1px solid rgb(224, 224, 224); border-image: none; width: 98%; height: 150px; color: rgb(85, 85, 85); font-family: tahoma; font-size: 11px; background-image: url("/templates/adaptiv/images/dlet_field_o.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
.xfields input {
	border: 1px solid rgb(224, 224, 224); border-image: none; width: 300px; height: 14px; color: rgb(85, 85, 85); font-family: tahoma; font-size: 11px; background-image: url("/templates/adaptiv/images/dlet_field_o.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
.xfields select {
	border: 1px solid rgb(224, 224, 224); border-image: none; height: 18px; color: rgb(85, 85, 85); font-family: tahoma; font-size: 11px; background-color: rgb(255, 255, 255);
}
.xprofile {
	padding-top: 5px;
}
.xprofile textarea {
	border: 1px solid rgb(224, 224, 224); border-image: none; width: 320px; height: 86px; color: rgb(85, 85, 85); font-family: tahoma; font-size: 11px; background-image: url("/templates/adaptiv/images/dlet_field_o.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
.xprofile input {
	border: 1px solid rgb(224, 224, 224); border-image: none; width: 250px; height: 14px; color: rgb(85, 85, 85); font-family: tahoma; font-size: 11px; background-image: url("/templates/adaptiv/images/dlet_field_o.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
.xprofile select {
	border: 1px solid rgb(224, 224, 224); border-image: none; height: 18px; color: rgb(85, 85, 85); font-family: tahoma; font-size: 11px; background-image: url("/templates/adaptiv/images/dlet_field_o.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
.pm_head {
	font-family: tahoma; font-size: 12px;
}
.pm_list {
	color: rgb(85, 85, 85);
}
.pm_list a {
	color: rgb(80, 120, 213);
}
#dropmenudiv {
	border-width: 1px 1px 0px; border-style: solid; border-color: rgb(255, 255, 255); font: 10px/20px Verdana; margin: 2px; border-image: none; font-size-adjust: none; font-stretch: normal; background-color: rgb(100, 151, 202);
}
#dropmenudiv a {
	background: rgb(100, 151, 202); margin: 1px; padding: 1px 0px; border: 1px solid rgb(255, 255, 255); border-image: none; color: rgb(255, 255, 255); text-indent: 3px; font-weight: bold; text-decoration: none; display: block;
}
#dropmenudiv a:hover {
	background: rgb(253, 208, 139); color: rgb(0, 0, 0);
}
.vote {
	color: rgb(85, 85, 85);
}
.attachment {
	color: rgb(128, 128, 128);
}
.search {
	color: rgb(85, 85, 85); text-decoration: none;
}
.textin {
	border: 1px solid rgb(224, 224, 224); border-image: none; color: rgb(85, 85, 85); padding-left: 3px; font-family: tahoma; font-size: 11px; text-decoration: none; background-image: url("/templates/adaptiv/images/dlet_field_o.gif"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
.sresult {
	text-align: justify; color: rgb(85, 85, 85); line-height: 16px; font-family: tahoma; font-size: 12px; font-weight: normal;
}
.mass_comments_action {
	text-align: right; padding-bottom: 5px;
}
.highslide-wrapper {
	background: rgb(255, 255, 255);
}
.highslide-outline {
	background: rgb(255, 255, 255);
}
.highslide-image {
	border: 2px solid rgb(255, 255, 255); border-image: none;
}
.highslide-active-anchor {
	visibility: hidden;
}
.highslide-active-anchor img {
	visibility: hidden;
}
.highslide-dimming {
	background: black;
}
.highslide-html {
	background-color: white;
}
.highslide-loading {
	padding: 3px; border: 1px solid rgb(255, 255, 255); border-image: none; color: rgb(255, 255, 255); font-size: 9px; font-weight: bold; text-decoration: none; display: block; background-color: rgb(0, 0, 0);
}
a.highslide-full-expand {
	background: url("/templates/adaptiv/dleimages/fullexpand.gif") no-repeat; margin: 0px 10px 10px 0px; width: 34px; height: 34px; display: block;
}
.highslide-display-block {
	display: block;
}
.highslide-display-none {
	display: none;
}
.highslide-caption {
	background: white; padding: 5px; display: none;
}
.highslide-controls {
	background: url("/engine/classes/highslide/graphics/controlbar-black-border.gif") no-repeat 0px -90px; width: 195px; height: 40px; margin-top: 10px; margin-right: 15px; margin-bottom: 10px;
}
.highslide-controls ul {
	background: url("/engine/classes/highslide/graphics/controlbar-black-border.gif") no-repeat right -90px; list-style: none; margin: 0px; padding: 0px; left: 15px; height: 40px; position: relative;
}
.highslide-controls li {
	padding: 5px 0px; float: left;
}
.highslide-controls a {
	background: url("/engine/classes/highslide/graphics/controlbar-black-border.gif"); width: 30px; height: 30px; float: left; display: block;
}
.highslide-controls a.disabled {
	cursor: default;
}
.highslide-controls a span {
	display: none;
}
.highslide-controls .highslide-previous a {
	background-position: 0px 0px;
}
.highslide-controls .highslide-previous a:hover {
	background-position: 0px -30px;
}
.highslide-controls .highslide-previous a.disabled {
	background-position: 0px -60px !important;
}
.highslide-controls .highslide-play a {
	background-position: -30px 0px;
}
.highslide-controls .highslide-play a:hover {
	background-position: -30px -30px;
}
.highslide-controls .highslide-play a.disabled {
	background-position: -30px -60px !important;
}
.highslide-controls .highslide-pause a {
	background-position: -60px 0px;
}
.highslide-controls .highslide-pause a:hover {
	background-position: -60px -30px;
}
.highslide-controls .highslide-next a {
	background-position: -90px 0px;
}
.highslide-controls .highslide-next a:hover {
	background-position: -90px -30px;
}
.highslide-controls .highslide-next a.disabled {
	background-position: -90px -60px !important;
}
.highslide-controls .highslide-move a {
	background-position: -120px 0px;
}
.highslide-controls .highslide-move a:hover {
	background-position: -120px -30px;
}
.highslide-controls .highslide-full-expand a {
	background-position: -150px 0px;
}
.highslide-controls .highslide-full-expand a:hover {
	background-position: -150px -30px;
}
.highslide-controls .highslide-full-expand a.disabled {
	background-position: -150px -60px !important;
}
.highslide-controls .highslide-close a {
	background-position: -180px 0px;
}
.highslide-controls .highslide-close a:hover {
	background-position: -180px -30px;
}
.wide-border {
	background: white;
}
.wide-border .highslide-image {
	border-width: 10px;
}
.wide-border .highslide-caption {
	padding: 0px 10px 10px;
}
.borderless .highslide-image {
	border: currentColor; border-image: none;
}
.borderless .highslide-caption {
	background: white; border-top-color: white; border-bottom-color: white; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.less .highslide-image {
	border: 1px solid rgb(0, 0, 0); border-image: none;
}
.less .highslide-caption {
	background: white; border: 1px solid rgb(0, 0, 0); border-image: none;
}
.clouds_xsmall {
	font-size: x-small;
}
.clouds_small {
	font-size: small;
}
.clouds_medium {
	font-size: medium;
}
.clouds_large {
	font-size: large;
}
.clouds_xlarge {
	font-size: x-large;
}
.autocomplete-w1 {
	margin: 8px 0px 0px 6px; left: 0px; top: 0px; position: absolute; _background: none; _margin: 0;
}
.autocomplete {
	background: rgb(255, 255, 255); margin: -6px 6px 6px -6px; border: 1px solid rgb(153, 153, 153); border-image: none; text-align: left; overflow: auto; cursor: default; max-height: 350px; _margin: 0; _height: 350px; _overflow-x: hidden;
}
.autocomplete .selected {
	background: rgb(240, 240, 240);
}
.autocomplete div {
	padding: 2px 5px; font-family: verdana; font-size: 11px; white-space: nowrap;
}
.autocomplete strong {
	color: rgb(51, 153, 255); font-weight: normal;
}
#searchsuggestions {
	border: 1px solid rgb(145, 145, 145); width: 300px; line-height: 14px; font-size: 10px; background-color: rgb(92, 156, 204);
}
#searchsuggestions a {
	padding: 5px; height: 70px; clear: left; text-decoration: none; display: block; background-color: rgb(255, 255, 255);
}
#searchsuggestions a:hover {
	color: rgb(255, 255, 255); background-color: rgb(253, 208, 139);
}
#searchsuggestions a span.searchheading {
	background: rgb(92, 156, 204); padding: 5px; color: rgb(255, 255, 255); font-weight: bold; display: block;
}
#searchsuggestions a:hover span.searchheading {
	color: rgb(255, 255, 255);
}
#searchsuggestions a span {
	color: rgb(85, 85, 85);
}
#searchsuggestions a:hover span {
	
}
#searchsuggestions span.seperator {
	padding-right: 15px; margin-right: 5px; float: right;
}
#searchsuggestions span.seperator a {
	height: auto; color: rgb(255, 255, 255); display: block; background-color: transparent;
}
#searchsuggestions span.notfound {
	padding: 5px; height: auto; display: block; background-color: rgb(255, 255, 255);
}
