.ui-notify {
	width: 300px; right: 30px; bottom: 20px; position: fixed; z-index: 999;
}
.ui-notify-message {
	padding: 10px; border-radius: 8px; margin-bottom: 15px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}
.ui-notify-message h1 {
	margin: 0px; padding: 0px; text-align: left; color: blue; font-size: 12px;
}
.ui-notify-message p {
	margin: 3px 0px; padding: 0px; line-height: 18px;
}
.ui-notify-message a {
	color: rgb(135, 206, 255);
}
:last-child.ui-notify-message {
	margin-bottom: 0px;
}
.ui-notify-message-style {
	background: rgba(0, 0, 0, 0.8); box-shadow: 0px 0px 6px #000; -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000;
}
.ui-notify-message-style h1 {
	color: rgb(238, 233, 233); font-weight: bold;
}
.ui-notify-message-style p {
	color: rgb(238, 233, 233);
}
.ui-notify-close {
	color: rgb(255, 255, 255); text-decoration: underline; cursor: pointer;
}
.ui-notify-click {
	cursor: pointer;
}
.ui-notify-cross {
	padding: 2px; font-size: 12px; font-weight: bold; text-decoration: none; margin-top: -4px; float: right; cursor: pointer; text-shadow: 0px 1px 1px #fff;
}
.ui-notify-cross:hover {
	color: rgb(255, 255, 171);
}
.ui-notify-cross:active {
	top: 1px; position: relative;
}
.ui-notify_close {
	width: 18px; height: 18px;
}
.ui-notify_close:hover {
	background-position: 0px -18px;
}
