.owl-carousel .owl-wrapper::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
.owl-carousel {
	width: 100%; display: none; position: relative; -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
	display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
	width: 100%; height: 56px !important; overflow: hidden; position: relative;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	transition:height 500ms ease-in-out; -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out;
}
.owl-controls {
	display: none !important; -moz-user-select: none;
}
.grabbing {
	
}
.owl-carousel .owl-wrapper {
	transform: translate3d(0px, 0px, 0px); backface-visibility: hidden; -webkit-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -moz-backface-visibility: hidden;
}
.owl-carousel .owl-item {
	transform: translate3d(0px, 0px, 0px); backface-visibility: hidden; -webkit-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -moz-backface-visibility: hidden;
}
#owl-demo {
	height: 56px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper .owl-item {
	float: left;
}
#owl-demo .item {
	height: 56px !important; text-align: center; display: block; cursor: pointer;
}
#owl-demo .item a {
	width: 100%; padding-right: 3px; padding-left: 3px; display: block;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :last-child.owl-item {
	width: 56px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :last-child.owl-item li .sb-icon-search {
	width: 56px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper .owl-item {
	padding: 0px 1px;
}
@media only screen and (max-width:899px)
{
header .level_2 menu li a {
	height: 56px; padding-top: 18px !important;
}
header .level_2 menu {
	padding: 0px !important;
}
}
@media only screen and (min-width:736px)
{
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(7).owl-item {
	width: 150px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(8).owl-item {
	width: 100px !important;
}
}
@media only screen and (max-width:735px) and (min-width:601px)
{
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(7).owl-item {
	width: 145px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(8).owl-item {
	width: 75px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper .owl-item {
	padding: 0px 2px !important;
}
}
@media only screen and (max-width:600px) and (min-width:568px)
{
.owl-wrapper {
	top: -2px;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(7).owl-item {
	width: 170px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(8).owl-item {
	width: 80px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :last-child.owl-item {
	width: 70px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :last-child.owl-item li .sb-icon-search {
	width: 70px !important;
}
}
@media only screen and (max-width:567px) and (min-width:401px)
{
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(7).owl-item {
	width: 145px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(8).owl-item {
	width: 70px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper .owl-item {
	padding: 0px 2px !important;
}
}
@media only screen and (max-width:400px) and (min-width:360px)
{
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(7).owl-item {
	width: 130px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(8).owl-item {
	width: 65px !important;
}
}
@media only screen and (max-width:359px) and (min-width:341px)
{
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(7).owl-item {
	width: 140px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(8).owl-item {
	width: 70px !important;
}
}
@media only screen and (max-width:340px)
{
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(7).owl-item {
	width: 170px !important;
}
#owl-demo .owl-wrapper-outer .owl-wrapper :nth-child(8).owl-item {
	width: 70px !important;
}
}
