.ulogin_form {
	line-height: 1em; display: inline-block;
}
.ulogin_label {
	font-size: 16px; margin-top: 5px; margin-left: 15px;
}
.ulogin_profile .ulogin_accounts {
	margin-top: 5px; margin-left: 35px;
}
.ulogin_profile .ulogin_form {
	margin-top: 5px; margin-left: 35px;
}
.ulogin_profile .ulogin_note {
	margin-top: 5px; margin-left: 35px;
}
.ulogin_provider {
	margin-right: 10px; float: left; display: inline-block; cursor: pointer;
}
.ulogin_provider:hover {
	opacity: 0.75;
}
