#ajax_tooltipObj {
	text-align: left; z-index: 1000000;
}
#ajax_tooltipObj div {
	position: relative;
}
#ajax_tooltipObj .ajax_tooltip_arrow {
	background-position: left; left: 5px; top: 5px; width: 5px; height: 9px; position: absolute; z-index: 1000005; background-image: url("/templates/adaptiv/tooltip/images/arrow.gif"); background-repeat: no-repeat;
}
#ajax_tooltipObj .ajax_tooltip_content {
	padding: 5px; border: 1px solid rgb(202, 202, 202); border-image: none; left: 9px; top: -10px; width: 170px; color: rgb(88, 88, 88); overflow: auto; font-size: 11px; position: absolute; z-index: 1000001; background-color: rgb(255, 255, 255);
}
