.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.overlay {
	left: 0px; top: 0px; width: 100%; height: 100%; display: none; position: fixed; z-index: 8; opacity: 0.15; background-color: rgb(0, 0, 0);
}
.sb-icon_close {
	background: rgb(255, 255, 255); border-radius: 100%; border: 2px solid rgb(163, 131, 134); border-image: none; top: 10px; width: 16px; height: 16px; text-align: center; right: 10px; color: rgb(163, 131, 134) !important; line-height: 16px; font-size: 11px; font-weight: bold; display: block; position: absolute; cursor: pointer;
}
.sb-icon_close:hover {
	border: 2px solid rgb(235, 1, 23); border-image: none; color: rgb(235, 1, 23) !important;
}
.vp-search-input {
	background: rgb(255, 255, 255); margin: 0px; padding: 0px 9px; border: 3px solid rgb(51, 144, 252); border-image: none; height: 40px; color: rgb(0, 0, 0); font-size: 13px; float: left; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.tabs #first #ya-site-form0 .ya-site-form__form .ya-site-form__input-text {
	padding: 0px 6px !important; border: 3px solid rgb(51, 144, 252) !important; border-image: none !important; height: 40px !important;
}
.tabs #first #ya-site-form0 .ya-site-suggest-list {
	min-width: 340px !important;
}
.vp-search-input:focus {
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}
.tabs #ya-site-form0 .ya-site-form__form .ya-site-form__input-text:focus {
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}
#gsc-i-id1:focus {
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}
.cse input.gsc-search-button:focus {
	box-shadow: none !important;
}
input.gsc-search-button:focus {
	box-shadow: none !important;
}
.vp-search-submit {
	background: url("//www.google.com/uds/css/v2/search_box_icon.png") no-repeat 50% rgb(51, 144, 252) !important; margin: 0px; border: currentColor; border-image: none; width: 40px; height: 40px; text-align: center; color: rgb(255, 255, 255); float: left; display: block; cursor: pointer;
}
input.gsc-search-button:hover {
	background-color: rgb(59, 115, 180) !important;
}
input.gsc-search-button:focus {
	background-color: rgb(59, 115, 180) !important;
}
.vp-search-submit:hover {
	background-color: rgb(59, 115, 180) !important;
}
input.gsc-search-button {
	background-color: rgb(51, 144, 252) !important;
}
.block_open_search {
	font: 14px/normal "Tahoma", sans-serif; margin: 0px auto; right: 0px; color: rgb(158, 147, 147) !important; display: none; position: absolute; z-index: 998; font-size-adjust: none; font-stretch: normal; background-color: rgb(246, 246, 246);
}
.tabs {
	margin-top: 15px;
}
div.container {
	margin: auto auto 10px; width: 90%;
}
ul.tabNavigation {
	list-style: none; margin: 0px; padding: 0px;
}
ul.tabNavigation li {
	display: inline;
}
ul.tabNavigation li a {
	background: url("/templates/adaptiv/css/radiobutton.jpg") no-repeat 0px 0px; padding: 0px 20px; color: rgb(72, 72, 72); text-decoration: none;
}
ul.tabNavigation li a.selected {
	background: url("/templates/adaptiv/css/radiobutton.jpg") no-repeat 0px -17px; height: 12px; color: rgb(72, 72, 72); padding-left: 20px;
}
ul.tabNavigation li a.selected:hover {
	background: url("/templates/adaptiv/css/radiobutton.jpg") no-repeat 0px -17px; height: 12px; color: rgb(72, 72, 72); padding-left: 20px;
}
ul.tabNavigation li a:focus {
	outline: 0px;
}
.search_pad {
	margin-top: 10px;
}
#first {
	padding: 3px 0px !important;
}
#third {
	padding: 3px 0px !important;
}
.gsc-search-box-tools .gsc {
	padding: 0px !important;
}
table.gsc-search-box td.gsc-input {
	padding: 0px !important;
}
.tabs #ya-site-form0 .ya-site-form__search-input {
	padding: 0px !important;
}
#second {
	padding: 0px !important;
}
table.gsc-search-box td.gsc-input {
	width: 340px;
}
td.gsc-search-button {
	width: 40px !important;
}
.cse .gsc-control-cse {
	padding: 0px !important; border: 0px currentColor !important; border-image: none !important; background-color: rgb(246, 246, 246) !important;
}
.gsc-control-cse {
	padding: 0px !important; border: 0px currentColor !important; border-image: none !important; background-color: rgb(246, 246, 246) !important;
}
.form.gsc-search-box {
	margin: 0px !important;
}
.block_open_search tr:hover {
	background-color: rgb(246, 246, 246) !important;
}
input.gsc-search-button {
	margin-left: 0px !important;
}
.gsc-input-box {
	border: 3px solid rgb(51, 144, 252) !important; border-image: none !important; height: 40px !important; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.tabs .ya-site-form__search-input-layout-l {
	width: 340px !important;
}
.tabs #ya-site-form0 .ya-site-form__input-text_type_hint {
	background-position: 10px 50% !important;
}
.tabs .ya-site-form__search-input-layout-r {
	width: 40px !important;
}
.tabs #ya-site-form0 .ya-site-form__submit {
	margin: 0px !important;
}
.tabs #ya-site-form0 .ya-site-form__submit_type_image {
	background: url("//www.google.com/uds/css/v2/search_box_icon.png") no-repeat 50% rgb(51, 144, 252) !important; border: 0px currentColor !important; border-image: none !important; width: 100% !important; height: 40px !important;
}
.cse input.gsc-search-button {
	background-position: 50% !important; border-radius: 0px !important; border: 1px solid rgb(51, 144, 252) !important; border-image: none !important; background-image: none !important; background-repeat: no-repeat !important; background-color: rgb(51, 144, 252);
}
input.gsc-search-button {
	background-position: 50% !important; border-radius: 0px !important; border: 1px solid rgb(51, 144, 252) !important; border-image: none !important; background-image: none !important; background-repeat: no-repeat !important; background-color: rgb(51, 144, 252);
}
.tabs #ya-site-form0 .ya-site-form__submit_type_image:hover {
	background-color: rgb(59, 115, 180) !important;
}
form.gsc-search-box {
	margin: 0px !important;
}
table.gsc-search-box {
	margin-bottom: 0px !important;
}
#gsc-i-id1 {
	margin: 0px !important; padding: 0px 9px !important; width: 100%; height: 34px !important; font-size: 12px !important; cursor: text; outline-style: none; box-sizing: border-box; background-color: rgb(255, 255, 255); -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.cse .gsc-search-button input.gsc-search-button-v2 {
	padding: 13px 12px 12px 13px !important; margin-top: 3px !important;
}
input.gsc-search-button-v2 {
	padding: 13px 12px 12px 13px !important; margin-top: 3px !important;
}
.gsib_a {
	padding: 0px !important;
}
.gsib_b {
	display: none;
}
.sb-icon-search b {
	background-position: -32px -32px !important; width: 16px; height: 16px; display: inline-block; background-image: url("/templates/adaptiv/images/sprites_ico.png");
}
.sb-icon-search:hover b {
	background-position: -32px -64px !important;
}
.sb-icon-search {
	margin: 0px; display: block; cursor: pointer;
}
.sb-search-submit {
	margin: 0px; display: block; cursor: pointer;
}
.sb-icon-search {
	background: rgb(59, 115, 180);
}
@media only screen and (min-width:900px)
{
.sb-icon-search:hover {
	background-color: rgb(43, 95, 156);
}
.vp-search-input {
	width: 340px;
}
.sb-icon-search {
	width: 45px; color: rgb(216, 216, 216); text-transform: none; line-height: 40px; font-size: 22px; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; z-index: 90; -webkit-font-smoothing: antialiased; speak: none;
}
.sb-icon-search {
	padding: 0px; top: 0px; width: 45px; height: 40px; text-align: center; right: 0px;
}
.sb-search-submit {
	padding: 0px; top: 0px; width: 45px; height: 40px; text-align: center; right: 0px;
}
.block_open_search {
	padding: 10px; top: 40px; width: 380px;
}
.level_1 section .sb-icon-search {
	display: none;
}
}
@media only screen and (max-width:899px)
{
#owl-demo .item.link .sb-icon-search {
	padding: 18px 0px 15px;
}
.block_open_search {
	padding: 10px; top: 56px; width: 300px;
}
.vp-search-input {
	width: 259px;
}
}
