section aside.right_side .block_name.live_soon.blue div {
	background: url("/templates/adaptiv/css/img/icon_next_games.jpg") no-repeat !important; margin: 0px 6px 0px 10px; width: 16px; height: 16px; float: left;
}
.next_game_ng {
	border: 1px solid rgb(218, 218, 218); border-image: none; width: 204px; height: 32px; text-align: center; font-family: Tahoma,Arial,sans-serif; text-decoration: none !important; margin-bottom: 7px; display: block; position: relative;
}
.next_game_ng a {
	text-decoration: none !important;
}
.next_game_ng:hover > .line_game_ng:hover > .players_ng {
	background-color: rgb(255, 238, 169);
}
.next_game_ng:hover > .line_game_ng:hover > .blue_bg_ng {
	background-color: rgb(255, 238, 169);
}
.next_game_ng:active > .line_game_ng:active > .players_ng {
	background-color: rgb(255, 238, 169);
}
.next_game_ng:active > .line_game_ng:active > .blue_bg_ng {
	background-color: rgb(255, 238, 169);
}
.line_game_ng {
	display: table;
}
.icon_live_ng {
	left: 86px; top: 0px; width: 33px; height: 7px; position: absolute; z-index: 10;
}
.players_ng {
	width: 76px; height: 32px; color: rgb(38, 102, 185); font-size: 11px; font-weight: normal; vertical-align: middle; display: table-cell; background-color: rgb(249, 249, 249);
}
.players_ng div {
	width: 76px; -ms-word-wrap: break-word;
}
.blue_bg_ng {
	width: 50px; height: 32px; vertical-align: middle; border-right-color: rgb(218, 218, 218); border-left-color: rgb(218, 218, 218); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: table-cell; background-color: rgb(225, 234, 246);
}
.blue_bg_ng div {
	width: 50px;
}
.time_ng {
	color: rgb(123, 122, 122); font-size: 11px; font-weight: normal;
}
.score_ng {
	color: rgb(211, 7, 7); font-size: 11px; font-weight: bold;
}
.button_ng {
	background: linear-gradient(rgb(50, 165, 81), rgb(47, 183, 47)); border-radius: 5px; width: 100%; height: 28px; text-align: center; color: rgb(255, 255, 255); line-height: 28px; font-family: Tahoma,Arial,sans-serif; font-size: 13px; font-weight: normal; text-decoration: none !important; display: block;
}
.button_ng:hover {
	background: linear-gradient(rgb(47, 183, 47), rgb(50, 165, 81)); color: blue;
}
.button_ng:active {
	background: linear-gradient(rgb(47, 183, 47), rgb(50, 165, 81)); color: blue;
}
.main_description_close {
	display: none;
}
