@media only screen and (max-width:1024px) and (min-width:240px)
{
.subitem_menu {
	width: auto;
}
.vilki_bl {
	position: relative;
}
.vilki_bl:hover > .subitem_menu {
	left: 0px; right: 0px; position: absolute; z-index: 999999;
}
.vilki_bl:active > .subitem_menu {
	left: 0px; right: 0px; position: absolute; z-index: 999999;
}
}
@media only screen and (max-width:1150px)
{
section.main {
	margin-right: 0px !important;
}
#reklama1::before {
	margin-left: 0px !important;
}
.ya-b-share-wrap {
	display: none;
}
}
@media only screen and (max-width:1320px)
{
.uSocial-Share {
	display: none !important;
}
}
@media only screen and (min-width:900px)
{
.mobile_gorizont_menu {
	display: none;
}
.level_1 section .online_chat_vp {
	display: none;
}
.level_1 .header-logo {
	display: none;
}
.login_link.drop i {
	display: none;
}
#c-menu--slide-left {
	display: none;
}
.mob_koef {
	display: none;
}
.profile_button {
	display: none;
}
.online_chat_vp {
	display: none;
}
footer {
	margin: -110px 0px 0px;
}
.ostats {
	left: 50% !important;
}
section aside.left_side {
	width: 220px; float: left;
}
.main_navigation_vp {
	margin: 0px 0px 20px; width: 220px;
}
.navigation_vp a {
	padding: 7px 0px 7px 12px;
}
header {
	height: 80px;
}
header .level_2 menu {
	padding: 0px 45px 0px 220px;
}
.level_1 {
	height: 40px;
}
.level_2 {
	height: 40px;
}
.header-logo {
	height: 40px;
}
header .level_2 menu li a {
	height: 40px;
}
header .level_2 menu li a {
	padding: 11px 0px;
}
.header-logo img {
	margin: 0px auto; transition:0.2s ease-in-out; width: 180px; padding-top: 11px; display: block; opacity: 0.8;
}
.level_1 .login {
	top: 8px; right: 15px; position: absolute;
}
.top__navigation .pl_name {
	width: 62px;
}
.top__navigation .pl_name {
	height: 22px; line-height: 22px;
}
.top__navigation a {
	height: 22px; line-height: 22px;
}
header .level_1 #login_box {
	top: 40px;
}
.bg_grey_rules {
	height: 30px;
}
.top__navigation a:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(60, 115, 180);
}
.top__navigation .drop:hover a {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(60, 115, 180);
}
.mobile_menu {
	display: none !important;
}
.login_link {
	margin: 7px 10px 0px 0px; float: right;
}
.login_link.drop a {
	padding: 4px 30px 4px 7px;
}
.login_link.drop img {
	border-radius: 4px; top: 0px; width: 24px; height: 24px; right: 0px; position: absolute;
}
header .level_1 #login_box {
	padding: 20px 27px;
}
header .level_1 .light#login_box ul li a {
	padding: 7px 20px 7px 15px;
}
.level_1 {
	font-size: 13px;
}
.authorization-modal-switcher a {
	width: 50%; vertical-align: top; float: left; display: inline-block;
}
.authorization-modal-switcher a:visited {
	width: 50%; vertical-align: top; float: left; display: inline-block;
}
.authorization-modal-switcher a:focus {
	width: 50%; vertical-align: top; float: left; display: inline-block;
}
.authorization-modal-switcher span {
	left: 50%; top: 50%; margin-top: -31px; margin-left: -31px; position: absolute; z-index: 10;
}
.authorization-modal-text {
	display: inline-block;
}
.authorization-modal .authorization-modal-frg-button {
	line-height: 14px; float: right; display: inline-block;
}
.authorization-modal-block-inputs input {
	width: 78%;
}
header .level_2 menu li {
	width: 11%;
}
header .level_2 menu li a:hover {
	background: rgb(43, 95, 156);
}
.authorization-modal-block-inputs {
	width: 78%; float: right; display: block;
}
.level_2 {
	margin: 0px; position: relative; z-index: 99;
}
.expresstable .express_num {
	width: 20px;
}
.expresstable tr td {
	padding: 5px 10px;
}
.list-rating__item {
	width: 32.3%; vertical-align: top; display: inline-block;
}
.fotopopup {
	width: 140px; border-top-color: rgb(252, 253, 253); border-bottom-color: rgb(252, 253, 253); border-top-width: 2px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid; float: right; min-height: 170px;
}
.profpopup {
	width: 300px; float: left;
}
.ui-dialog .ui-dialog-content.ui-widget-content#dleprofilepopup {
	padding: 0.5em 0px !important;
}
.login_link.drop .arrow_user {
	float: left;
}
.arrow_user {
	margin: 6px 6px 0px 0px;
}
section#user-info textarea.f_textarea {
	width: 320px; margin-left: 39px;
}
section#user-info label {
	margin-left: 39px;
}
section#user-pass label {
	margin-left: 39px;
}
section#user-info input {
	padding: 5px; float: right; min-width: 180px;
}
#info input {
	padding: 5px; float: right; min-width: 180px;
}
section#user-info input[type='checkbox'] {
	left: 52%; display: inline-block; position: absolute;
}
section#user-info label {
	margin-bottom: 9px; display: inline-block;
}
section#user-pass label {
	margin-bottom: 9px; display: inline-block;
}
section#user-info textarea.f_textarea {
	padding: 10px;
}
fieldset {
	margin-top: 25px;
}
section#user-info input[type='checkbox'] {
	height: 29px; line-height: 29px;
}
.tablelenta td:first-child {
	width: 110px; text-align: left;
}
.tablelenta td:nth-child(2) {
	width: 60px; text-align: center;
}
.tablelenta td:last-child {
	width: 40px; text-align: center;
}
.header-logo {
	width: 220px; float: left; position: relative; z-index: 1;
}
section.main {
	padding-bottom: 110px;
}
}
@media only screen and (max-width:899px)
{
.ui-dialog .ui-dialog-content.ui-widget-content#dleprofilepopup {
	padding: 0.5em 0px !important;
}
.ui-widget .profpopup tr td {
	font-size: 11px !important;
}
.ui-widget .profpopup tr td a {
	font-size: 11px !important;
}
.profpopup {
	margin: 0px auto !important;
}
header .level_2 section::after {
	background: linear-gradient(to right, rgba(59, 115, 180, 0) 0%, rgba(59, 115, 180, 1) 42%, rgba(59, 115, 180, 1) 100%) 0px 0px rgba(0, 0, 0, 0); top: 0px; width: 10px; height: 100%; right: 0px; position: absolute; content: "";
}
.footer_logo .logo {
	display: none !important;
}
.authorization-modal-block-row label {
	display: none !important;
}
.main_navigation_vp.main_navigation_vp_scroll {
	display: none !important;
}
.main_navigation_vp.main_navigation_vp_scroll.fixed {
	display: none !important;
}
.header-logo .logo_big {
	display: none;
}
.desktop_gorizont_menu {
	display: none;
}
.robot-table__cell-match .mobo_livecenter {
	display: none;
}
.main_navigation_vp.leftmenu {
	display: none;
}
.category_ico {
	display: none;
}
section aside.left_side .bg {
	display: none;
}
.left_banner_block {
	display: none;
}
.time {
	display: none;
}
.other_login {
	display: none;
}
section aside.right_side {
	display: none;
}
.profile_block {
	display: none;
}
.login_link.message {
	display: none;
}
.login_link.forecasts {
	display: none;
}
.login_link.bank {
	display: none;
}
.login_link.pay {
	display: none;
}
.section aside.right_side .n-filter {
	display: block !important;
}
section#user-info label {
	display: block;
}
section#user-pass label {
	display: block;
}
.mobile_menu {
	display: block;
}
.authorization-modal .authorization-modal-frg-button {
	display: block;
}
.authorization-modal-text {
	display: block;
}
.authorization-modal-switcher span {
	display: block;
}
.authorization-modal-switcher a {
	display: block;
}
.authorization-modal-switcher a:visited {
	display: block;
}
.authorization-modal-switcher a:focus {
	display: block;
}
.login_link {
	float: right;
}
.login {
	float: right;
}
.mobiheader {
	float: right;
}
.level_1 section .online_chat_vp {
	background: rgb(45, 56, 71); float: right;
}
.level_1 section .online_chat_vp {
	padding: 18px 10px 17px;
}
.level_1 section .online_chat_vp b {
	background: url("/templates/adaptiv/images/chat_ic.png") no-repeat; width: 24px; height: 21px; display: block;
}
.level_1 section .level_1_layout {
	background: rgb(45, 56, 71); height: 56px; box-shadow: 0px 8px 4px -4px rgba(0,0,0,0.2);
}
.header-logo {
	float: left;
}
fieldset {
	margin-top: 10px;
}
section#user-info input[type='checkbox'] {
	margin-top: 7px;
}
.ui-dialog-content.ui-widget-content#dialog-form {
	height: auto !important;
}
section#user-info input {
	padding: 5px 1%; width: 98%; margin-bottom: 9px;
}
#info input {
	padding: 5px 1%; width: 98%; margin-bottom: 9px;
}
section#user-info input {
	padding: 5px 1%; width: 98%; margin-bottom: 9px;
}
section#user-info textarea {
	padding: 5px 1%; width: 98%; margin-bottom: 9px;
}
section#user-info .css-checkbox {
	width: auto !important; margin-bottom: 0px !important; float: right;
}
section#user-info label.css-label.cb0 {
	float: left; display: block;
}
.fotopopup {
	margin-bottom: 10px;
}
.list-rating__item {
	width: 49%; vertical-align: top; display: inline-block;
}
.expresstable tr td {
	padding: 5px;
}
.expresstable .express_sport_name {
	padding: 5px 10px !important;
}
.level_2 {
	background: rgb(59, 115, 180);
}
.o-wrapper {
	transition:transform 0.3s; -webkit-transition: -webkit-transform 0.3s;
}
.c-menu {
	transition:transform 0.3s; position: fixed; z-index: 600; background-color: rgb(56, 69, 85); -webkit-transition: -webkit-transform 0.3s;
}
.c-menu--slide-left {
	left: 0px; top: 0px; width: 260px; height: 100%; -ms-overflow-y: scroll; box-sizing: border-box; transform: translateX(-100%); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-transform: translateX(-100%);
}
.c-menu--slide-left.is-active {
	transform: translateX(0px); -webkit-transform: translateX(0);
}
body.has-active-menu {
	overflow: hidden;
}
.c-mask {
	transition:opacity 0.3s, width 0s 0.3s, height 0s 0.3s; left: 0px; top: 0px; width: 0px; height: 0px; overflow: hidden; position: fixed; z-index: 500; opacity: 0; background-color: rgb(0, 0, 0); -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.c-mask.is-active {
	transition:opacity 0.3s; width: 100%; height: 100%; opacity: 0.7; -webkit-transition: opacity 0.3s;
}
header .level_1 #login_box {
	min-width: 200px;
}
header .level_1 .light#login_box ul li a i {
	margin: 0px 12px 0px 0px; width: 16px; height: 16px; float: left; background-image: url("/templates/adaptiv/images/sprites_ico.png");
}
header .level_1 .light#login_box ul .ic_lenta a i {
	background-position: -209px -96px !important;
}
header .level_1 .light#login_box ul .ic_sms a i {
	background-position: -305px -96px !important;
}
header .level_1 .light#login_box ul .ic_bank a i {
	background-position: -289px -96px !important;
}
.mobile_menu {
	background-color: rgb(245, 245, 245);
}
.authorization-modal .authorization-modal-frg-button {
	height: 30px; text-align: center; line-height: 29px;
}
.authorization-modal-switcher span {
	margin: 15px auto;
}
.authorization-modal-block-inputs input {
	width: 100%;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable {
	
}
.level_1 {
	font-size: 14px;
}
header .level_1 .light#login_box ul li a {
	padding: 14px 20px 14px 15px;
}
.login_link {
	margin: 10px 7px 0px 0px;
}
.login_link.drop a {
	padding: 0px !important; height: 36px; line-height: 36px;
}
.login_link.drop .arrow_user {
	float: left;
}
.login_link.drop img {
	float: left;
}
.arrow_user {
	margin: 16px 8px 0px;
}
.login_link.drop img {
	margin: 3px 5px 0px 10px; border-radius: 50%; width: 30px; height: 30px; background-color: rgb(169, 169, 169);
}
.login_link.notify a {
	padding: 0px 7px !important; height: 36px; line-height: 36px;
}
.login_link.notify a i {
	vertical-align: middle; display: inline-block;
}
.bp-touchSwipe {
	width: 100%; overflow: hidden;
}
header .level_1 #login_box {
	padding: 20px 27px 15px; top: 0px; height: 100%; position: fixed; -ms-overflow-y: scroll;
}
header .level_1 .mobiheader #login_box {
	height: auto !important;
}
header .level_1 #login_box ul {
	padding-top: 56px;
}
header .level_1 #login_box form {
	padding-top: 56px;
}
.level_2 section menu li a {
	position: static !important;
}
.top__navigation .pl_name {
	height: 37px; line-height: 37px;
}
.top__navigation a {
	height: 37px; line-height: 37px;
}
section.main {
	margin-right: 0px !important;
}
body.has-active-menu section.main {
	z-index: 70;
}
body.has-active-menu {
	width: 100%; overflow: hidden; position: fixed;
}
.main_navigation_vp {
	width: 260px;
}
.c-menu__close {
	background: url("/templates/adaptiv/images/krest.png") no-repeat; top: 15px; width: 22px; height: 22px; right: 15px; position: absolute; cursor: pointer;
}
section aside.left_side .bg {
	top: 0px; width: 260px; height: 100%; overflow: auto; position: fixed; z-index: 500; background-color: rgb(56, 69, 85);
}
.right_block_vp {
	padding-left: 0px;
}
.level_1 .login .profile_block {
	top: 0px; height: 56px; right: 56px; position: absolute; z-index: 1003; background-color: rgb(45, 56, 71);
}
.level_1 .login .profile_button {
	border: currentColor; border-image: none; width: 56px; height: 56px;
}
.level_1 .login .profile_button {
	background: url("/templates/adaptiv/images/sprite_main.png") no-repeat 0px 0px; right: 0px; position: relative; z-index: 1001;
}
.level_1 .login .profile_button.active {
	background-color: rgb(31, 40, 51);
}
.level_1 .login a {
	margin: 15px 2%;
}
.level_1 {
	background: rgb(45, 56, 71);
}
.level_1 {
	height: 56px;
}
.level_2 {
	height: 56px;
}
.header-logo {
	height: 56px;
}
header .level_2 menu li a {
	height: 56px;
}
.header-logo img {
	margin-top: 18px;
}
section article {
	padding-right: 5px;
}
.navigation_vp a {
	padding: 13px 0px 13px 12px;
}
.c-button {
	background: rgb(45, 56, 71); padding: 16px 10px; float: left; display: block;
}
.c-button .bar {
	border-radius: 1px; width: 26px; height: 4px; margin-bottom: 6px; display: block; background-color: rgb(255, 255, 255);
}
.c-button :last-child.bar {
	margin-bottom: 0px;
}
}
@media only screen and (min-width:676px)
{
footer .footer_logo {
	width: 32%; float: left;
}
footer .footer_col {
	width: 58%; float: left;
}
}
@media only screen and (max-width:675px)
{
footer .footer_logo {
	width: 100%; margin-bottom: 20px;
}
footer .footer_col {
	width: 90%; float: left;
}
.tablelenta .tab_pad td {
	padding: 4px !important;
}
.tablelenta td:nth-child(2) {
	width: 35px;
}
.tablelenta tr td:first-child a {
	display: block;
}
.tablelenta th:nth-child(4) {
	width: 100px;
}
}
@media only screen and (min-width:555px)
{
.chat_row {
	vertical-align: top; display: inline-block;
}
}
@media only screen and (min-width:568px)
{
.level_1 .login .profile_block {
	left: 256px;
}
}
@media only screen and (max-width:554px)
{
.chat_row {
	margin: 0px auto; display: block;
}
.box_chat {
	display: none;
}
}
@media only screen and (min-width:540px)
{
section article .user_info .stats {
	width: 35%; vertical-align: top; display: inline-block; max-width: 240px;
}
.stats_graf {
	width: 62%; vertical-align: top; display: inline-block;
}
section article .user_info .stats ul .text_left {
	width: 95px;
}
}
@media only screen and (max-width:529px)
{
.delete_tab {
	display: none !important;
}
}
@media only screen and (min-width:500px)
{
footer .footer_menu {
	width: 33.33%; float: left;
}
footer .footer_counter {
	width: 10%; float: left;
}
footer .footer_counter .age_18 {
	float: right;
}
}
@media only screen and (min-width:481px)
{
.mobile {
	display: none;
}
.tablelenta tr .tips-desc .span-title {
	display: none;
}
.frst_block_ic {
	display: none !important;
}
.last_block_ic {
	display: none !important;
}
.center_but li a img {
	display: none !important;
}
ul.nav_one li {
	width: 25%;
}
section article .news .commands {
	float: left;
}
.robot-table__cell-match .wrap_flags {
	float: left;
}
.robot-table__cell-match a {
	float: left;
}
.header-logo img {
	max-width: 100%;
}
.top__navigation .col_lp {
	vertical-align: middle; float: none; display: table-cell; position: relative;
}
.top__navigation .drop:hover::before {
	background: url("/templates/new/images/article_navigation_hover.gif") no-repeat bottom; left: 50%; width: 10px; height: 4px; bottom: -3px; margin-left: -2px; position: absolute; z-index: 10; content: "";
}
.top__navigation .drop:hover ul {
	display: block;
}
.top__navigation :first-child.col_lp {
	width: 62px;
}
.top__navigation a:hover {
	background-color: rgb(38, 102, 185);
}
.top__navigation a:hover span {
	color: rgb(255, 255, 255);
}
.top__navigation .drop:hover span {
	color: rgb(255, 255, 255);
}
.stake_match .stake_flag {
	margin: 0px 5px; float: left;
}
.robot-table th {
	padding: 7px 5px;
}
.robot-table td {
	padding: 7px 5px;
}
section article .news .statistics.down .orating {
	margin: -9px 0px 0px;
}
.width100 td {
	padding: 4px;
}
.mob_table tr td:nth-child(2) {
	text-align: left !important;
}
section article .news .statistics.down .editor {
	margin: 2px 0px 0px 30px;
}
section article .w350 {
	width: 350px;
}
.gs_news_short_new {
	height: 145px; overflow: hidden;
}
.gs_short_news_block a img {
	top: 10px; position: absolute;
}
.gs_short_news_block a p.title_short {
	padding-left: 210px;
}
.gs_short_news_block a div {
	overflow: hidden; padding-left: 210px; max-height: 44px;
}
.gs_short_news_block a p.other_short {
	left: 210px; bottom: 7px; position: absolute;
}
section article .user_info .right_block .friends_list a {
	width: 30%;
}
.lenta_filtr tr {
	width: 49%; float: left;
}
.comment .text .cmc {
	left: 50%; top: 0px; text-align: center; position: absolute;
}
.cmp__tournirs th {
	padding: 8px 10px;
}
.cmp__tournirs td {
	padding: 8px 10px;
}
.cmp__tournirs-head a {
	padding: 10px; font-size: 12px;
}
.cmp__tournirs-head .i-icon {
	margin-top: -3px; margin-right: 3px;
}
.ui-accordion-icons .ui-accordion-header a {
	padding-right: 55px !important;
}
}
@media only screen and (max-width:480px)
{
.datatable {
	width: 100% !important; display: block !important;
}
.datatable tr {
	width: 100% !important; display: block !important;
}
.datatable tr td {
	width: 100% !important; display: block !important;
}
.goalstat-statis {
	width: 100%;
}
.olimp_banner {
	width: 100%;
}
.ui-tabs-style .ui-tabs .ui-widget-header {
	padding: 0px !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable {
	width: 300px !important;
}
.ui-tabs .ui-tabs-nav li a {
	padding: 0px; height: auto;
}
section article .news .commands img {
	display: none !important;
}
.remaintime_news {
	display: none;
}
.no_bl {
	display: none;
}
.text-center.livescores__table-kf-history {
	display: none;
}
.tablelenta tr .tips-desc .span-title {
	display: none;
}
.tablelenta tr .pointer.tips_hdesc .span-title {
	display: none;
}
.delete_block {
	display: none;
}
.stake_match .stake_flag {
	display: none;
}
.desktop {
	display: none;
}
.span-title {
	display: none;
}
#subscriberTable tr td:nth-child(2) {
	display: none;
}
#subscriberTable tr td:nth-child(4) {
	display: none;
}
#subscriberTable tr td:nth-child(8) {
	display: none;
}
.expresstable .express_num {
	display: none !important;
}
.user_info #tabs-2 #ratingtable tr td:nth-child(3) {
	display: none !important;
}
.user_info #tabs-2 #ratingtable tr td:nth-child(9) {
	display: none !important;
}
.user_info #tabs-2 #ratingtable tr td:nth-child(10) {
	display: none !important;
}
.frst_block_ic {
	display: block;
}
.last_block_ic {
	display: block;
}
.cmp__tournirs-more {
	width: 70px; text-align: center; float: none !important; display: none;
}
.ui-accordion .ui-accordion-header {
	background-image: none !important;
}
#ratingtable tr th {
	padding: 8px 2px !important;
}
#ratingtable tr td {
	padding: 8px 2px !important;
}
.cmp__tournirs-head a {
	padding: 8px 4px !important;
}
#oddstable th {
	padding: 8px 4px;
}
#oddstable td {
	padding: 8px 4px;
}
#oddstable tr th.cmp__tournirs-tur {
	display: none;
}
#oddstable tr th.cmp__tournirs-per {
	display: none;
}
#oddstable tr th.cmp__tournirs-author {
	display: none;
}
#oddstable tr td.cmp__tournirs-tur {
	display: none;
}
#oddstable tr td.cmp__tournirs-per {
	display: none;
}
#oddstable tr td.cmp__tournirs-author {
	display: none;
}
#oddstable .cmp__bk_hint {
	vertical-align: middle; display: inline-block;
}
.cmp__tournirs-head a {
	font-size: 11px !important;
}
.cmp__tournirs-name span {
	font-size: 11px !important;
}
.table-icon {
	margin: 0px auto !important; display: block;
}
.cmp__tournirs-head .i-icon {
	margin: 0px auto !important; display: block;
}
#ratingtable .table-icon {
	display: none;
}
.cmp__tournirs.cmp__tournirs_border tr td:nth-child(3) {
	text-align: center;
}
.comment .text .cmc {
	margin-bottom: 10px;
}
.tablelenta th:nth-child(1) {
	width: 20%;
}
.tablelenta th:nth-child(4) {
	width: 20%;
}
.tablelenta th:nth-child(5) {
	width: 11%;
}
.nohover tr {
	width: 100% !important;
}
section article .user_info .right_block .friends_list a {
	width: 47%;
}
.head_link a {
	margin: 2px 0px;
}
.gs_short_news_block a p.other_short {
	margin: 10px 10px 10px 0px;
}
.gs_short_news_block a img {
	margin: 0px auto 10px;
}
.gs_short_news_block a {
	text-align: center;
}
.stats_graf {
	text-align: center;
}
.user_info #tabs .center_but {
	text-align: center;
}
.gs_short_news_block a p {
	text-align: left !important;
}
.gs_short_news_block a div {
	text-align: left !important;
}
.fullnews-img img {
	width: 100%;
}
.ic_finance_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_finance_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ui-widget-content .ic_finance_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_finance_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ui-widget-header .ic_finance_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_finance_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ic_finance_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_finance_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ui-widget-content .ic_finance_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_finance_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ui-widget-header .ic_finance_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_finance_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ic_profit_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_profit_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ui-widget-content .ic_profit_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_profit_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ui-widget-header .ic_profit_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_profit_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ic_profit_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_profit_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ui-widget-content .ic_profit_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_profit_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ui-widget-header .ic_profit_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_profit_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ic_rating_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_rating_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ui-widget-content .ic_rating_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_rating_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ui-widget-header .ic_rating_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_rating_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ic_rating_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_rating_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ui-widget-content .ic_rating_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_rating_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ui-widget-header .ic_rating_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_rating_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ic_photo_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_photo_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ui-widget-content .ic_photo_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_photo_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ui-widget-header .ic_photo_tab.ui-state-default {
	background: url("/templates/adaptiv/images/ic_photo_tab.png") no-repeat center rgb(223, 239, 252) !important;
}
.ic_photo_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_photo_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ui-widget-content .ic_photo_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_photo_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.ui-widget-header .ic_photo_tab.ui-state-active {
	background: url("/templates/adaptiv/images/ic_photo_tab_active.png") no-repeat center rgb(255, 255, 255) !important;
}
.wid_foto {
	width: 100%;
}
.xprofile input {
	width: 90% !important;
}
.f_textarea {
	width: 88%;
}
#options .width100 tr td:nth-child(1) {
	width: 80px;
}
.user_info #tabs .center_but li {
	width: 22%; height: 25px; float: none; display: inline-block; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
}
.user_info #tabs .center_but li a {
	width: 100%; height: 26px; font-size: 0px !important; display: block;
}
.stats_graf a {
	width: 42%; float: none; display: inline-block;
}
section article .related_news {
	margin-top: 5px;
}
section article .news .statistics.down .editor {
	margin: 16px 0px 0px;
}
section article .news .statistics_top {
	margin: 17px 0px 0px; width: 20%; text-align: right; float: right;
}
.related_news .title.left {
	text-align: left; float: none !important;
}
.width100 td {
	padding: 4px 0.5%;
}
input[type='text'].form-control {
	-ms-text-overflow: ellipsis;
}
.share.right {
	padding-bottom: 10px; margin-bottom: 10px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; float: none !important;
}
.share.right .share__icon {
	float: none !important;
}
.content__p {
	padding: 0px 5px;
}
.robot-table th {
	padding: 7px 1px;
}
.robot-table td {
	padding: 7px 1px;
}
.pro_more_games {
	top: 38px; width: 150px; right: 0px; display: none; position: absolute; z-index: 50;
}
.low_more_games {
	top: 38px; width: 150px; right: 0px; display: none; position: absolute; z-index: 50;
}
.pro_more_games {
	box-shadow: 0px 4px 7px #becff0;
}
.low_more_games {
	box-shadow: 0px 4px 7px #becff0;
}
.top__navigation .adaptcol {
	vertical-align: middle; float: none; display: table-cell; position: relative;
}
.icon_more_sports {
	padding: 0px 15px !important;
}
.dott {
	margin: 4px auto; border-radius: 50%; width: 6px; height: 6px; display: block; background-color: rgb(38, 102, 185);
}
.icon_more_sports.active {
	background-color: rgb(38, 102, 185);
}
.icon_more_sports.active > .dott {
	background-color: rgb(255, 255, 255);
}
:first-child.dott {
	margin-top: 6px;
}
section article .news .statistics.down .stats {
	float: none;
}
section article .news .statistics.down .subs {
	margin: 15px 0px 0px !important;
}
section article .news .statistics.down .orating {
	margin: 3px 0px 0px !important;
}
section article .news .info .date {
	width: 37%; text-align: right;
}
section article .news .commands {
	width: 80%; font-size: 15px !important; float: left; display: block;
}
section article .news .commands span {
	display: block !important;
}
section article .news .commands h1 {
	overflow: hidden; font-size: 15px !important; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
section article .news .commands .commands__name {
	overflow: hidden; font-size: 15px !important; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
section article .news .statistics {
	float: right;
}
section article .navigation {
	margin: 10px auto !important; font-size: 11px;
}
section article .navigation a {
	padding: 0px !important;
}
section article .navigation .prev {
	top: 10px;
}
.ui-tabs-style .ui-tabs .ui-widget-header {
	height: auto !important;
}
.ui-tabs-style .ui-tabs .ui-tabs-nav li {
	border-radius: 5px; margin-right: 5px; margin-bottom: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.expresstable tr td.express_state {
	width: 16px;
}
.friends__photo {
	left: 0px; top: 0px; margin-bottom: 5px; position: relative;
}
.friends__item {
	padding: 10px 0px 0px;
}
.result__link-show {
	margin-left: 5px;
}
.result__link-edit {
	margin-left: 5px;
}
section article .news .block__match .game_start {
	width: 80%;
}
section article .news .block__match .right {
	text-align: right; margin-top: 5px;
}
.mob_robo {
	display: none !important;
}
.friends__info-item dt {
	width: 130px;
}
.friends__info-item dd {
	width: 160px;
}
.cmp__tournirs_border td {
	padding: 5px 0px;
}
#lasttipstable .cmp__tournirs-author {
	display: none;
}
#lasttipstable .cmp__tournirs-tur {
	display: none;
}
#lasttipstable .cmp__tournirs-per {
	display: none;
}
.owl-menu-main .link-livevilki {
	display: none !important;
}
}
@media only screen and (max-width:499px) and (min-width:366px)
{
footer .footer_logo {
	width: 100%; float: left;
}
footer .footer_col {
	width: 100%; float: left;
}
footer .age_18 {
	float: left;
}
footer .footer_counter {
	bottom: 60px; position: absolute;
}
footer .footer_counter .counter {
	margin-left: 16px; float: left;
}
}
@media only screen and (min-width:460px)
{
section article .user_info .left_block {
	width: 25%; vertical-align: top; display: inline-block; max-width: 120px;
}
section article .user_info .left_block .avatar {
	display: block;
}
section article .user_info .right_block {
	width: 71%; padding-left: 10px; vertical-align: top; display: inline-block;
}
}
@media only screen and (max-width:459px)
{
section article .user_info .left_block .avatar {
	vertical-align: top; display: inline-block;
}
.usersfbuttons {
	vertical-align: top; display: inline-block;
}
.cmp__tournirs-more .table-icon {
	display: none;
}
.usersfbuttons {
	margin-top: 5px;
}
footer .footer_counter {
	right: 20px; bottom: 24px; position: absolute;
}
section article .title_news h1.mobistyle_title {
	background: rgb(75, 75, 83) !important;
}
section article .title_news h1.mobistyle_title::after {
	background: none !important;
}
.editpage {
	font-size: 12px !important;
}
.editpage a {
	font-size: 12px !important;
}
.uItem {
	margin-top: 8px;
}
.cmp__tournirs cmp__tournirs_border .dtname .cmp__tournirs-more {
	display: none;
}
#ratingtable .cmp__tournirs cmp__tournirs_top .table-icon {
	display: none;
}
}
@media only screen and (min-width:560px)
{
.header-logo .logo_mobile {
	display: none;
}
}
@media only screen and (max-width:567px) and (min-width:380px)
{
.level_1 .login .profile_block {
	left: 46px;
}
}
@media screen and (min-width:320px) and (min-height:440px)
{
.level_1 section .level_1_layout {
	top: 0px; width: 100%; position: fixed; z-index: 1000; min-width: 320px; max-width: 1280px;
}
}
@media only screen and (max-width:559px)
{
.header-logo .logo_mobile_large {
	display: none;
}
}
@media only screen and (max-width:379px)
{
.level_1 .login .profile_block {
	left: 0px;
}
.login_link.drop .nameuser {
	width: 55px; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.ui-accordion .ui-accordion-content {
	padding: 10px !important;
}
.ui-helper-reset {
	line-height: 18px;
}
.showodds {
	text-align: left; white-space: normal !important;
}
}
@media only screen and (min-width:900px)
{
.mobiheader {
	left: 0px; top: 0px; height: 40px; right: 0px; position: absolute; background-color: rgb(27, 31, 34);
}
}
@media only screen and (min-width:361px)
{
.goalstat-match__team {
	width: 40%;
}
.goalstat-match__score {
	width: 20%;
}
.goalstat-sort__date {
	width: 70px;
}
}
