.big_provider {
	background: url("/img/panel.png?version=1.5.00"); width: 32px; height: 32px;
}
.small_provider {
	background: url("/img/small.png?version=1.5.00"); width: 16px; height: 16px;
}
.vkontakte_big {
	background-position: 0px -38px;
}
.vkontakte_small {
	background-position: 0px -19px;
}
.odnoklassniki_big {
	background-position: 0px -73px;
}
.odnoklassniki_small {
	background-position: 0px -42px;
}
.mailru_big {
	background-position: 0px -108px;
}
.mailru_small {
	background-position: 0px -65px;
}
.facebook_big {
	background-position: 0px -143px;
}
.facebook_small {
	background-position: 0px -88px;
}
.twitter_big {
	background-position: 0px -178px;
}
.twitter_small {
	background-position: 0px -111px;
}
.google_big {
	background-position: 0px -213px;
}
.google_small {
	background-position: 0px -134px;
}
.yandex_big {
	background-position: 0px -248px;
}
.yandex_small {
	background-position: 0px -157px;
}
.livejournal_big {
	background-position: 0px -283px;
}
.livejournal_small {
	background-position: 0px -180px;
}
.openid_big {
	background-position: 0px -318px;
}
.openid_small {
	background-position: 0px -203px;
}
.guest_big {
	background-position: 0px -353px;
}
.guest_small {
	background-position: 0px -226px;
}
.flickr_big {
	background-position: 0px -388px;
}
.flickr_small {
	background-position: 0px -249px;
}
.lastfm_big {
	background-position: 0px -423px;
}
.lastfm_small {
	background-position: 0px -272px;
}
.linkedin_big {
	background-position: 0px -458px;
}
.linkedin_small {
	background-position: 0px -295px;
}
.liveid_big {
	background-position: 0px -493px;
}
.liveid_small {
	background-position: 0px -318px;
}
.soundcloud_big {
	background-position: 0px -528px;
}
.soundcloud_small {
	background-position: 0px -341px;
}
.steam_big {
	background-position: 0px -563px;
}
.steam_small {
	background-position: 0px -364px;
}
.uid_big {
	background-position: 0px -598px;
}
.uid_small {
	background-position: 0px -387px;
}
.webmoney_big {
	background-position: 0px -633px;
}
.webmoney_small {
	background-position: 0px -410px;
}
.youtube_big {
	background-position: 0px -668px;
}
.youtube_small {
	background-position: 0px -433px;
}
.foursquare_big {
	background-position: 0px -703px;
}
.foursquare_small {
	background-position: 0px -456px;
}
.tumblr_big {
	background-position: 0px -738px;
}
.tumblr_small {
	background-position: 0px -479px;
}
.googleplus_big {
	background-position: 0px -773px;
}
.googleplus_small {
	background-position: 0px -502px;
}
.dudu_big {
	background-position: 0px -808px;
}
.dudu_small {
	background-position: 0px -525px;
}
.vimeo_big {
	background-position: 0px -843px;
}
.vimeo_small {
	background-position: 0px -548px;
}
.instagram_big {
	background-position: 0px -878px;
}
.instagram_small {
	background-position: 0px -571px;
}
.wargaming_big {
	background-position: 0px -913px;
}
.wargaming_small {
	background-position: 0px -594px;
}
.transparent {
	opacity: 0.55;
}
