.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
body {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
:focus {
	
}
.menu_vip_prognos {
	margin-bottom: 6px;
}
.menu_vip_prognos ul {
	list-style: none;
}
.menu_vip_prognos ul li {
	width: 25%; float: left; background-color: rgb(105, 105, 114);
}
.menu_vip_prognos ul li a {
	text-align: center; color: rgb(226, 233, 238) !important; font-family: Tahoma, Arial, sans-serif !important; font-weight: normal !important; text-decoration: none; border-right-color: rgb(141, 141, 151); border-right-width: 1px; border-right-style: solid; display: block; text-shadow: 0px 1px 0px rgba(54,54,57,0.75);
}
.menu_vip_prognos ul li:last-child a {
	border: currentColor; border-image: none;
}
.menu_vip_prognos ul li a:hover {
	box-shadow: inset 0px 0px 10px rgba(46,46,48,0.75); background-color: rgb(76, 76, 84);
}
.menu_vip_prognos ul li a:active {
	box-shadow: inset 0px 0px 10px rgba(46,46,48,0.75); background-color: rgb(76, 76, 84);
}
.icon_my_bets {
	background: url("img/sprite_menu_icons.png") no-repeat 0px 0px; width: 24px; height: 45px; display: inline-block;
}
.icon_all_rating {
	background: url("img/sprite_menu_icons.png") no-repeat 0px -45px; width: 24px; height: 45px; display: inline-block;
}
.icon_tec_st {
	background: url("img/sprite_menu_icons.png") no-repeat 0px -90px; width: 24px; height: 45px; display: inline-block;
}
.icon_discuss {
	background: url("img/sprite_menu_icons.png") no-repeat 0px -135px; width: 24px; height: 45px; display: inline-block;
}
.knpk_vp {
	margin: 0px auto;
}
.squer_green {
	padding: 15px 0px; width: 100%; background-color: rgb(102, 204, 102);
}
.squer_blue {
	padding: 15px 0px; width: 100%; background-color: rgb(198, 226, 255);
}
.table_prognos td {
	text-align: center; line-height: 18px; font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-weight: normal; vertical-align: middle;
}
.league_tab {
	font-size: 10px; font-weight: bold;
}
.real_kf {
	margin: 5px; bottom: 6px; color: rgb(222, 30, 19); font-size: 9px; position: relative;
}
.bk_tab {
	width: 6%;
}
.data_tab {
	width: 7%;
}
.icon_tab {
	width: 7%;
}
.avtor_tab {
	width: 12%;
}
.naim_tab {
	width: 40%;
}
.buy_tab {
	width: 20%;
}
.bk_result {
	width: 6%;
}
.icon_result {
	width: 6%;
}
.avtor_result {
	width: 12%;
}
.naim_result {
	width: 40%;
}
.pr_result {
	width: 22%;
}
.bg_light_blue {
	background-color: rgb(243, 248, 254);
}
.table_forecast {
	border: 2px solid rgb(189, 189, 189); border-image: none;
}
.block_vip_prognos {
	margin: 0px auto 6px; padding: 7px; background-color: rgb(125, 170, 222);
}
.title_prognos {
	padding: 19px 0px 5px; text-align: center; font-family: "PT Sans", Arial, sans-serif; font-size: 20px; font-weight: bold;
}
.title_prognos.vip_title {
	color: rgb(251, 251, 254);
}
.title_prognos.results_title {
	color: rgb(174, 39, 46);
}
.results_prog {
	color: rgb(253, 253, 253); background-color: rgb(175, 174, 174);
}
.table_prognos {
	width: 100%; border-spacing: 0;
}
.table_prognos td {
	text-align: center; line-height: 18px; font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-weight: normal; vertical-align: middle;
}
.real_kf {
	margin: 5px; bottom: 6px; color: rgb(222, 30, 19); font-size: 9px; position: relative;
}
.bg_light_blue {
	background-color: rgb(243, 248, 254);
}
.cartion_vp {
	text-align: center; font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-weight: bold;
}
table tr.cartion_vp.vip_prog:hover {
	background-color: rgb(10, 63, 125) !important;
}
.vip_prog {
	color: rgb(115, 150, 178); background-color: rgb(10, 63, 125);
}
.btn_vip_prognos {
	margin: 0px auto; padding: 0px 4%; border-radius: 5px; height: 30px; text-align: center; color: rgb(255, 255, 255) !important; text-transform: uppercase; line-height: 30px; font-family: "PT Sans", Arial, sans-serif !important; font-weight: normal !important; text-decoration: none !important; display: block; cursor: pointer; max-width: 120px; background-color: rgb(117, 153, 12); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.btn_vip_prognos:hover {
	color: rgb(255, 255, 255) !important; background-color: rgb(82, 109, 2) !important;
}
.btn_vip_prognos:active {
	color: rgb(255, 255, 255) !important; background-color: rgb(82, 109, 2) !important;
}
.time_vip {
	color: rgb(15, 86, 170) !important; text-decoration: none !important;
}
.avtor_prognos {
	color: rgb(15, 86, 170) !important; text-decoration: none !important;
}
.name_sport {
	text-align: left !important; color: rgb(48, 48, 48);
}
.red_profit {
	color: rgb(255, 0, 0) !important;
}
.red_profit:hover {
	color: rgb(255, 0, 0) !important;
}
.red_profit:active {
	color: rgb(255, 0, 0) !important;
}
.green_profit {
	color: rgb(0, 128, 0) !important;
}
.green_profit:hover {
	color: rgb(0, 128, 0) !important;
}
.green_profit:active {
	color: rgb(0, 128, 0) !important;
}
.bg_mid_blue {
	background-color: rgb(221, 230, 240);
}
.box_rules {
	margin: 0px auto 6px; padding: 6px; border: 1px solid rgb(218, 218, 218); border-image: none; background-color: rgb(253, 253, 253);
}
.bg_grey_rules {
	height: 30px; background-color: rgb(224, 224, 224);
}
.title_grey_rules {
	background: url("img/icon_cash_vp.jpg") no-repeat left; color: rgb(58, 54, 54); line-height: 30px; padding-left: 50px; font-family: "PT Sans", Arial, sans-serif; font-weight: bold; float: left;
}
.arrow_rules {
	background: url("img/arrow_down_vp.jpg") no-repeat right; width: 32px; height: 30px; float: right;
}
.info_rules {
	padding: 15px 20px; color: rgb(104, 104, 104); line-height: 24px; font-family: Tahoma, Arial, sans-serif; font-size: 13px; font-weight: normal; display: none; background-color: rgb(255, 255, 255);
}
.info_rules ul {
	list-style: none; padding-left: 19px;
}
.line_head {
	cursor: pointer;
}
.btn_rules {
	margin: 20px auto 0px; border-radius: 5px; width: 160px; height: 30px; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 29px; font-family: "PT Sans", Arial, sans-serif; font-size: 14px; font-weight: normal; text-decoration: none !important; display: block; background-color: rgb(25, 78, 127); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.payment_method_prognos {
	margin: 0px auto 6px; padding: 15px; border: 1px solid rgb(218, 218, 218); border-image: none;
}
.txt_advant_vip {
	margin: 0px auto 6px; padding: 15px; border: 1px solid rgb(218, 218, 218); border-image: none;
}
.payment_method_prognos {
	background-color: rgb(236, 249, 198);
}
.txt_advant_vip {
	background-color: rgb(255, 255, 255);
}
.nzv_bl_vp {
	color: rgb(55, 55, 55); font-family: "PT Sans", Arial, sans-serif; font-size: 18px; font-weight: normal;
}
.block_method {
	margin-top: 10px; border-top-color: rgb(229, 229, 230); border-top-width: 2px; border-top-style: solid;
}
.block_method img {
	margin: 3px 0px 0px; border: 1px solid rgb(229, 230, 229); border-image: none; max-width: 100px;
}
.block_method {
	padding-top: 5px;
}
.block_method ul {
	color: rgb(104, 104, 104); line-height: 28px; padding-left: 25px; font-family: Tahoma, Arial, sans-serif; font-size: 14px; font-weight: normal; margin-top: 15px; list-style-type: none;
}
.block_method ul > li::before {
	color: rgb(198, 198, 198); margin-left: -1.1em; float: left; content: "-";
}
.block_results_prognos {
	margin: 0px auto 6px; padding: 0px 7px 25px; border: 1px solid rgb(218, 218, 218); border-image: none; text-align: center; color: rgb(46, 46, 48); background-color: rgb(246, 246, 246);
}
.bg_white {
	background-color: rgb(255, 255, 255);
}
.bg_white td {
	border-top-color: rgb(227, 233, 240); border-top-width: 1px; border-top-style: solid;
}
.bg_mid_grey td {
	border-top-color: rgb(227, 233, 240); border-top-width: 1px; border-top-style: solid;
}
.bg_white:hover {
	background-color: rgb(255, 238, 169) !important;
}
.bg_mid_grey:hover {
	background-color: rgb(255, 238, 169) !important;
}
.bg_light_blue:hover {
	background-color: rgb(255, 238, 169) !important;
}
.bg_mid_blue:hover {
	background-color: rgb(255, 238, 169) !important;
}
.bg_mid_grey {
	background-color: rgb(242, 242, 242);
}
.win_results {
	height: 18px; line-height: 20px; padding-left: 23px; font-family: Tahoma, Arial, sans-serif; font-size: 14px; font-weight: normal;
}
.lose_results {
	height: 18px; line-height: 20px; padding-left: 23px; font-family: Tahoma, Arial, sans-serif; font-size: 14px; font-weight: normal;
}
.win_results {
	background: url("img/sprite_menu_icons.png") no-repeat 0px -180px; color: rgb(0, 128, 0); margin-right: 8px;
}
.lose_results {
	background: url("img/sprite_menu_icons.png") no-repeat 0px -198px; color: rgb(106, 106, 106); margin-left: 8px;
}
.block_results_prognos .table_prognos {
	border-bottom-color: rgb(227, 233, 240); border-bottom-width: 1px; border-bottom-style: solid;
}
.squer_green {
	padding: 15px 0px; width: 100%;
}
.squer_blue {
	padding: 15px 0px; width: 100%; background-color: rgb(198, 226, 255);
}
.wid_col {
	padding: 12px 0px 11px 10px !important;
}
.wrap_vip1 {
	display: none;
}
.window_vip1 {
	display: none;
}
.wrap_vip2 {
	display: none;
}
.window_vip2 {
	display: none;
}
.wrap_vip3 {
	display: none;
}
.window_vip3 {
	display: none;
}
.wrap_vip4 {
	display: none;
}
.window_vip4 {
	display: none;
}
.wrap_vip5 {
	display: none;
}
.window_vip5 {
	display: none;
}
.wrap_vip6 {
	display: none;
}
.window_vip6 {
	display: none;
}
.wrap_vip7 {
	display: none;
}
.window_vip7 {
	display: none;
}
.wrap_vip8 {
	display: none;
}
.window_vip8 {
	display: none;
}
.wrap_vip9 {
	display: none;
}
.window_vip9 {
	display: none;
}
.wrap_vip10 {
	display: none;
}
.window_vip10 {
	display: none;
}
.fon_online_order {
	left: 0px; top: 0px; width: 100%; height: 100%; right: 0px; bottom: 0px; position: fixed; z-index: 999999; opacity: 0.5; background-color: black;
}
.subscription_bg {
	margin: 0px 3%; padding: 20px 0px; border-radius: 10px; border: 1px solid rgb(218, 218, 218); border-image: none; left: 0px; right: 0px; position: absolute; z-index: 9999999; max-width: 480px; box-shadow: 0px 0px 30px rgba(0,0,0,1); background-color: rgb(246, 246, 246); -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
.title_subscription {
	text-align: center; color: rgb(28, 65, 120); line-height: 22px; font-family: "PT Sans", Arial, sans-serif; font-size: 20px; font-weight: bold;
}
.block_subscription {
	list-style: none; margin: 20px 0px; border-bottom-color: rgb(218, 218, 218); border-bottom-width: 1px; border-bottom-style: solid;
}
.block_subscription li {
	padding: 0px 5%; color: rgb(62, 61, 61); line-height: 37px; font-family: Tahoma, Arial, sans-serif; font-size: 14px; font-weight: normal; border-top-color: rgb(218, 218, 218); border-top-width: 1px; border-top-style: solid; background-color: rgb(255, 255, 255);
}
.price_subscription {
	color: rgb(117, 153, 12); font-weight: bold;
}
.period_subscription {
	color: rgb(14, 14, 14); font-weight: bold;
}
.pay_bl {
	width: 120px; margin-top: 3px;
}
.sub_block_vip p {
	color: rgb(96, 96, 96);
}
.icon_close {
	background: url("img/sprite_skype_icq.png") no-repeat 0px -88px; top: -9px; width: 18px; height: 18px; right: -9px; position: absolute; cursor: pointer;
}
.icon_close:hover {
	background: url("img/sprite_skype_icq.png") no-repeat 0px -106px;
}
.icon_close:active {
	background: url("img/sprite_skype_icq.png") no-repeat 0px -106px;
}
.text_open {
	display: none; background-color: rgb(255, 255, 255);
}
.text_open2 {
	display: none; background-color: rgb(255, 255, 255);
}
.text_open td {
	padding: 15px; border: 1px solid rgb(227, 233, 240); border-image: none; text-align: left;
}
.text_open2 td {
	padding: 15px; border: 1px solid rgb(227, 233, 240); border-image: none; text-align: left;
}
.subscript__block {
	padding: 0px 15px; text-align: left; color: red; font-size: 12px; margin-top: 5px;
}
.newtitle h3 span {
	color: rgb(105, 105, 105);
}
.newtable {
	border-spacing: 0;
}
.newtable td {
	-ms-word-wrap: break-word;
}
.newtr {
	background-color: rgb(51, 153, 153) !important;
}
.newtr:hover {
	background-color: rgb(51, 153, 153) !important;
}
.newtitle {
	text-align: center;
}
.newtable td {
	text-align: center;
}
.newtbody td:nth-child(2) {
	text-align: left !important;
}
.newtr td a {
	color: rgb(255, 255, 255); text-decoration: none;
}
@media only screen and (max-width:1023px)
{
.cartion_vp {
	font-size: 11px !important;
}
.time_vip {
	font-size: 11px !important;
}
}
@media only screen and (min-width:569px)
{
.btn_vip_prognos {
	font-size: 14px !important;
}
.menu_icons {
	height: 45px; line-height: 44px; vertical-align: top; display: inline-block;
}
.box_rules.menu_vip_prognos ul {
	height: 45px;
}
.box_rules.menu_vip_prognos ul li {
	height: 45px;
}
.center_bl_menu {
	height: 45px;
}
}
@media only screen and (max-width:568px)
{
.btn_vip_prognos {
	font-size: 11px !important;
}
.menu_icons {
	height: 45px;
}
}
@media only screen and (min-width:481px)
{
.title_grey_rules {
	font-size: 18px;
}
.menu_vip_prognos ul li a {
	font-size: 12px !important;
}
.bk_tab {
	width: 6%;
}
.data_tab {
	width: 7%;
}
.icon_tab {
	width: 7%;
}
.avtor_tab {
	width: 12%;
}
.naim_tab {
	width: 40%;
}
.buy_tab {
	width: 20%;
}
.block_subscription li {
	line-height: 38px;
}
.pay_bl {
	float: right;
}
.different_subscript {
	float: left;
}
.table_prognos td {
	padding: 7px 1px;
}
.cartion_vp th {
	padding: 12px 3px 11px;
}
.block_method img {
	height: 46px; margin-top: 15px; margin-right: 10px;
}
}
@media only screen and (max-width:480px)
{
.table_forecast .cartion_vp th {
	padding: 12px 0px 11px;
}
.table_forecast tr .name_sport {
	display: none !important;
}
.table_forecast tr .naim_tab {
	display: none !important;
}
.title_grey_rules {
	font-size: 12px;
}
.menu_vip_prognos ul li a {
	font-size: 12px;
}
.block_subscription li {
	padding: 0px 0px 5px;
}
.newtitle {
	margin-top: 15px;
}
.newtable td {
	padding: 4px 0px !important;
}
.newname {
	width: 18%;
}
.newnumber {
	width: 17%;
}
.newprofit {
	width: 9%;
}
.newwin {
	padding: 0px 1%; width: 3%;
}
.block_method img {
	width: 31%;
}
}
