#userBlock {
	margin: 0px auto; padding: 0px; width: 98%; position: relative; background-image: url("http://www.vprognoze.ru/templates/vprognoze/images/cellpic.png"); background-repeat: repeat-x; background-color: rgb(255, 255, 255);
}
#userBlock h5 {
	margin: 0px; padding: 3px 0px 0px 3px; height: 25px; color: blue; font-size: 14px; font-weight: bold;
}
#uBlockcont {
	text-align: left; padding-bottom: 15px; border-left-color: rgb(255, 255, 255); border-left-width: 150px; border-left-style: solid; position: relative; background-color: rgb(255, 255, 255);
}
#ucontainer {
	width: 100%; overflow: hidden; margin-right: -100%;
}
#ucontent {
	margin: 3px 10px 0px 0px; padding: 0px; text-align: left; background-color: rgb(255, 255, 255);
}
#ucontent .uTitle {
	margin: 0px 0px 3px; background-color: rgb(255, 255, 255);
}
#ucontent span img {
	width: 16px;
}
#ucontent .uTitle span {
	margin: 0px 3px 0px 0px; float: left; background-color: rgb(255, 255, 255);
}
#ucontent .uTitle div.usertitleline {
	width: 100%; height: 20px; margin-left: 180px; background-image: url("line.gif"); background-repeat: repeat-x;
}
#ucontent .uItem {
	margin: 0px 0px 5px; background-color: rgb(255, 255, 255);
}
#ucontent .uItem span {
	color: rgb(0, 0, 0); float: left;
}
#ucontent .uItem div {
	padding-right: 5px; margin-left: 180px; background-color: rgb(255, 255, 255);
}
#defLeft {
	left: -150px; top: 0px; width: 150px; text-align: center; position: absolute; background-color: rgb(255, 255, 255);
}
#defLeft img {
	margin-top: 10px;
}
.spoiler-head {
	background: 0px 0px rgb(233, 233, 230); border-width: 1px 1px 1px 2px; border-style: solid; border-color: rgb(195, 203, 209); padding: 1px 14px 3px; width: 97%; line-height: 15px; font-size: 14px; margin-left: 6px; cursor: pointer;
}
.folded {
	background: url("../dleimages/spoiler-plus.gif") no-repeat left; padding-left: 14px; display: block;
}
.unfolded {
	background: url("../dleimages/spoiler-minus.gif") no-repeat left; padding-left: 14px; display: block;
}
.spoiler-body {
	padding: 1px 6px 2px; line-height: 20px;
}
